@model BankLoanSystem.Models.TitleStatus
@{
    WebGrid grid = new WebGrid(Model.TitleList, defaultSort: "AdvanceDate", canPage: false, ajaxUpdateContainerId: "searchGrid1", ajaxUpdateCallback: "GridUpdate");
}
<style>
    #searchGrid table tbody,
    #searchGrid table thead {
        display: block;
    }



    #searchGrid table tbody {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
@if ((Model.TitleList.Count() != 0)&&(Model.TitleList!=null))
{
    <div id="searchGrid">
        @grid.GetHtml(
            tableStyle: "gridtable",
            headerStyle: "webgrid-header",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style",
            htmlAttributes: new { id = "titleGrid" },
            columns: grid.Columns(
                 grid.Column(
                   "AdvanceDate",
                   "Date Advanced", canSort: false, style: "gridColumnOthers",
                   format: (item) => string.Format("{0:MM/dd/yyyy}", item.AdvanceDate)
               ),

                grid.Column("VIN/HIN/Serial #", "VIN/HIN/Serial #", canSort: false, style: "gridColumnVIN", format:@<text>@{<label id="vin" class="vin">@item.IdentificationNumber</label><input type="hidden" name="IDHidden" value="@item.UnitId" id="uId" />}</text>),
                grid.Column("Year", "Year", canSort: false, style: "gridColumnSmall", format:@<text>@{<label id="year" class="year">@item.Year</label>}</text>),
                grid.Column("Make", "Make", canSort: false, style: "gridColumnOthers", format:@<text>@{<label id="make" class="make">@item.Make</label>}</text>),
                grid.Column("Model", "Model", canSort: false, style: "gridColumnOthers", format:@<text>@{<label id="model" class="model">@item.Model</label>}</text>),
                 grid.Column("Current Unit Status", "Current Unit Status", style: "gridColumnOthers", canSort: false, format:@<text>@{<label id="currentUnitStatus" class="currentUnitStatus">@item.CurrentUnitStatus</label>}</text>),
                grid.Column("Current Title Status", "Current Title Status", style: "gridColumnOthers", canSort: false, format:@<text>@{<label id="currentStatus" class="currentStatus">@item.CurrentTitleStatus</label>}</text>)
                                )
                    )
            </div>

}
else {
    <div id="noDataLabelDiv" style="float: unset;font:medium;color:red;text-align:center">
        @*@Html.Label("No search data found", htmlAttributes: new { @class = "control-label col-sm-3", @style = "float:unset" })*@
        <label>No units matching the search could be found.</label>
    </div>

}

<script>
    $(function () {

        $('#titleGrid').children('tbody').children('tr').click(function () {
            var tr = $(this);
            $('.centered span').text('');
            $(this).css('background', 'lightblue');
            $(this).siblings().css('background', 'aliceblue');
            SetTextBoxValues(tr);

        });
    });

    if ($('#titleGrid').children('tbody').children('tr').length == 1) {
       
        var model = @Html.Raw(Json.Encode(Model));
        var vinNum = model.TitleList[0].IdentificationNumber.toString();
        var yr = model.TitleList[0].Year.toString();
        var make1 = model.TitleList[0].Make.toString();
        var model1 = model.TitleList[0].Model.toString();
        var tit = model.TitleList[0].CurrentTitleStatus.toString();
        var uit = model.TitleList[0].CurrentUnitStatus.toString();
        var uid = model.TitleList[0].UnitId.toString();

        SetTextBoxValues_2(vinNum,yr,make1,model1,tit,uit,uid);
    }
    else if ($('#titleGrid').children('tbody').children('tr').length == 0){
        ClearValues();
    }
    else{
        ShowDivs();
    }
</script>
<script>


    // Change the selector if needed
    var table = $('table'),
        bodyCells = table.find('tbody tr:first').children(),
        colWidth;

    // Adjust the width of thead cells when window resizes
    $(window).resize(function() {
        // Get the tbody columns width array
        colWidth = bodyCells.map(function() {
            return $(this).width();
        }).get();

        // Set the width of thead columns
        table.find('thead tr').children().each(function(i, v) {
            $(v).width(colWidth[i]);
        });
    }).resize(); // Trigger resize handler

    $(window).bind("load",function(){

        // Get the tbody columns width array
        colWidth = bodyCells.map(function() {
            return $(this).width();
        }).get();

        // Set the width of thead columns
        table.find('thead tr').children().each(function(i, v) {
            $(v).width(colWidth[i]);
        });
    });
</script>