@model BankLoanSystem.Models.TitleStatus
@{
    Layout = null;
    ViewBag.Title = "Title Status Update";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title Status Update</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/commonActions.css" rel="stylesheet" />
    <link href="~/Content/overlaypopup.css" rel="stylesheet" />
</head>
<body>

    <div class="container" id="container">




        @{
            Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
        }



        <div class="details-container">

            @*<div class="right-panel">
                                @{
                //Html.RenderAction("LoanPaymentDetails", "Unit");
                                }

                            </div>*@


            <div class="body-content" style="float:right;margin-bottom:15px;width:100%;height:auto">
              
                <div class="info-bar">

                    <div class="form-group row" style="margin-bottom: 0px;">
                        <label for="" class="col-sm-6 form-control-label">Enter the last 6 characters of the VIN/HIN/Serial Number for the unit you would like to update the title status of.</label>


                        <div class="col-md-2">
                            @Html.EditorFor(model=>model.IdentificationNumberSearch,new { htmlAttributes = new { @class = "form-control",@id = "identificationNumberSearch",@maxlength =6} })
                            @Html.ValidationMessageFor(model => model.IdentificationNumberSearch, "", new { @class = "text-danger" })
                            <div id="searchIdentificationNumber" class="validation-error"><span class="text-danger"></span></div>
                        </div>
                         <button type="button" class="btn btn-info" id="btnDisplay">Display</button>
                    </div>



                </div>

                <div class="info-bar" id="searchGrid1" style="margin-top:15px">
                    
                    
                </div>

                <div class="info-bar search-panel" style="margin-top:15px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <form>
                                <fieldset>
                                    <div class="form-group row">
                                        <div class="col-md-2" style="width:21%">
                                            <label for="">VIN/HIN/Serial</label>
                                            @Html.EditorFor(model => model.TitleDetails.IdentificationNumber, new { htmlAttributes = new { @class = "form-control", @id = "identificationNumber", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.TitleDetails.IdentificationNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2" style="width:10%;text-align:left">
                                            <label for="">Year</label>
                                            @Html.EditorFor(model => model.TitleDetails.Year, new { htmlAttributes = new { @class = "form-control", @id = "unitYear", @disabled = "disabled"} })
                                            @Html.ValidationMessageFor(model => model.TitleDetails.Year, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            <label for="">Make</label>
                                            @Html.EditorFor(model => model.TitleDetails.Make, new { htmlAttributes = new { @class = "form-control", @id = "unitMake",@disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.TitleDetails.Make, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2">
                                            <label for="">Model</label>
                                            @Html.EditorFor(model => model.TitleDetails.Model, new { htmlAttributes = new { @class = "form-control", @id = "unitModel", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.TitleDetails.Model, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2">
                                            <label for="">Current Unit Status</label>
                                            @Html.EditorFor(model => model.TitleDetails.CurrentUnitStatus, new { htmlAttributes = new { @class = "form-control", @id = "unitStatus", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.TitleDetails.CurrentUnitStatus, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            <label for="">Current Title Status</label>
                                            @Html.EditorFor(model => model.TitleDetails.CurrentTitleStatus, new { htmlAttributes = new { @class = "form-control", @id = "titleStatus", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.TitleDetails.CurrentTitleStatus, "", new { @class = "text-danger" })
                                        </div>
                                        </div>
                                    <div class="form-group row" style="margin-top:25px">
                                        <label for="" class="col-sm-9 form-control-label">Select the status you wish to update the title to: </label>


                                        <div class="col-md-8" style="margin-left:200px">
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="notReceived" value="0"> Not Recieved

                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="received" value="1"> Recieved
                                            </label>
                                            @if (ViewBag.CompanyType == 1)
                                            {
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions" id="returnDealer" value="2"> Returned to Dealer
                                                </label>
                                            }
                                            else if (ViewBag.CompanyType == 2)
                                            {
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions" id="sentBank" value="3"> Sent to Bank
                                                </label>
                                            }
                                            <div id="updateTitleDiv" class="validation-error"><span class="text-danger"></span></div>
                                        </div>
                                        <div id="unitid" class="hidden"></div>
                                    </div>
                                        <button type="button" class="btn btn-info" id="btnUpdate"style="width:100px">Update</button>
                                        <button type="button" class="btn btn-default" id="btnCancel" tabindex="-1" style="float:right;">Cancel</button>
</fieldset>
                            </form>
                        </div>
                    </div>




                </div>


            </div>

        </div>


        <div class="link-bar" style="margin-bottom:15px;">


            @{
                Html.RenderAction("GetLinkBar", "Unit");
            }


        </div>


    </div>

    <div class="overlay-bg">
    </div>
    <div class="overlay-content popup2" style="left:55%">
        <h3>This unit has not been paid off, do you wish to proceed?</h3>

        @*<span class="text-warning">Do you wish to proceed?</span><br />*@
        <span> Press YES to update the title status, or NO to cancel the update.</span><br />
        <br />
        <button type="button" class="btn btn-info" id="btnYes" style="width:100px">Yes</button>
        <button type="button" class="btn btn-info" id="btnNo" style="width:100px;margin-left:20px;">No</button>
    </div>


    <script src="~/scripts/CommonFunctions.js"></script>
    <script>

        $(document).ready(function () {
            $('#searchGrid1').hide();
        });
        function ClearValues() {

           // $('#searchGrid1').hide();
            //$('#identificationNumberSearch').val('');
            $('#identificationNumber').val('');
            $('#unitYear').val('');
            $('#unitMake').val('');
            $('#unitModel').val('');
            $('#titleStatus').val('');
            $('#unitStatus').val('');
            $('#notReceived').prop('checked', false);
            $('#received').prop('checked', false);
            $('#returnDealer').prop('checked', false);
            $('#sentBank').prop('checked', false);
            $('#updateTitleDiv span').text('');
            $('#searchIdentificationNumber span').text('');
            $('.centered span').text('');
            $('#updateTitleDiv span').text('');
            $('#identificationNumberSearch').removeClass('input-validation-error');
        };
        //cancel button click event
        $('#btnCancel').click(function () {
            $('#searchGrid1').hide();
            $('#identificationNumberSearch').val('');
            $('#identificationNumber').val('');
            $('#unitYear').val('');
            $('#unitMake').val('');
            $('#unitModel').val('');
            $('#titleStatus').val('');
            $('#unitStatus').val('');
            $('#notReceived').prop('checked', false);
            $('#received').prop('checked', false);
            $('#returnDealer').prop('checked', false);
            $('#sentBank').prop('checked', false);
            $('#updateTitleDiv span').text('');
            $('#searchIdentificationNumber span').text('');
            $('.centered span').text('');
            $('#updateTitleDiv span').text('');
            $('#identificationNumberSearch').removeClass('input-validation-error');
            
        });
        //click event of popup "Yes"
        $('#btnYes').click(function () {
            UpdateTitleStatus();
        });
        //click event of popup "No"
        $('#btnNo').click(function () {
            closePopup();
        });
        //show search grid
        function ShowDivs() {
            $('#searchGrid1').show();
        }
        //fill text box values if search grid row count=1
        function SetTextBoxValues_2(vinNum, yr, make1, model1, tit,uit,uid)
        {
           
            $('#searchGrid1').hide();
            $('#identificationNumber').val(vinNum);
            $('#unitYear').val(yr);
            $('#unitMake').val(make1);
            $('#unitModel').val(model1);
            $('#titleStatus').val(tit);
            $('#unitStatus').val(uit);
            document.getElementById("unitid").innerHTML = uid;
            $('#notReceived').prop('checked', false);
            $('#received').prop('checked', false);
            $('#returnDealer').prop('checked', false);
            $('#sentBank').prop('checked', false);
        };
        //clear error span
        $('#notReceived').click(function ()
        {
            $('#updateTitleDiv span').text("");
            if ($('#searchIdentificationNumber span').text() == "") {
                $('.centered span').text('');
            }
            
        });
        $('#received').click(function () {
            $('#updateTitleDiv span').text("");
            if ($('#searchIdentificationNumber span').text() == "") {
                $('.centered span').text('');
            }
        });
        $('#returnDealer').click(function () {
            $('#updateTitleDiv span').text("");
            if ($('#searchIdentificationNumber span').text() == "") {
                $('.centered span').text('');
            }
        });
        $('#sentBank').click(function () {
            $('#updateTitleDiv span').text("");
            if ($('#searchIdentificationNumber span').text() == "") {
                $('.centered span').text('');
            }
        });
        //click event of Display button
        $('#btnDisplay').click(function ()
        {
            
            $('#identificationNumber').val('');
            $('#unitYear').val('');
            $('#unitMake').val('');
            $('#unitModel').val('');
            $('#titleStatus').val('');
            $('#unitStatus').val('');
            var para1 = $('#identificationNumberSearch').val();
            if ((para1 == null) || (para1 == "")||(para1.length<6)) {
                FocusOutCall('#searchIdentificationNumber span,#identificationNumberSearch', para1);
                
            }
            else {
                $.ajax({
                    url: '/UnitTitle/SearchTitleStatus',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ identificationNumber: para1 }),
                    success: function (View) {
                        $('#searchGrid1').html(View);
                        //$('#searchGrid1').show();
                    },
                    error: function (reponse) {
                        $('#loadingSpan').hide();
                        alert("error : " + reponse);
                    }
                });
            }
           
            //alert(para1);
        });

        //$("#lkttl").before($(".link")).addClass('active').attr("disabled", "disabled").css('cursor', 'default').css('opacity', 'initial').siblings().removeClass('active').removeAttr('disabled');
        //$("#lkttl").click(function (e) { e.preventDefault(); });
        //$("#lkttl").siblings().click(function (e) {
        //    return true;
        //});


        $("#lkttl").hide();
        

        //capitalize letters when typing
        $('#identificationNumberSearch').keyup(function ()
        {
            $('#identificationNumberSearch').val(($('#identificationNumberSearch').val()).toUpperCase());
        });
        //block invalid characters
        $("#identificationNumberSearch").keypress(function (e) {

            var ch = e.which;
            if ((ch >= 47 && ch <= 57) || (ch >= 65 && ch <= 90) || (ch >= 97 && ch <= 122)) {
                return 1;
            }

            else {
                e.preventDefault();
            }
            //alert(ch);
        });
      
        //$('#identificationNumberSearch').blur(function () {
        //    var val1 = $('#identificationNumberSearch').val();
        //    if (val1.length < 6) {identificationNumberSearch
        //        FocusOutCall('#searchIdentificationNumber span,#identificationNumberSearch', val1);
        //    }
        //});
        function FocusOutCall(span, vareditor, val)
        {
            $(span).text("Please type last 6 characters of VIN/HIN/Serial No");
            $(vareditor).val("");
            
            $('.centered span').text('Error');
            $('#identificationNumberSearch').addClass('input-validation-error')
            $('#searchGrid1').hide();
            e.preventDefault();
        }
        $('#identificationNumberSearch').click(function () {
            $('#searchIdentificationNumber span').text('');
            $('#identificationNumberSearch').removeClass('input-validation-error');
            $('.centered span').text('');
            //if ($('#titleGrid').children('tbody').children('tr').length == 0) {
            //    $('#searchGrid1').hide();
            //}
            $('#updateTitleDiv span').text("");
            //$('#notReceived').prop('checked', false);
            //$('#received').prop('checked', false);
            //$('#returnDealer').prop('checked', false);
            //$('#sentBank').prop('checked', false);

            //if ($('#identificationNumberSearch').val() == '') {

            //}

        });
        $('#identificationNumberSearch').change(function () {

            $('#searchIdentificationNumber span').text('');
            $('#identificationNumberSearch').removeClass('input-validation-error');
            $('.centered span').text('');
            if ($('#titleGrid').children('tbody').children('tr').length == 0) {
                $('#searchGrid1').hide();
            }
            $('#identificationNumber').val('');
            $('#unitYear').val('');
            $('#unitMake').val('');
            $('#unitModel').val('');
            $('#titleStatus').val('');
            $('#unitStatus').val('');
            $('#updateTitleDiv span').text("");
            $('#notReceived').prop('checked', false);
            $('#received').prop('checked', false);
            $('#returnDealer').prop('checked', false);
            $('#sentBank').prop('checked', false);

        });
        //set text box values when row is selected in grid
        function SetTextBoxValues(tr) {
            $('#updateTitleDiv span').text('');
            $('#identificationNumber').val(tr.find('#vin').text());
            $('#unitYear').val(tr.find('#year').text());
            $('#unitMake').val(tr.find('#make').text());
            $('#unitModel').val(tr.find('#model').text());
            $('#unitStatus').val(tr.find('#currentUnitStatus').text());
            $('#titleStatus').val(tr.find('#currentStatus').text());
            document.getElementById("unitid").innerHTML = tr.find("#uId").val();
            $('#notReceived').prop('checked', false);
            $('#received').prop('checked', false);
            $('#returnDealer').prop('checked', false);
            $('#sentBank').prop('checked', false);
            
        };
        //update title status function
        function UpdateTitleStatus() {
            var unitTitle = {
                "UnitId":$('#unitid').text(),
                "IdentificationNumber": $('#identificationNumber').val(),
                "Year": $('#unitYear').val(),
                "Make": $('#unitMake').val(),
                "Model": $('#unitModel').val(),
                "CurrentTitleStatus": $('#titleStatus').val(),
                "TitleStatus": $('input[name = inlineRadioOptions]:checked').val()
            };

            if ((para1 = 0) || (para1 = 1) || (para1 = 2) || (para1 = 3)) {
                $.ajax({
                    url: '/UnitTitle/UpdateTitleStatus',
                    data: JSON.stringify(unitTitle),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (View) {
                        if (View != '1') {
                            $(location).attr('href', '/UnitTitle/TitleStatusUpdate');
                        } else {
                            $(location).attr('href', '/UnitTitle/TitleStatusUpdate');
                        }
                    }
                });
            }
        };
        //click event of Update button
        $('#btnUpdate').click(function () {

            var para1 = $('input[name = inlineRadioOptions]:checked').val();
            
            //alert(para1);
            if (($('#identificationNumberSearch').val() == "") &&( ($('#identificationNumber').val() == "") || ($('#unitYear').val() == "") || ($('#unitMake').val() == "") || ($('#unitModel').val() == "") || ($('#unitStatus').val() == "") || ($('#titleStatus').val() == "")))
            {
                
                $('.centered span').text('Search unit and then update the title status');
               
            }
            else if ((para1!='')&&(($('#identificationNumber').val() != "") || ($('#unitYear').val() != "") || ($('#unitMake').val() != "") || ($('#unitModel').val() != "") || ($('#unitStatus').val() != "") || ($('#titleStatus').val() != "")))
            {
               
                if (para1 == 2) {
                    var current = $('#unitStatus').val();
                    
                    if ((current != "Paid")) {
                    
                        showPopup('2');
                        e.preventDefault();

                    }
                    else {
                        UpdateTitleStatus();
                    }
                } else if ((para1 == 0) || (para1 == 1) || (para1 == 3)) {

                    UpdateTitleStatus();
                }
           
                else {
                   
                    $('#updateTitleDiv span').text("Select the status of the title you would like to update");
                    $('.centered span').text('Error');
                    e.preventDefault();
                }
            }
            else if ((para1 != '') && (($('#identificationNumber').val() == "") || ($('#unitYear').val() == "") || ($('#unitMake').val() == "") || ($('#unitModel').val() == "") || ($('#unitStatus').val() == "") || ($('#titleStatus').val() == "")))
            {
                $('.centered span').text('Select unit and then update title status');
            }

            else {
                
                $('#updateTitleDiv span').text("Select the status of the title you would like to update");
                

                $('.centered span').text('Error');
                
                e.preventDefault();
            }
        });


        

            // function to show our popups
            function showPopup(whichpopup) {
                var docHeight = $(document).height(); //grab the height of the page
                var scrollTop = $(window).scrollTop(); //grab the px value from the top of the page to where you're scrolling
                $('.overlay-bg').show().css({ 'height': docHeight }); //display your popup background and set height to the page height
                $('.popup' + whichpopup).show().css({ 'top': scrollTop + 20 + 'px' }); //show the appropriate popup and set the content 20px from the window top
            }

            // function to close our popups
            function closePopup() {
                $('.overlay-bg, .overlay-content').hide(); //hide the overlay
            }

            // timer if we want to show a popup after a few seconds.
            //get rid of this if you don't want a popup to show up automatically
            // setTimeout(function() {
            // Show popup3 after 2 seconds
            //    showPopup(3);
            // }, 2000);


            // show popup when you click on the link
            $('.show-popup').click(function (event) {
                //event.preventDefault(); // disable normal link function so that it doesn't refresh the page
                var selectedPopup = $(this).data('showpopup'); //get the corresponding popup to show

                showPopup(selectedPopup); //we'll pass in the popup number to our showPopup() function to show which popup we want
            });

            // hide popup when user clicks on close button or if user clicks anywhere outside the container
            $('.close-btn, .overlay-bg').click(function () {
                closePopup();
            });

            // hide the popup when user presses the esc key
            $(document).keyup(function (e) {
                if (e.keyCode == 27) { // if user presses esc key
                    closePopup();
                }
            });


        
    </script>





</body>
</html>

