<!DOCTYPE html>
@using BankLoanSystem.Models
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/general_foundicons.css?version=1" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css?version=1" rel="stylesheet" />

    <link href="~/Content/dashboard_layout.css?version=5" rel="stylesheet" />
    <link href="~/Content/overlaypopup.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/commonActions.css?version=2">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


    <link href="~/Content/pikaday.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/triangle.css" rel="stylesheet" />

   
 
    <link href="~/Content/combo.css" rel="stylesheet" />

    <style>

         .icon-help_outline{
                color: #BDBBBB;
                font-size: 16px;
                padding-left: 6px;
        }
        .icon-help_outline:hover{
            color: green;
            cursor:help;
        }
        .help-text > p{
            color:white;
            padding-left:10px;
            padding-right:10px;
            text-align:justify;
        }
        #squares div {
    /* these styles will let the divs line up next to each other
       while accepting dimensions */
    display: block;
    float: left;

    width: 120px;
    height: 120px;
    background: green;

    /* a small margin to separate the blocks */
    margin-right: 5px;
}

         #messageContainer {
        background-color: #fff;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 30px;
        margin-left: -170px;
        width: 400px;
        z-index: 10;
        display: none;
        text-align: left;
    }

        #messageContainer:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
        }

    #messageTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 15px;
        background-color: #ffffff;
        width: 384px;
        border-bottom: 1px solid #dddddd;
        color:#000000;
    }

    #messageBody {
        padding: 5px 0px 0px 0px !important;
        min-height: 50px;
        color:#000000;
    }

    #message_count {
        padding: 3px 7px 3px 7px;
        background: #cc0000;
        color: #ffffff;
        font-weight: bold;
        margin-left: 10px;
        border-radius: 9px;
        position: absolute;
        margin-top: -35px;
        font-size: 11px;
    }

    .messagediv {
        width: 100%;
        min-height: 5px;
        max-height: 100px;
        padding: 8px;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        line-height:1.4;
    }

    
    .loandetails {
    border-collapse: collapse;
}

.loandetails td {
   
       padding-bottom: 0.5em;
}

    </style>

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }


    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/pikaday.js"></script>
    <script src="~/scripts/input-mask.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/CommonFunctions.js"></script>
    <script src="~/scripts/menu.js?version=2"></script>
    <script>
        document.write("");
       // $('body').css({ 'cursor': 'wait' });
       // alert('a');
    </script>
</head>




<body data-scrolling-animations="true">
    @if (true)
    {
        @*<style>
            html {
                cursor: wait;
            }
        </style>*@

        <script>
        //document.write("");
       $('body').css({ 'cursor': 'wait' });
       // alert('a');
        </script>
    }

       
    
    <div id="o-wrapper" class="o-wrapper">
        <header>
            <div class="common-box">
                <div class="left-box">

                    <div class="soft-info">

                        <h1>
                            Floor Plan Financing

                        </h1>
                        <small><strong> Management Software </strong></small>
                    </div>



                </div>

                <div class="box">

                    <div>
                        <span class="icon-500" >
                            <span>@Html.ActionLink("Log Out", "UserLogin", "Login", null, new { @class = "show-logout-popup", @data_showpopup = "7" })</span>
                            @*<span class="icon-exit"></span>*@
                        </span>
                    </div>

                    <div>
                        @{
                        Html.RenderAction("UserRequestAns", "UserManagement");
                        }
                    </div>

                    <div>
                        <span class="tooltip icon-film ">
                            <span class="tooltiptext ved">
                                Watch Video
                            </span>
                        </span>
                    </div>

                    <div>
                        <span class="tooltip icon-home3" onclick="window.location.href = '/UserManagement/UserDetails'">
                            <span class="tooltiptext ved">
                                Dashboard
                            </span>
                        </span>
                    </div>


                    @*<div>
                        <button id="c-button--slide-right" class="c-button">Slide Right</button>
                    </div>*@
                    <!---->
                    <!---->


                </div>




            </div>

        </header>

        <div class="container-fluide">


            <div>
                <div class="container-child">

                    <div class="dsh">

                        <div class="img-name-panel">
                            <div>
                                <div>
                                    <div>
                                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" onclick="window.location.href = '/UserManagement/EditProfile'">
                                    </div>
                                </div>



                            </div>
                        </div>


                        <div class="pos-name-panel">
                            <div>
                                <div>
                                    <span>@*@ViewBag.Username*@ @(((User)Session["AuthenticatedUser"]).UserName) </span>
                                </div>

                                <div style="margin-top:10px">
                                    @{
                                    int role = ((User)Session["AuthenticatedUser"]).RoleId;

                                    string roleName = null;

                                    if(role == 1)
                                    {
                                        roleName = "Super Admin";
                                    }else if (role == 2)
                                    {
                                        roleName = "Admin";
                                    }else if (role == 3)
                                    {
                                        roleName = "User";
                                    }
                                    }
                                    <span>@*@ViewBag.Position*@ @roleName</span>

                                </div>
                            </div>
                        </div>



                        <div class="dsh-name"><h3 style="padding-top:10px;padding-bottom:0px;font-size: 31px;">@ViewBag.Title @if(ViewBag.Page == 2) {<span class="icon-help_outline title-help"></span>}</h3></div>
                        <div class="cmp-name-panel">
                            <div>
                                <div>

                                </div>

                                <div style="margin-top:10px">


                                </div>
                            </div>
                        </div>

                        <div class="cmp-name-panel">


                            <div>
                                <div>
                                    <span>@*@ViewBag.Company*@ @(((User)Session["AuthenticatedUser"]).CompanyName)</span>
                                </div>

                                <div style="margin-top:10px">
                                    @if (role != 1)
                                {
                                        <span>@*@ViewBag.Branch*@ @(((User)Session["AuthenticatedUser"]).BranchName)</span>
                                }
                                else
                                {
                                        <span></span>

                                }

                                </div>
                            </div>

                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>



        <footer>
            <div class="bottom-bar">
                <div class="small-space">
                    <div class="clr-prt1">

                    </div>
                    <div class="clr-prt2">

                    </div>
                </div>

                <div class="cmd-bar">
                    <div class="cmd-skew-bar">

                        <div class="footer-info">

                            <h3>Dealer Floor Plan Management Software</h3>
                            <div>
                                <div>
                                    <span>Support (800) ###-####</span>
                                    <div class="hor-sp"></div>
                                    <span style="margin-left:30px;margin-top:10px;">Hours: 8am-6pm Central</span>
                                </div>

                                @*<div>
                                    <span>Billing (800) ###-####</span>
                                    <div class="hor-sp"></div>
                                    <span style="margin-left:30px;margin-top:10px;">Hours: 9am-5pm Central</span>
                                </div>*@
                            </div>

                        </div>

                    </div>
                    <div id="UserRequestMessage">
                        @{
                        Html.RenderAction("UserRequestMessage", "UserManagement");
                        }
                    </div>

                </div>

            </div>

        </footer>

    </div>

    <nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
        <button class="c-menu__close">Close Help &rarr;</button>
        <ul class="c-menu__items">
            <li class="c-menu__item"><h3 href="#" class="c-menu__link">Help</h3></li>
            <li class="c-menu__item help-text">
                
                <h4 href="#" class="c-menu__link">This is Helper</h4>
                <p>This is Text</p>
            
            
            
            </li>
            
           
        </ul>
    </nav><!-- /c-menu slide-right -->

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
</body>


</html>

<script>
    /**
   * Slide right instantiation and action.
   */
    $(document).ready(function () {
        //var slideRight = new Menu({
        //    wrapper: '#o-wrapper',
        //    type: 'slide-right',
        //    menuOpenerClass: '.c-button',
        //    maskId: '#c-mask'
        //});

        //var slideRightBtn = document.querySelectorAll('.icon-help_outline');

        //slideRightBtn.addEventListener('click', function (e) {
        //    e.preventDefault;
        //    slideRight.open();
        //});
      
        $('body').css({ 'cursor': 'default' });
        $('.icon-help_outline').click(function (e) {
            e.preventDefault;
            slideRight_open();

        });
    });
    
    


  

</script>
