
<!DOCTYPE html>

<html>
@using BankLoanSystem.Models;
<head>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Setup Process - TFN Application</title>

  
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/general_foundicons.css" rel="stylesheet" />
  
    


    

    <link href="~/Content/pikaday.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/triangle.css" rel="stylesheet" />

    <style>
        .right_panel_box h4{
            font-size:15px;
        }
        .icon-help_outline{
                color: #BDBBBB;
                font-size: 16px;
                padding-left: 6px;
        }
        .icon-help_outline:hover{
            color: green;
        }
                .first_letter_capital {
                    text-transform: capitalize;
                }



                /*html, body {
            margin-left: unset;
            margin-right: unset;
            width: unset;
        }*/
                .tooltip {
                    opacity: unset;
                    z-index: unset;
                }

                h3 {
                    font-weight: 600;
                    margin: unset;
                }

                h1 {
                    font-size: 30px;
                }

                .msg-box select {
                    color: black;
                    font-size: 12px;
                }
                /** {
            margin: 0;
            padding: 0;
            font-size:unset;
            font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;
            color:unset;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        h1,  h3{

            font-family: unset;
             font-weight: unset;
             line-height: unset;
             color: unset;
             margin-top: unset;
            margin-bottom: unset;

        }

               */
                footer {
                    clear: both;
                }

                html, body {
                    /*font-size:unset;*/
                    width: auto;
                    color: black;
                    /*line-height:unset;*/
                }

                body {
                    background-color: #f2f2f2 !important;
                }

                .container-fluide {
                    clear: both;
                    max-width: 1096px;
                    min-width: 900px;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                    background: #f2f2f2;
                    min-height: 530px;
                }

                header {
                    border-top-style: solid;
                    border-top-width: 6px;
                    border-top-color: #333;
                }

                body {
                    overflow-x: hidden;
                    /*text-align:center;*/
                    /*font-family: Georgia, Serif;*/
                    /*//background: #000000;*/
                    margin: 0px;
                }

                .left-box {
                    width: 45%;
                    height: 100%;
                    float: left;
                    /*border-top-style:outset;
                    border-right-style:outset;*/
                    background: #f2f2f2;
                    margin-left: -30px;
                    -ms-transform: skew(45deg); /* IE 9 */
                    -webkit-transform: skew(45deg); /* Safari */
                    transform: skew(45deg); /* Standard syntax */
                    /*//background: linear-gradient(to right, red, white, white, red);*/
                }

                .common-box {
                    width: 100%;
                    height: 56px;
                    float: left;
                    background: #333;
                    margin-bottom: 11px;
                }

                .box {
                    padding-top: 20px;
                    float: left;
                    width: 653px;
                    display: inline;
                    margin-left: 20px;
                }

                    .box > div {
                        float: right;
                        margin-top: auto;
                        margin-bottom: auto;
                        text-align: center;
                        display: inline;
                        margin-left: 20px;
                        color: white;
                        /*margin-top: -8px;*/
                    }

                        .box > div > span {
                            color: #E2DDDD;
                            font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif;
                            font-size: 24px;
                        }

                            .box > div > span > a {
                                text-decoration: none;
                                color: #E2DDDD;
                                /*font-size:23px;  - asanka*/
                                display: table-cell;
                                vertical-align: middle;
                                font-size: 16px;
                                font-weight: bold;
                                padding-right: 5px;
                            }

                                .box > div > span:hover, .box > div > span > a:hover {
                                    color: white;
                                    cursor: pointer;
                                }

                .soft-info {
                    float: right;
                    clear: both;
                    width: 546px;
                    text-align: center;
                    -ms-transform: skew(-45deg); /* IE 9 */
                    -webkit-transform: skew(-45deg); /* Safari */
                    transform: skew(-45deg);
                }

                    .soft-info > h1 {
                        margin-top: 2px;
                        color: #2323A0;
                        font-family: Tahoma;
                        font-weight: bold;
                        margin-bottom: 2px;
                        /*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));*/
                    }

                    .soft-info > small {
                        font-family: Tahoma;
                        color: #054208;
                        font-size: 18px;
                        /*text-shadow: 0px 2px 3px #555;*/
                    }

                .container-child {
                    padding: 20px;
                }

                    .container-child h3 {
                        padding-bottom: 8px;
                    }

                .dsh {
                    color: white;
                    margin: 10px;
                    background-color: #0086b3;
                    height: 73px; /*This is for testing*/
                }

                .fpm > div {
                    border-style: solid;
                    border-width: 6px;
                    border-color: #c2d6d6;
                    background-color: white;
                    /*height:150px;*/ /*This is for testing*/
                }

                .fpm {
                    clear: both;
                    margin: 10px;
                    background-color: #c2d6d6;
                    padding-top: 8px;
                }

                .md > div {
                    border-style: solid;
                    border-width: 6px;
                    border-color: #e0e0d1;
                    background-color: white;
                    padding-left: 25px;
                    padding-right: 25px;
                    /*height:150px;*/ /*This is for testing*/
                }

                .md {
                    margin: 10px;
                    background-color: #e0e0d1;
                    padding-top: 8px;
                }

                .setp > div {
                    border-style: solid;
                    border-width: 6px;
                    border-color: #d9f2e6;
                    background-color: white;
                    /*height:150px;*/ /*This is for testing*/
                }

                .setp {
                    margin: 10px;
                    background-color: #d9f2e6;
                    padding-top: 8px;
                }

                .bottom-bar {
                    /*height:150px;*/ /*This is for testing*/
                }

                .small-space {
                    height: 24px;
                }

                .cmd-bar {
                    height: 310px; /*This is for testing*/
                    background-color: #333;
                }

                .clr-prt2 {
                    float: right;
                    width: 30%;
                    height: 100%;
                    background-color: #333;
                    margin-right: -30px;
                    -ms-transform: skew(-45deg); /* IE 9 */
                    -webkit-transform: skew(-45deg); /* Safari */
                    transform: skew(-45deg); /* Standard syntax */
                }

                .clr-prt1 {
                    float: left;
                    width: 30%;
                    height: 100%;
                    background-color: #2277AA;
                    margin-left: -30px;
                    -ms-transform: skew(45deg); /* IE 9 */
                    -webkit-transform: skew(45deg); /* Safari */
                    transform: skew(45deg); /* Standard syntax */
                }

                .cmd-skew-bar {
                    float: left;
                    width: 52%;
                    height: 100%;
                    background-color: #2277AA;
                    margin-left: -100px;
                    -ms-transform: skew(-20deg); /* IE 9 */
                    -webkit-transform: skew(-20deg); /* Safari */
                    transform: skew(-20deg); /* Standard syntax */
                }

                .img-name-panel {
                    float: left;
                    width: 11%;
                    padding: 4px;
                    /*height:100%;*/
                    padding-left: 4%;
                }

                .pos-name-panel {
                    text-align: left;
                    float: left;
                    width: 19%;
                    height: 100%;
                    /*padding-left: 4%;*/
                }

                    .pos-name-panel > div {
                        position: relative;
                        top: 15px;
                    }

                .img-circle {
                    border-radius: 50%;
                    border-style: double;
                    border-color: #CCC487;
                }

                .img-name-panel > div > div {
                    margin: auto;
                    display: block;
                }

                    .img-name-panel > div > div > div {
                        margin: auto;
                        display: inline-block;
                        /*background:#E8E8DE;*/
                        /*border-style: groove;*/
                        /*padding: 10px;*/
                    }

                .img-name-panel > div {
                    padding: 8%;
                    margin-top: auto;
                    margin-bottom: auto;
                    display: block;
                    float: left;
                    /*padding-top: 15%;*/
                }

                .dsh-name {
                    width: 40%;
                    height: 100%;
                    float: left;
                }

                .signout > span > a > strong {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 18px;
                }

                .signout > span > a > span {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 23px;
                }

                .signout {
                    /*border-radius: 15px;
           padding: 5px;
            background-color: #635A5A;
            padding-bottom: 0px;*/
                }

                .cmp-name-panel {
                    text-align: left;
                    width: 15%;
                    float: left;
                    /*height:100%;*/
                }

                    .cmp-name-panel > div {
                        position: relative;
                        top: 15px;
                    }

                .tooltip {
                    position: relative;
                    display: inline-block;
                }

                    .tooltip .tooltiptext {
                        visibility: hidden;
                        width: 120px;
                        /*width:auto;*/
                        font-family: "Times New Roman", Georgia, Serif;
                        letter-spacing: 1px;
                        background-color: black;
                        color: #fff;
                        text-align: center;
                        border-radius: 6px;
                        /*padding: 5px 0;*/
                        padding: 8px;
                        position: absolute;
                        z-index: 5;
                        top: 150%;
                        left: 50%;
                        /*left:144%;*/
                        margin-left: -60px;
                        font-size: 12px;
                    }

                        .tooltip .tooltiptext::after {
                            content: "";
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: transparent transparent black transparent;
                        }

                    .tooltip:hover .tooltiptext {
                        visibility: visible;
                    }

                    .tooltip .ved {
                        /*width:auto;*/
                        left: 50%;
                    }

                .footer-info {
                    float: right;
                    height: 100%;
                    width: 350px;
                    padding: 10px;
                    padding-top: 20px;
                    -ms-transform: skew(20deg);
                    -webkit-transform: skew(20deg);
                    transform: skew(20deg);
                    text-align: left;
                }

                    .footer-info > h3 {
                        font-size: 31px;
                    }

                    .footer-info > div {
                        text-align: left;
                        font-weight: bold;
                        margin-top: 20%;
                    }

                        .footer-info > div > div {
                            text-align: left;
                            margin-top: 10%;
                        }

                .hor-sp {
                    margin-top: 10px;
                }

                .msg-box {
                    padding: 20px;
                    padding-bottom: 0px;
                    padding-top: 20px;
                    font-weight: bold;
                    text-align: left;
                    color: white;
                    float: left;
                    width: 470px;
                    height: 100%;
                    padding-left: 5%;
                }

                    .msg-box > div {
                        margin-bottom: 5px;
                    }



                .select-style {
                    display: inline-block;
                    padding-top: 0px;
                    margin-top: 10px;
                    border: 1px solid #ccc;
                    width: 240px;
                    border-radius: 3px;
                    overflow: hidden;
                    background-color: #fff;
                    background: #fff url("../Images/arrowdown.gif") no-repeat 97% 50%;
                }

                    .select-style select {
                        padding: 5px 8px;
                        width: 100%;
                        border: none;
                        box-shadow: none;
                        background-color: transparent;
                        background-image: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }

                        .select-style select:focus {
                            outline: none;
                        }

                textarea {
                    margin-top: 10px;
                    width: 100%;
                    height: 120px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 4px;
                    /*background-color: #f8f8f8;*/
                    resize: none;
                    color: black;
                }



                .labels {
                    display: table-cell;
                    vertical-align: middle;
                    padding-bottom: 5px;
                }

                .button {
                    background-color: #4CAF50; /* Green */
                    border: none;
                    color: white;
                    padding: 9px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                    margin: 4px 2px;
                    -webkit-transition-duration: 0.4s; /* Safari */
                    transition-duration: 0.4s;
                    cursor: pointer;
                }

                .button5 {
                    background-color: #555555;
                    color: white;
                    border: 2px solid white;
                }

                    .button5:hover {
                        background-color: white;
                        color: #555555;
                        border: 2px solid #555555;
                    }
                /*.fpm>div>div{
            float:left;
        }*/
                .big-button {
                    margin: 8px;
                    position: relative;
                    background-color: #465DAB;
                    border: none;
                    font-size: 13px;
                    color: #FFFFFF;
                    /*padding: 10px;*/
                    padding-bottom: 5px;
                    width: 110px;
                    height: 110px;
                    text-align: center;
                    -webkit-transition-duration: 0.2s; /* Safari */
                    transition-duration: 0.2s;
                    text-decoration: none;
                    overflow: hidden;
                    cursor: pointer;
                }

                    .big-button > [class^="icon-"] {
                        /*padding :px;*/
                        /*padding-top:20px;*/
                        width: 100%;
                        font-size: 32px;
                        display: inline-block;
                    }

                    .big-button .txt {
                        width: 100%;
                        text-align: center;
                        padding-top: 22px;
                        /* position: relative; */
                        /* top: 20%; */
                        display: inline-block;
                    }

                    .big-button:hover {
                        background-color: darkgreen;
                        /*color: #1ba1e2;*/
                        /*border: 2px solid  #1ba1e2;*/
                    }

                .select-loan {
                    width: 100%;
                    margin-top: 10px;
                }

                .nrm-button {
                    display: inline-block;
                    padding: 10px 25px;
                    font-size: 15px;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    color: #fff;
                    background-color: #4CAF50;
                    border: none;
                    border-radius: 15px;
                }

                .select-loan > div > span {
                    display: inline-block;
                    width: 30%;
                }

                .select-loan > div {
                    margin-bottom: 8px;
                }

                .nrm-button:hover {
                    background-color: #3e8e41;
                }

                .nrm-button:active {
                    background-color: #3e8e41;
                    box-shadow: 0 2px #666;
                    transform: translateY(3px);
                }

                .pkg {
                    padding: 10px;
                }

                    .pkg table {
                        border-collapse: collapse;
                        width: 100%;
                    }

                    .pkg th, .pkg td {
                        text-align: center;
                        padding: 8px;
                    }

                    .pkg td {
                        color: black;
                        /*border: 2px solid  #4CAF50;*/
                    }





                        /*.pkg th:first-child {
            width:20%;
            color: black;
            border: 2px solid  white;
            background-color: white;
            border-right: 2px solid  #4CAF50;

        }*/

                        .pkg td:first-child {
                            font-weight: bold;
                        }

                .signoutsapan {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 18px !important;
                }

                .text-danger {
                    color: #a94442;
                    font-size: 12px;
                }

                body {
                    /*font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;*/
                }

                input[type='radio'] {
                    height: 16px;
                    width: 16px;
                }

                .form-horizontal .control-label {
                    font-size: 14px;
                }

                .used {
                    background-color: #d9d9d9;
                }

                .avail {
                    background-color: #ecffe6;
                }

                .pkg th {
                    width: 25%;
                }
   
         .input-validation-error {
            border: 1px solid #ff0000;
        }

        .valid {
            border: 1px solid green;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
        }


          #messageContainer {
        background-color: #fff;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 30px;
        margin-left: -170px;
        width: 400px;
        z-index: 10;
        display: none;
        text-align: left;
    }

        #messageContainer:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
        }

    #messageTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 15px;
        background-color: #ffffff;
        width: 384px;
        border-bottom: 1px solid #dddddd;
        color:#000000;
    }

    #messageBody {
        padding: 5px 0px 0px 0px !important;
        min-height: 50px;
        color:#000000;
    }

    #message_count {
        padding: 3px 7px 3px 7px;
        background: #cc0000;
        color: #ffffff;
        font-weight: bold;
        margin-left: 10px;
        border-radius: 9px;
        position: absolute;
        margin-top: -35px;
        font-size: 11px;
    }

    .messagediv {
        width: 100%;
        min-height: 5px;
        max-height: 100px;
        padding: 8px;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        line-height:1.4;
    }
    </style>

    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/pikaday.js"></script>


 
    <script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>

    <script src="~/scripts/input-mask.js"></script>
    

    


    

</head>
<body>
    <script>

        jQuery(window).on("load", function(){
            //var windw = this;

            //$.fn.followTo = function ( pos ) {
            //    var $this = this,
            //        $window = $(windw);
    
            //    $window.scroll(function(e){
            //        if ($window.scrollTop() > pos) {
            //            $this.css({
            //                position: 'absolute',
            //                top: pos
            //            });
            //        } else {
            //            $this.css({
            //                position: 'fixed',
            //                top:71
                        
            //            });
            //        }
            //    });
            //};

            //$('.right_panel_box').followTo($('.container.body-content').height() - 510);


            $(window).scroll(function(){
                var scroll_top = $(this).scrollTop(); // get scroll position top
                var height_element_parent =  $('#page-wrapper').height(); //get high parent element
                var height_element = $(".right_panel_box").height(); //get high of elemeneto
                var position_fixed_max = height_element_parent - height_element; // get the maximum position of the elemen
                var position_fixed = position_fixed_max < scroll_top ? 71 -(scroll_top - position_fixed_max) -40 : 71  ;
                $(".right_panel_box").css("top",position_fixed);
            });
        });
        
       



        function handleError(ajaxContext) {


            //alert("Some thing went wrong... You have to Login again");
            window.location.href = "/Login/UserLogin";
        }

        function handleErrorMsg(ajaxContext) {

            var response = ajaxContext.statusText;

            window.location.href = "/Login/UserLogin";
        }


        function updateContent(data) {
            if (data == null)
                return;
            var content = document.getElementById('changeContainer');
            content.innerHTML = data.Content;

        }



        function globalProgress(step) {
            global = step;
        }
        function skipProgress(step) {
            if(global == 6)
            if (global < step) {
                gloal = step;
                Progress(step);
            }
        }

        function Progress(step) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: 'Step' + step, Url: 'Step' + step };
                //alert(obj.Content);
                history.pushState(obj, obj.Page, obj.Url);
            }



            if (global <= step){

            for (var i = 1; i <= step ; i++) {
                var tab = ".right_arrw." + i;

                @if (((User)Session["AuthenticatedUser"]).RoleId == 2)
                {
                    <text>if (i <= 2) continue;

                </text>

                }

                 @if ((Session["isInterest"] != null ) && Convert.ToBoolean(Session["isInterest"]) == false)
                 {
                     <text>if (i == 7) {
                     $(".right_arrw.7").parent('li').css("pointer-events", "none").css("cursor", "default");
                     continue;}

                     </text>

                 }




                //$("#tt").css("right_arrw","url(~/Images/pendingIco.png)");


                $(tab).children("img").remove();

                $(tab).parent('li').css("pointer-events", "auto").css("cursor", "pointer");
                if (i == step) {
                    $(tab).css('background-image', 'none');
                    $(tab).prepend('<img id="theImg" src="/Images/pendingIco.png" />');


                } else {
                    $(tab).css('background-image', 'none');
                    $(tab).prepend('<img id="theImg" src="/Images/rightIco.png" />');
                }
            }

            global = step;

            }
        }
    </script>

    <script language="javascript">

		$(document).ready(function(){


		$('.nav li').click(function(){
		$('.nav li.active ul').find('.active');
		$('.nav li.active ul').removeClass('in');
		$('.nav li').removeClass('active');

		$(this).slideDown("slow");
		$(this).addClass('active');
		$('.nav li.active ul').addClass('in');
	});
	});
    </script>

    <script>



            //$(".tab").append("<span style='float:right'>&#128274;  </span>");
            //$(".tab").css("pointer-events", "none").css("cursor", "default");

            $(".tab").click(function () {

                $(this).parent("li").addClass("active").siblings().removeClass('active');
                $(this).parent("li").parent("ul").parent("div").siblings("div").children("ul").children("li").removeClass('active');
            });

            $(".main-tab.1").click(function () {

                $(".main-tab.2").addClass('collapsed');
                $("#demo2").removeClass("in").addClass("collapse");
            });

            $(".main-tab.2").click(function () {

                $(".main-tab.1").addClass('collapsed');
                $("#demo").removeClass("in").addClass("collapse");
            });





           

        $(document).on('click', '.btnDeleteRow', function () {
             
        
            var tblLength = $('table#tblGrid > tbody > tr').not(':first').length;
            $('#customErrorTable').children('span').text("");
             
            if(tblLength > 1) {
            
                var tr = $(this).parents('tr:first');

                var curid = tr.find("#lblCur").html();
                var timePeriod = tr.find("#timePeriod").val();
                var percentage = tr.find("#percentage").val();

                if (percentage !== '') {
                    var gridTable = document.getElementById('tblGrid');
                    gridTable.deleteRow(curid);
                    id = id - 1;

                    for (var k = curid; k < id + 1; k++) {
                        gridTable.rows[k].cells[0].innerHTML = '<label id="lblCur">' + k + '</label>';
                    }

                    var removeIndex = (parseInt(curid) - parseInt(1));

                    list.currentList.splice(removeIndex, 1);
                    var currentListLenght = Object.keys(list.currentList).length;

                    for (var i = removeIndex; i < currentListLenght; i++) {
                        list.currentList[i].CurtailmentId = removeIndex + 1;
                    }

                    //for (var j = 0; j < currentListLenght; j++) {
                    //    alert('curid:' + list.currentList[j].CurtailmentId + ' timePeriod:' + list.currentList[j].TimePeriod + ' percentage:' + list.currentList[j].Percentage);
                    //}

                    remainingPt = parseInt(remainingPt) + parseInt(percentage);

                    if(parseInt(remainingPt) > 0)
                    {
                        var val = document.getElementById('spnremainPtComplete').innerHTML;

                        $('#spnremainPt').text('Remaining Percentage:' + remainingPt);
                        $('#spnremainPtComplete').text('');
                        $('#spnremainPtError').text('');
                    }
                    else if (parseInt(remainingPt) === 0) {
                        $('#spnremainPt').text('');
                        $('#spnremainPtComplete').text('Curtailment schedule Completed.');
                        $('#spnremainPtError').text('');
                    } else {
                        $('#spnremainPt').text('');
                        $('#spnremainPtComplete').text('');
                        $('#spnremainPtError').text('Error percentage found');
                    }
                }

            }
            var index = 0;

            $('table#tblGrid > tbody > tr').not(':first').each(function() {

                var curid = $(this).find("#lblCur").html();
                var timePeriod = $(this).find("#timePeriod").val();
                var percentage = $(this).find("#percentage").val();
                var previousTime = 0;

                if (parseInt(curid) > 1) {
                    previousTime = list.currentList[curid - 2].TimePeriod;
                }

                var currentListLenght = Object.keys(list.currentList).length;
                if (parseInt(curid) > 1 && parseInt(currentListLenght) > parseInt(index)) {
                    // update list
                    list.currentList[index].TimePeriod = timePeriod;
                    //list.currentList[index].Percentage = percentage;
                }

                index = parseInt(index) + parseInt(1);
                //alert('curid: ' + curid + ' timePeriod: ' + timePeriod + ' previousTime: ' + previousTime);

                if (parseInt(timePeriod) > parseInt(remainingTime)) {
                    $('#spnremainTimeError').children('span').text("You entered time should be less than paid off period");
                    isErrorTime = true;
                    return false;
                }else if (parseInt(timePeriod) <= parseInt(previousTime) && parseInt(timePeriod) > 0) {

                    $('#spnremainTimeError').children('span').text("You entered time should be greater than previous time");
                    isErrorTime = true;
                    return false;
                }
                else {
                    isErrorTime = false;
                    $('#spnremainTimeError').children('span').text("");
                }
            });

            //alert('curid:' + curid + ' timePeriod:' + timePeriod + ' percentage:' + percentage);
        });


    </script>

    <header>

       
        <div class="common-box">
            <div class="left-box">

                <div class="soft-info">

                    <h1>
                        Floor Plan Financing

                    </h1>
                    <small><strong> Management Software </strong></small>
                </div>



            </div>

            <div class="box">

                <div class="signout">
                    <span>
                        @Html.ActionLink("Log Out", "UserLogin", "Login", null, new { @class = "show-logout-popup", @data_showpopup = "7" })
                        <span class="icon-exit"></span>
                    </span>
                </div>

                <div>
                    @{
                        Html.RenderAction("UserRequestAns", "UserManagement");
                    }
                </div>

                <div>
                    <span class="tooltip icon-film ">
                        <span class="tooltiptext ved">
                            Watch Video
                        </span>
                    </span>
                </div>

                @if ( Session["dashboard"] != null && Convert.ToInt32(Session["dashboard"])  == 1)
                {
                <div>
                    <span class="tooltip icon-home3" onclick="window.location.href = '/UserManagement/UserDetails'">
                        <span class="tooltiptext ved">
                            Dashboard
                        </span>
                    </span>
                </div>
                }

                

                <!---->
                <!---->


            </div>




        </div>

    </header>
    <div class="container-fluide">
        <div id="wrapper">
            <!--
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                        <div class="systemTitle">
                            <h1>Floor Plan Financing Managetment Software</h1>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">

                            <li class="logoutlink">@Html.ActionLink("Log Out", "UserLogin", "Login", null, new { @class = "helplink" })</li>
                        </ul>
                    </nav>
                </div>
            -->
            <div class="innerContainer">

                @{
                Html.RenderAction("SetupDashBoard", "SetupProcess");
                }

                <script>
                 @if(Session["loanStep"] != null)
                 {
                     <text>globalProgress( 5+  @(((LoanSetupStep)Session["loanStep"]).stepId));
                     Progress(5+ @(((LoanSetupStep)Session["loanStep"]).stepId));</text>
                 }else if(Session["companyStep"] != null) {
                     <text>globalProgress(@Session["companyStep"]);
                     Progress(@Session["companyStep"]);</text>
                 }

                </script>
                <div id="changeContainer">
                    @RenderBody()
                </div>

            </div>

        </div>

    </div>

    <footer>
        <div class="bottom-bar">
            <div class="small-space">
                <div class="clr-prt1">

                </div>
                <div class="clr-prt2">

                </div>
            </div>

            <div class="cmd-bar">
                <div class="cmd-skew-bar">

                    <div class="footer-info">

                        <h3>Dealer Floor Plan Management Software</h3>
                        <div>
                            <div>
                                <span>Support (800) ###-####</span>
                                <div class="hor-sp"></div>
                                <span style="margin-left:30px;margin-top:10px;">Hours: 8am-6pm Central</span>
                            </div>

                            @*<div>
                                <span>Billing (800) ###-####</span>
                                <div class="hor-sp"></div>
                                <span style="margin-left:30px;margin-top:10px;">Hours: 9am-5pm Central</span>
                            </div>*@
                        </div>

                    </div>

                </div>
                <div id="UserRequestMessage">
                    @{
                        Html.RenderAction("UserRequestMessage", "UserManagement");
                    }
                </div>

            </div>

        </div>

    </footer>
    <!-- Mainly scripts -->

    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>