
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Process - TFN Application</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <link href="~/Content/style.css" rel="stylesheet" />


    <link href="~/Content/pikaday.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/triangle.css" rel="stylesheet" />
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/pikaday.js"></script>
  

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>


        function handleError(ajaxContext) {


            //alert("Some thing went wrong... You have to Login again");
            window.location.href = "/Login/UserLogin";
        }

        function handleErrorMsg(ajaxContext) {

            var response = ajaxContext.statusText;
            // var statusCode = response.get_statusCode();
            if (response.indexOf("Session") > 0) {
               // alert("Some thing went wrong... You have to Login again");
                window.location.href = "/Login/UserLogin";
            } else {
                alert(response);
            }

        }


        function updateContent(data) {
            if (data == null)
                return;
            var content = document.getElementById('changeContainer');
            content.innerHTML = data.Content;

        }



        // change Url
        function onAjaxSuccess() {


            var array = $(this).attr('class').split(' ');

            var step = array[1];

            
            if (typeof (history.pushState) != "undefined") {
                var obj = {  Page: 'Step' + step, Url: 'Step' + step };
                //alert(obj.Content);
                history.pushState(obj, obj.Page, obj.Url);
            }


           

        }

        




        function globalProgress(step) {
            global = step;
        }
        function skipProgress(step) {
            if (global < step) {
                gloal = step;
                Progress(step);
            }
        }

        function Progress(step) {



            if (global <= step){
                
            for (var i = 1; i <= step ; i++) {
                var tab = ".tab." + i;
                $(tab).children("span").remove();
                $(tab).css("pointer-events", "auto").css("cursor", "pointer");
                if (i == step) {
                    $(tab).append("<span style='float:right;color:yellow'>&#x270E;  </span>");
                    $(tab).parent("li").addClass("active").siblings().removeClass('active');
                    if (i >= 6) {
                        $(".main-tab.2").removeClass('collapsed');
                        $("#demo2").addClass("in");
                    } else {
                        $(".main-tab.1").removeClass('collapsed');
                        $("#demo").addClass("in");
                    }
                } else {
                    $(tab).append("<span style='float:right;color:green'>&#10004;  </span>");
                }
            }

            global = step;

            }


        }


        // common clear function

        $('#clear').click(function () {
            document.getElementsByTagName("form")[0].reset();
        });




    </script>


    <style>
        body {
            background-color:#0A1219;
        }

        #changeContainer {
            padding: 20px 35px 20px 35px;
        }

        .nav-conatainer {
            float: left;
            width: 20%;
        }

        .nav.nav-pills.nav-stacked.secondary {
            padding-left: 25px;
        }

        .nav-bars {
        }



            .nav-bars.collapse.in {
            }


        .page-wrapper {
            width: 78%;
           
            float: right;
            background-color: #ebebed;
        }

        .in-container {
            float: right;
            width: 95%;
            margin-top: 20px;
            margin-right: 20px;
            background-color: white;
        }


        .top-bar {
            float: right;
            width: 100%;
            height: 61px;
            background-color: rgb(51, 122, 183);
        }

            .top-bar > a {
                float: right;
                color: white;
                text-decoration: none;
                margin-top: 18px;
                margin-right: 20px;
            }

                

        .profile-elements {
            padding: 30px;
            text-align: center;
            margin-bottom: 20px;
        }

        .no-bullets {
            list-style-type: none;
        }

        .img-circle {
            border-radius: 50%;
        }

        .no-text-decoration {
            text-decoration: none;
        }

        .main-tab {
            border-bottom-right-radius: 1em;
            margin-bottom: 1px;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
        }

        .internal-panel{
                margin-top: 18px;
    border-radius: 25px;
    border: 2px solid rgb(21, 33, 119);
    padding: 20px;
    display: block;
        }

        .left-button{
            float:left;
            margin-left:15px;
        }
        .right-button{
            float:right;
            margin-right:15px;
        }
        .btn-next{
           
            margin: 0px -50px; width:100px;
            position:relative;
            top:50%; left:50%;
        }
        .button-panel{
                margin-top: 15px;
        }
    </style>



</head>
<body>

    <div class="container">


        @{
            Html.RenderAction("SetupDashBoard", "SetupProcess");
        }


        <script>

        $(".tab").append("<span style='float:right'>&#128274;  </span>");
        $(".tab").css("pointer-events", "none").css("cursor", "default");

        $(".tab").click(function () {

            $(this).parent("li").addClass("active").siblings().removeClass('active');
            $(this).parent("li").parent("ul").parent("div").siblings("div").children("ul").children("li").removeClass('active');
        });

        $(".main-tab.1").click(function () {

            $(".main-tab.2").addClass('collapsed');
            $("#demo2").removeClass("in");
        });

        $(".main-tab.2").click(function () {

            $(".main-tab.1").addClass('collapsed');
            $("#demo").removeClass("in");
        });


       
      globalProgress(@Session["stepNo"]);
      Progress(@Session["stepNo"]);


    
        
        

        </script>

        <div class="page-wrapper">

            <div class="top-bar">@Html.ActionLink("Sign out", "UserLogin", "Login", null, new { @class = "btn btn-info" }) </div>

            <div class="in-container">
                <div id="loadingDiv" style="display:none">
                    @*<img src="~/Images/loading.gif" />*@
                </div>
                <div id="changeContainer" class="body-content">
                    <label id="successLabel">@ViewBag.SuccessMsg</label>
                    <label id="errorLabel">@ViewBag.ErrorMsg</label>
                    @RenderBody()
                </div>

            </div>
        </div>


    </div>


    <!-- Mainly scripts -->

    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
 
</body>
</html>