
<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Setup Process - TFN Application</title>

    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>



    <link href="~/Content/pikaday.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/triangle.css" rel="stylesheet" />
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/pikaday.js"></script>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @using BankLoanSystem.Models;
    <script>


        function handleError(ajaxContext) {


            //alert("Some thing went wrong... You have to Login again");
            window.location.href = "/Login/UserLogin";
        }

        function handleErrorMsg(ajaxContext) {

            var response = ajaxContext.statusText;

            window.location.href = "/Login/UserLogin";
        }


        function updateContent(data) {
            if (data == null)
                return;
            var content = document.getElementById('changeContainer');
            content.innerHTML = data.Content;

        }



        function globalProgress(step) {
            global = step;
        }
        function skipProgress(step) {
            if(global == 6)
            if (global < step) {
                gloal = step;
                Progress(step);
            }
        }

        function Progress(step) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: 'Step' + step, Url: 'Step' + step };
                //alert(obj.Content);
                history.pushState(obj, obj.Page, obj.Url);
            }

            if (global <= step){

            for (var i = 1; i <= step ; i++) {
                var tab = ".right_arrw." + i;

                @if (((User)Session["AuthenticatedUser"]).RoleId == 2)
                {
                    <text>if (i <= 2) continue;

                </text>

                }

                 @if ((Session["isInterest"] != null ) && Convert.ToBoolean(Session["isInterest"]) == false)
                 {
                     <text>if (i == 7) continue;

                     </text>

                 }


                //if( global==6 && step== 8){

                //    if(i ==7 ) continue;
                //}

                //$("#tt").css("right_arrw","url(~/Images/pendingIco.png)");


                $(tab).children("img").remove();

                $(tab).parent('li').css("pointer-events", "auto").css("cursor", "pointer");
                if (i == step) {
                    $(tab).css('background-image', 'none');
                    $(tab).prepend('<img id="theImg" src="/Images/pendingIco.png" />')


                } else {
                    $(tab).css('background-image', 'none');
                    $(tab).prepend('<img id="theImg" src="/Images/rightIco.png" />')
                }
            }

            global = step;

            }
        }
    </script>

    <style>
        .input-validation-error {
            border: 1px solid #ff0000;
        }

        .valid {
            border: 1px solid green;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
        }
    </style>


    <script language="javascript">

		$(document).ready(function(){


		$('.nav li').click(function(){
		$('.nav li.active ul').find('.active');
		$('.nav li.active ul').removeClass('in');
		$('.nav li').removeClass('active');

		$(this).slideDown("slow");
		$(this).addClass('active');
		$('.nav li.active ul').addClass('in');
	});
	});
    </script>

</head>
<body>


    <script>



            //$(".tab").append("<span style='float:right'>&#128274;  </span>");
            //$(".tab").css("pointer-events", "none").css("cursor", "default");

            $(".tab").click(function () {

                $(this).parent("li").addClass("active").siblings().removeClass('active');
                $(this).parent("li").parent("ul").parent("div").siblings("div").children("ul").children("li").removeClass('active');
            });

            $(".main-tab.1").click(function () {

                $(".main-tab.2").addClass('collapsed');
                $("#demo2").removeClass("in").addClass("collapse");
            });

            $(".main-tab.2").click(function () {

                $(".main-tab.1").addClass('collapsed');
                $("#demo").removeClass("in").addClass("collapse");
            });





            @if(Session["loanStep"] != null)
            {
                 <text>globalProgress( 5+  @(((LoanSetupStep)Session["loanStep"]).stepId));
                Progress(5+ @(((LoanSetupStep)Session["loanStep"]).stepId));</text>
            }else if(Session["companyStep"] != null) {
                <text>globalProgress(@Session["companyStep"]);
                Progress(@Session["companyStep"]);</text>
            }


    </script>

    <div id="wrapper">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="systemTitle">
                    <h1>Floor Plan Financing Managetment Software</h1>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <!--<li class="infoIco"><a href="#" class="helplink"><img alt="" src="images/infoIcon.png"></a></li>-->
                    <li class="logoutlink">@Html.ActionLink("Sign out", "UserLogin", "Login", null, new { @class = "helplink" })</li>
                </ul>
            </nav>
        </div>
        <div class="innerContainer">

            @{
                Html.RenderAction("SetupDashBoard", "SetupProcess");
            }


            <div id="changeContainer">
                @RenderBody()
            </div>

        </div>

    </div>


    <!-- Mainly scripts -->

    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>