@model BankLoanSystem.Models.Right

@{
    ViewBag.Title = "EditRights";
}

<h2>EditRights</h2>

<div>
    <h4>Right</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.rights)
        {
        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rightId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
