@model IList<BankLoanSystem.Models.Right>

<h2>EditRights</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr /><p>All &nbsp</p>
        @Html.CheckBox("All", false)
        <table class="dl-horizontal">

            @*<tr>
                    <td>
                        <b> @Html.DisplayNameFor(model => model.active) &nbsp &nbsp &nbsp </b>
                    </td>
                    <td>
                        <b> @Html.DisplayNameFor(model => model.description)</b>
                    </td>
                </tr>*@

            @for (var i=0; i< Model.Count;i++ )
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => x[i].rightId)
                        @Html.HiddenFor(x => x[i].userId )
                        @Html.HiddenFor(x => x[i].editorId )
                        @Html.CheckBoxFor(x => x[i].active ) &nbsp &nbsp &nbsp
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].description)
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />

                <input type="button" value="Cancel" onclick="location.href='@Url.Action("editUser", "ManageUsers", new { id = ViewBag.userId })'" class="btn btn-default" />
            </div>


        </div>
    </div>
}
@*<p>
    @Html.ActionLink("Back to List", "Index")
</p>*@
