@model IList<BankLoanSystem.Models.Right>

<h2>Edit User Rights</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">





        <table class="dl-horizontal">
            <tr class="checkbox">
                <td>
                    @Html.CheckBox("All", new { @id = "CheckAll" }) &nbsp &nbsp &nbsp
                </td>
                <td>
                    Check All
                </td>
            </tr>

            @for (var i = 0; i < Model.Count; i++)
            {
                <tr class="checkbox">
                    <td>
                        @Html.HiddenFor(x => x[i].rightId)
                        @Html.HiddenFor(x => x[i].userId)
                        @Html.HiddenFor(x => x[i].editorId)
                        @Html.CheckBoxFor(x => x[i].active, new { @class = "All" }) &nbsp &nbsp &nbsp

                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].description)
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div>

                <nav>
                    <ul class="pager">
                        @*<input type="submit" value="Update" class="btn btn-default" />*@
                        <li><input type="button" value="Back to Profile" onclick="location.href='@Url.Action( "editUser", "UserManagement")'" class="btn btn-primary btn-white m-b" style="float:left" /></li>
                        <li><input type="submit" value="Update"  class="btn btn-primary m-b" /></li>

                        <li><input type="button" value="Cancel" onclick="location.href='@Url.Action("editUser", "UserManagement")'" class="btn btn-primary m-b" /></li>

                        </ul>
                        </nav>
            </div>


        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#CheckAll').on('change', function () {
            if ($(this).is(':checked')) {
                //alert('checked');
                $('.All').prop('checked', true);

            }
            else {
                //alert('unchecked');
                $('.All').prop('checked', false);
            }
        });
    });
</script>

