
@model BankLoanSystem.Models.User


@{
    ViewBag.Title = "Join Dealer Account";
    if (ViewBag.AjaxRequest == null)
    {
        Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    .err_msg_box {
    
    text-align: left;
}

    #page-wrapper {
    min-height: 568px;
    padding: 0 36px;
    float:unset !important;
    /* position: relative !important; */
    margin: auto !important;
}
</style>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

@*<script src="~/scripts/bootstrap.min.js"></script>*@

@*<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>*@

<link href="~/Content/commonActions.css" rel="stylesheet" />

@{Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
}


<div id="page-wrapper" class="gray-bg sidebar-content companySetupWrapper usersetup_border" style="min-height: 629px;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="container body-content">

                <div class="row">
                    <div class="container body-content new_container">
                        @*<div class="setupImage"><img src="~/Images/UserSetupImage.png" width="100" alt=""></div>*@
                        @*<div >
                            <h2>Join Dealer Account</h2>
                        </div>*@
                        <div style="clear:both;"></div>
                        <div class="form-horizontal new_form_horizontal">
                            @*<div class="topErrors">
                                <p class="err_msg">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                            </div>*@
                            <div class="topErrors">
                                <p class="err_msg">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                <div id="errSpn" class="text-danger"><span>@ViewBag.ErrorMsg</span></div>
                                @*<div class="text-danger">@ViewBag.Error</div>*@
                            </div>
                           
                            <div class="form-horizontal">
                                
                                <div style="clear:both"></div>
                                @if (ViewBag.SuccessMsg != null && ViewBag.SuccessMsg.ToString().Equals("User Successfully Created"))
                                {
                                    <div id="successSpn" class="text-success"><span>@ViewBag.SuccessMsg</span></div>
                                        @*<span class="text-success">@ViewBag.SuccessMsg</span>*@                                       
                                }

                               
                                    @using(Html.BeginForm("LinkDealer", "CreateDealer" , FormMethod.Post , new { @id= "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        
                                        <div class="form-horizontal">
                                          
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>User Name</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtUserName" } })
                                                   
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Password</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-box single-line password text_field_input", @id = "txtPassword" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Confirm Password</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control text-box single-line password text_field_input", @id = "txtConfirmPassword" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>First Name</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input first_letter_capital", @id = "txtFirstName" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Last Name</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input first_letter_capital", @id = "txtLastName" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-xs-8 text_field">
                                                    @Html.EditorFor(model => model.NewEmail, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtNewEmail" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.NewEmail, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>
                                                        Phone Number<br>
                                                        <span class="optional">(Optional)</span>
                                                    </label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.PhoneNumber2, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtPhoneNumber" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.PhoneNumber2, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>

                                            @*@if (ViewBag.nonRegBranches != "")
                                                {
                                                    Model.BranchName = ViewBag.nonRegBranches;
                                                    @Html.LabelFor(model => model.BranchName, htmlAttributes: new { })
                                                }*@


                                            @*<div class="form-group new_form_group">
                                                    <div class="control-label col-sm-2 lable_style">
                                                        <label>Company </label>
                                                    </div>
                                                        <div class="col-xs-8 text_field short_text_field">
                                                            @if (ViewBag.NonRegCompany.Items.Count == 1)
                                                            {
                                                                @Html.HiddenFor(model => model.NonRegCompany, new { @Value = (int)ViewBag.NonRegCompany.Items[0].CompanyId })
                                                                @Html.LabelFor(model => model.NonRegCompany, (string)ViewBag.NonRegCompany.Items[0].CompanyName, htmlAttributes: new { @class = "form-control text_field_input", style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;" })
                                                            }
                                                            else
                                                            {

                                                                @Html.DropDownListFor(model => model.NonRegCompany, null, "--Select company--", htmlAttributes: new { @class = "form-control text_field_input", id = "RegisteredBranchId", @onchange = "javascript:GetNonRegisteredBranches(this.value);" })
                                                            }


                                                        </div>

                                                    <div class="err_msg_box">
                                                        <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.NonRegCompany, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>*@

                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Company </label>
                                                </div>
                                                <div class="control-label col-sm-2 lable_style">
                                                    @Html.Label((string)ViewBag.nonRegCompany)
                                                </div>


                                            </div>

                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Branch </label>
                                                </div>
                                                <div class="control-label col-sm-2 lable_style">
                                                    @Html.Label((string)ViewBag.nonRegBranches)

                                                    @*@Html.LabelFor(model => model.RoleName, htmlAttributes: new { })*@
                                                    @*@if (ViewBag.NonRegBranch != "")
                                                        {
                                                            @Html.HiddenFor(model => model.NonRegBranch, new { @Value = (int)ViewBag.NonRegBranch.Items[0].CompanyId })
                                                            @Html.LabelFor(model => model.NonRegBranch, (string)ViewBag.NonRegBranch.Items[0].CompanyName, htmlAttributes: new { @class = "form-control text_field_input", style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;" })
                                                        }
                                                        else
                                                        {

                                                            @Html.DropDownListFor(model => model.NonRegBranch, null, "--Select company--", htmlAttributes: new { @class = "form-control text_field_input", id = "RegisteredBranchId", @onchange = "javascript:GetNonRegisteredBranches(this.value);" })
                                                        }*@


                                                </div>


                                            </div>



                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Role</label>
                                                </div>
                                                <div class="control-label col-sm-2 lable_style">
                                                    @*@Html.DropDownListFor(model => model.RoleId, null, "--Select Role--", htmlAttributes: new { @class = "form-control text_field_input", id = "RoleId" })*@
                                                    @*@Html.LabelFor(model => model.RoleName, htmlAttributes: new { })*@
                                                    <label>Dealer User </label>
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger", @id = "RoleIdValidate" })</p>
                                                </div>
                                            </div>



                                            <div class="form-group new_form_group clear_next clear_next_bordr">
                                                <div>
                                                    <nav>
                                                        <div class="pager new_pager">
                                                            <div class="button_box algn_left">
                                                                @*<input value="Dashboard" name="subBack" id="btnPreStep3" class="btn btn-primary m-b cancel next_clear_button back_back" style="margin-left: 10px" type="button">*@
                                                            </div>
                                                            <div class="button_box algn_center">
                                                                <input value="Create" class="btn btn-primary m-b next_clear_button next_back" style="margin-left:10px" type="submit">
                                                            </div>
                                                            <div class="button_box algn_right">
                                                                <input id="clear" value="Clear" class="btn btn-primary m-b next_clear_button clear_back" style="margin-left: 10px" type="button">
                                                            </div>
                                                            <div style="clear:both"></div>
                                                        </div>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                    <div>
                                    </div>

                                


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/CommonFunctions.js"></script>
<script language="javascript">

  $(document).ready(function(){

  $('.nav li.active ul').removeClass('in');
  $('.nav li').removeClass('active');
  $('.nav li.user').addClass('active');
  $('.nav li.active ul').addClass('in');
  })
</script>



<script src="~/scripts/CommonFunctions.js"></script>

<script>

    $("#clear").click(function () {
        document.getElementsByTagName("form")[0].reset(); 
        $(".text-danger").html("");
        $(".text-success").html("");
        //$('#txtUserName').next('span').children().text('');        
        $('#txtUserName').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtUserName').next("div").children("p").children("span").text("");
        $('#txtPassword').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtPassword').next("div").children("p").children("span").text("");
        $('#txtConfirmPassword').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtConfirmPassword').next("div").children("p").children("span").text("");
        $('#txtFirstName').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtFirstName').next("div").children("p").children("span").text("");
        $('#txtLastName').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtLastName').next("div").children("p").children("span").text("");
        $('#txtNewEmail').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtNewEmail').next("div").children("p").children("span").text("");
        $('#txtPhoneNumber').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtPhoneNumber').next("div").children("p").children("span").text("");

        $('#successSpn span').text("");
        $('#errSpn span').text("");
        

    });   
</script>

<script type="text/javascript">
   
    //Validation

    // User name validate
    $('#txtUserName').keypress(function (e) {
        var code = e.which;
        if (this.value.length === 0 && (48 <= code && code <= 57)) {
            //$("#customError span[id^='spnUserName']").text("User name can't be start with numbers");
            this.focus();
            e.preventDefault();
            return;
        }

        var res = BlockText(e.which);
        if (res === 1) {
            //$("#customError span[id^='spnUserName']").text("Please use only letters (a-z) and numbers.");
            e.preventDefault();
            return;
        }
    });

    // change to title case

    $('#txtFirstName, #txtLastName').blur(function (e) {
        //ToTitleCase(this.id, this.value);
        if (e.which !== 37 && e.which !== 8 && e.which !== 32)
            ToTitleCase(this.id, this.value);
    });


    //Check maximum length
    $('#txtUserName, #txtFirstName, #txtLastName, #txtPassword, #txtConfirmPassword').keypress(function (e) {
        var res = CheckMaxLenth(this, this.value, 30);
        if (res === 0) {
            e.preventDefault();
            return;
        }
    });

    $('#txtPassword, #txtConfirmPassword').keypress(function (e) {
        if (this.value.length === 0 && e.which === 32) {
            e.preventDefault();
            return;
        }
        var array = ['`', '*', '&', '=', '|', ';', '"', '<', '>'];
        var res = InvalidCharacters(this, array, e.which);

        if (res === 1) {
            e.preventDefault();
            return;
        }
        else if (e.which === 92) {
            //$(this).siblings('div').children('span').text("Invalid character.");
            e.preventDefault();
            return;
        }
    });

    //Check maximum length for email address and valid characters
    $('#txtNewEmail').keypress(function (e) {
        var res = CheckMaxLenth(this, this.value, 100);
        if (res === 0) {
            e.preventDefault();
            return;
        }

        var array = ['~', '`', '!', '#', '$', '%', '*', '(', ')', '+', '-', '/', '=', '?', '^', '{', '|', '}', '[', ']', ':', ';', '"', '<', '>', '', ' ', ','];
        res = InvalidCharacters(this, array, e.which);

        if (res === 1) {
            e.preventDefault();
            return;
        }
        else if (e.which === 92 || e.which === 39) {
            //$(this).siblings('div').children('span').text("Invalid character.");
            e.preventDefault();
            return;
        }
    });

    $('#txtFirstName, #txtLastName').keypress(function (e) {
        //var array = [' ', '/', '`', '~', '!'];
        var array = ['~', '`', '!', '#', '$', '%', '&', '*', '(', ')', '+', '-', '/', '=', '?', '^', '{', '|', '}', '[', ']', ':', ';', '"', '<', '>', ''];
        var res = InvalidCharacters(this, array, e.which);

        if (res === 1) {
            e.preventDefault();
            return;
        }

        if (e.which === 92) {
            //$(this).siblings('div').children('span').text("Invalid character.");
            e.preventDefault();
            return;
        }
    });

    $('#txtPhoneNumber').keypress(function (e) {
        var res = PhoneNumber(this, e.which);
        if (res === 0) {
            e.preventDefault();
            return;
        }

        res = CheckMaxLenth(this, this.value, 15);
        if (res === 0) {
            e.preventDefault();
            return;
        }
    });

    $('#txtUserName').click(function () {
        clearTopMessages();
    });

    $('#txtPassword').click(function () {
        clearTopMessages();
    });

    $('#txtConfirmPassword').click(function () {
        clearTopMessages();
    });

    $('#txtFirstName').click(function () {
        clearTopMessages();
    });

    $('#txtLastName').click(function () {
        clearTopMessages();
    });

    $('#txtNewEmail').click(function () {
        clearTopMessages();
    });

    $('#txtPhoneNumber').click(function () {
        clearTopMessages();
    });

    function clearTopMessages() {
        //$(".text-danger").html("");
        //$(".text-success").html("");
        $('#successSpn span').text("");
        $('#errSpn span').text("");
    }
   
</script>



