
@model BankLoanSystem.Models.User


@{
    ViewBag.Title = "Join Dealer Account";
    if (ViewBag.AjaxRequest == null)
    {
        Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>

<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
@section AddToHead{
    <style>
        .body-content {
            float: none;
            width: auto;
            margin: 0;
        }

        .err_msg_box {
            text-align: left;
        }

        #page-wrapper {
            min-height: 568px;
            padding: 0 36px;
            float: none !important;
            /* position: relative !important; */
            margin: auto !important;
        }
        #rights > input{
             float:unset;
             margin-right:10px;

             width:17px;
             height:17px;
         }

        #rights{
            text-align:left;
            font-size:14px;
            font-weight:normal;
            color:#545454;
            width:400%;
        }
    </style>
    }
<script src="~/scripts/jquery-1.10.2.min.js"></script>

@*<script src="~/scripts/bootstrap.min.js"></script>*@

@*<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>*@



@{Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
}


<div id="page-wrapper" class="gray-bg sidebar-content companySetupWrapper usersetup_border">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="container body-content">

                <div class="row">
                    <div class="container body-content new_container">
                       
                        <div style="clear:both;"></div>
                        <div class="form-horizontal new_form_horizontal">
                          
                            <div class="topErrors">
                                <p class="err_msg">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                <div id="errSpn" class="text-danger"><span>@ViewBag.ErrorMsg</span></div>
                                
                            </div>
                           
                            <div class="form-horizontal">
                                
                                <div style="clear:both"></div>
                                @if (ViewBag.SuccessMsg != null && ViewBag.SuccessMsg.ToString().Equals("User Successfully Created"))
                                {
                                    <div id="successSpn" class="text-success"><span>@ViewBag.SuccessMsg</span></div>
                                                                            
                                }

                               
                                    @using(Html.BeginForm("LinkDealer", "CreateDealer" , FormMethod.Post , new { @id= "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        
                                        <div class="form-horizontal">
                                          
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Role</label>
                                                </div>
                                                <div class="control-label col-sm-2 lable_style">
                                                   
                                                    <label>Dealer User </label>
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger", @id = "RoleIdValidate" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Company </label>
                                                </div>
                                                <div class="control-label col-sm-2 lable_style" style="width:70% ! important;">
                                                    @Html.Label((string)ViewBag.nonRegCompany)
                                                </div>


                                            </div>

                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Branch </label>
                                                </div>
                                                <div class="control-label col-sm-2 lable_style" style="width:70% ! important;">
                                                    @Html.Label((string)ViewBag.nonRegBranches)

                                                </div>


                                            </div>
                                      
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>First Name</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input first_letter_capital", @id = "txtFirstName" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Last Name</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input first_letter_capital", @id = "txtLastName" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-xs-8 text_field">
                                                    @Html.EditorFor(model => model.NewEmail, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtNewEmail" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.NewEmail, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>
                                                        Phone Number<br>
                                                        <span class="optional">(Optional)</span>
                                                    </label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.PhoneNumber2, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtPhoneNumber" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.PhoneNumber2, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Username</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtUserName" } })

                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Password</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-box single-line password text_field_input", @id = "txtPassword" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            <div class="form-group new_form_group">
                                                <div class="control-label col-sm-2 lable_style">
                                                    <label>Confirm Password</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control text-box single-line password text_field_input", @id = "txtConfirmPassword" } })
                                                </div>
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            @*report rights section*@
                                            <div id="rightDiv">
                                                <div class="form-group new_form_group">
                                                    <div class="control-label col-sm-2 lable_style">
                                                        <label>Select Reports Rights</label>
                                                    </div>
                                                    <div class="col-xs-8 ">
                                                        @*check report right list is not null and count >0*@
                                                        @if (Model.ReportRightsList!=null && Model.ReportRightsList.Count > 0)
                                                        {
                                                                <div class="col-sm-7">

                                                                    <div id="rights">
                                                                        @Html.CheckBox("selectAll", new { @class = "All", @id = "CheckAll" })
                                                                        @Html.Label("All")
                                                                        <br />
                                                                        @for (var i = 0; i < Model.ReportRightsList.Count; i++)
                    {
                                                                            <div id="rights">

                                                                                @Html.HiddenFor(x => x.ReportRightsList[i].rightId)
                                                                                @Html.CheckBoxFor(x => x.ReportRightsList[i].active, new { @class = "All", @id = i + 1 })
                                                                                @Html.Label(Model.ReportRightsList[i].name)
                                                                                <a onclick="ViewDetails(@i)" id="Description">View Details</a>
                                                                                
                                                                            </div>
                                                                            
                                                                        }
                                                                    </div>
                                                                    <div id="checkBoxMessage" class="text-danger"><span></span></div>
                                                                </div>
                                                               
                                                                }
                                                    </div>
                                                </div>

                                            </div>
                                          
                                            <hr />

                                            <div class="form-group new_form_group">
                                                <div class="col-xs-6 new_label_style">
                                                    <label class="new_label_style" style="font-weight:normal;color:#545454;font-size:14px">Select which of your users will receive the Dealer's advance requests</label>
                                                </div>
                                               @* check user list which dealer user can request for advance is not null and count is 1*@

                                                @if (ViewBag.UserIdForSendReq!=null && ViewBag.UserIdForSendReq.Items.Count == 1)
                                                {
                                                    <div class="col-xs-8 text_field">
                                                        @Html.HiddenFor(model => model.UserIdForSendReq, new { Value = (int)ViewBag.UserIdForSendReq.Items[0].UserId, id = "JDUser1" })
                                                        @Html.LabelFor(model => model.UserIdForSendReq, (string)ViewBag.UserIdForSendReq.Items[0].UserName, htmlAttributes: new { @class = "form-control text_field_input", id = "JDUserLbl", style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top:3px;display:block;width:100%;text-align:left" })
                                                    </div>
                                                }
                                                @* check user list which dealer user can request for advance is not null and count > 1*@
                                                else if (ViewBag.UserIdForSendReq != null && ViewBag.UserIdForSendReq.Items.Count > 1)
                                                {
                                                    <div class="col-xs-8 text_field short_text_field">
                                                        @Html.DropDownListFor(model => model.UserIdForSendReq, null, "--Select User--", htmlAttributes: new { @class = "form-control text_field_input", @id = "JDUser" })
                                                    </div>
                                                }
                                                @* if user list which dealer user can request for advance is null or count is 0 display no users found*@
                                                else
                                                {
                                                    <div class="col-xs-8 text_field short_text_field" id="divSingleBranch" style="text-align:left;font-weight:normal;color:#545454;font-size:14px;" hidden>
                                                       
                                                        <label>No users found</label>
                                                    </div>
                                                }
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.UserIdForSendReq, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            @* check user list which dealer user can request for advance is not null and count is 1 and email of that user is not empty*@
                                            @if (ViewBag.UserIdForSendReq != null && ViewBag.UserIdForSendReq.Items.Count == 1 && ViewBag.UserIdForSendReq.Items[0].NewEmail != "")
                                            {
                                            <div class="form-group new_form_group">
                                               

                                               
                                                    <div class="col-xs-6 new_label_style">
                                                        <label style="font-weight:normal;color:#545454;font-size:14px">Specifiy which email address the advance request notices wlll be sent to</label>
                                                    </div>
                                                    <div class="col-xs-8 text_field short_text_field">
                                                        @Html.EditorFor(model => model.UserEmailForSendReq, new { htmlAttributes = new { @class = "form-control text-box single-line password text_field_input", @id = "txtEmailForSendReq",@value= ViewBag.UserIdForSendReq.Items[0].NewEmail } })
                                                    </div>
                                                
                                               
                                                <div class="err_msg_box">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.UserEmailForSendReq, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                            }
                                            @* check user list which dealer user can request for advance is not null and count > 1*@
                                            else if (ViewBag.UserIdForSendReq != null && ViewBag.UserIdForSendReq.Items.Count > 1)
                                            {
                                                <div class="form-group new_form_group" id="DivEmailJD">
                                                    <div class="col-xs-6 new_label_style">
                                                        <label style="font-weight:normal;color:#545454;font-size:14px">Specifiy which email address the advance request notices wlll be sent to</label>
                                                    </div>
                                                    <div class="col-xs-8 text_field short_text_field">
                                                        @Html.EditorFor(model => model.UserEmailForSendReq, new { htmlAttributes = new { @class = "form-control text-box single-line password text_field_input", @id = "txtEmailForSendReq" } })
                                                    </div>

                                                    <div class="err_msg_box">
                                                        <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.UserEmailForSendReq, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>
                                            }
                                            
                                            <div class="form-group new_form_group clear_next clear_next_bordr">
                                                <div>
                                                    <nav>
                                                        <div class="pager new_pager">
                                                            <div class="button_box algn_left">
                                                                <input value="Dashboard" name="subBack" id="btnPreStep3" class="btn btn-primary m-b cancel next_clear_button back_back" tabindex="-1" style="margin-left: 10px" type="button" onclick="window.location.href='/UserManagement/UserDetails'">
                                                            </div>
                                                            <div class="button_box algn_center">
                                                                <input value="Create" class="btn btn-primary m-b next_clear_button next_back" style="margin-left:10px" type="submit" id="btnCreateDealer">
                                                            </div>
                                                            <div class="button_box algn_right">
                                                                <input id="clear" value="Clear" class="btn btn-primary m-b next_clear_button clear_back" style="margin-left: 10px" type="button">
                                                            </div>
                                                            <div style="clear:both"></div>
                                                        </div>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                    <div>
                                    </div>

                                


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/CommonFunctions.js"></script>
<script language="javascript">

    $(document).ready(function () {

        $('.nav li.active ul').removeClass('in');
        $('.nav li').removeClass('active');
        $('.nav li.user').addClass('active');
        $('.nav li.active ul').addClass('in');
    });
    @*when document load if user list which dealer user can request advance is not null and count is 1 get user's email and display*@
    $(document).ready(function () {
        
        @if (ViewBag.UserIdForSendReq != null && ViewBag.UserIdForSendReq.Items.Count == 1)
      {
           <text> var ind =@ViewBag.UserIdForSendReq.Items[0].UserId;</text>
           <text> GetEmail(ind);</text>
      
        



      }
    });

</script>



<script src="~/scripts/CommonFunctions.js"></script>

<script>
    @*create button click event*@
    $('#btnCreateDealer').click(function(){
        @*get count of checkbox which checked*@
        checked = $("input[type=checkbox]:checked").length;
        @*if not checked at least one show error message*@
        if (!checked) {

            $('#checkBoxMessage span').text("please select at least one right.");
            e.preventDefault();
        }
    });
    @*send details of each report right to popup*@
    function ViewDetails(rightId){
        //alert(rightId);
        var model = @Html.Raw(Json.Encode(Model));
        $('#PopupDiv').show();
        showPopup('Rpt');
        $('#textForPopup').text(model.ReportRightsList[rightId].name);
        $('#desLbl').text(model.ReportRightsList[rightId].description);
        if(model.ReportRightsList[rightId].ImagePath!=null || model.ReportRightsList[rightId].ImagePath!=''){
            var str = model.ReportRightsList[rightId].ImagePath;
            $('#idimg').attr('src',str);
        }


    };
    @*when user list which delaer user can request advance change*@
    $('#JDUser').change(function () {
        $('#txtEmailForSendReq').val('');
        @*assign selected user id to a variable*@
        var ind = $('#JDUser').val();
        @*check selected user id is >0*@
        if(ind>0){
            @*get selected user's email and display*@
            var url = "/CreateDealer/GetUserEmailByUserId/";
            $.ajax({
                url: url,
                data: { userId: ind },
                cache: false,
                type: "POST",
                success: function (data) {
                    var email = data.NewEmail;
                    if(email!=""){
                        $('#txtEmailForSendReq').val(email);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {

                    @*if session expires*@
                    if (jqXHR.status == "404") {
                        window.location.href = '/Login/UserLogin?lbl=Due to inactivity your session has timed out, please log in again.';
                    }
                }
            });
        }

    });
    @*get selected user's email and display*@
    function GetEmail(ind) {
        if (ind > 0) {
            var url = "/CreateDealer/GetUserEmailByUserId/";
            $.ajax({
                url: url,
                data: { userId: ind },
                cache: false,
                type: "POST",
                success: function (data) {
                    var email = data.NewEmail;
                    if (email != "") {
                        $('#txtEmailForSendReq').val(email);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Your handler here...

                    @*if session expires*@
                    if (jqXHR.status == "404") {
                        window.location.href = '/Login/UserLogin?lbl=Due to inactivity your session has timed out, please log in again.';
                    }
                }
            });
        }
    };
    @*clear button click event*@

    $("#clear").click(function () {
        document.getElementsByTagName("form")[0].reset();
        $(".text-danger").html("");
        $(".text-success").html("");
        
        $('#txtUserName').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtUserName').next("div").children("p").children("span").text("");
        $('#txtPassword').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtPassword').next("div").children("p").children("span").text("");
        $('#txtConfirmPassword').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtConfirmPassword').next("div").children("p").children("span").text("");
        $('#txtFirstName').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtFirstName').next("div").children("p").children("span").text("");
        $('#txtLastName').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtLastName').next("div").children("p").children("span").text("");
        $('#txtNewEmail').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtNewEmail').next("div").children("p").children("span").text("");
        $('#txtEmailForSendReq').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtEmailForSendReq').next("div").children("p").children("span").text("");
        $('#txtPhoneNumber').closest("div").siblings('div').children("p").children("span").text("");
        $('#txtPhoneNumber').next("div").children("p").children("span").text("");

        //clear check box values
        $('.All').prop('checked',false);
        $('#checkBoxMessage span').text("");
        $('#successSpn span').text("");
        $('#errSpn span').text("");


    });
</script>

<script type="text/javascript">

    // for input mask

    new InputMask().Initialize(document.querySelectorAll('#txtPhoneNumber'),
    {
        mask: InputMaskDefaultMask.Phone,
        placeHolder: "(___) ___-____"
    });

    $('#txtPhoneNumber').focusout(function (e) {


        $(this).attr("placeholder", "(___) ___-____");

    });


    @*Validation*@

    @* User name validate*@
    $('#txtUserName').keypress(function (e) {
        if (e.which != 8 && e.keyCode != 46 && e.keyCode != 9) {
            var code = e.which;
            if (this.value.length === 0 && (48 <= code && code <= 57)) {

                this.focus();
                e.preventDefault();
                return;
            }

            var res = BlockText(e.which);
            if (res === 1) {

                e.preventDefault();
                return;
            }
        }

    });

    @*change to title case*@

    $('#txtFirstName, #txtLastName').blur(function (e) {

        if (e.which !== 37 && e.which !== 8 && e.which !== 32)
            ToTitleCase(this.id, this.value);
    });


    @*Check maximum length*@
    $('#txtUserName, #txtFirstName, #txtLastName, #txtPassword, #txtConfirmPassword').keypress(function (e) {
        if (e.which != 8 && e.keyCode != 46 && e.keyCode != 9) {
            var res = CheckMaxLenth(this, this.value, 30);
            if (res === 0) {
                e.preventDefault();
                return;
            }
        }

    });
    @*block invalid characterss of password and confirm password fields*@
    $('#txtPassword, #txtConfirmPassword').keypress(function (e) {
        if (e.which != 8 && e.keyCode != 46 && e.keyCode != 9) {
            if (this.value.length === 0 && e.which === 32) {
                e.preventDefault();
                return;
            }
            var array = ['`', '*', '&', '=', '|', ';', '"', '<', '>'];
            var res = InvalidCharacters(this, array, e.which);

            if (res === 1) {
                e.preventDefault();
                return;
            }
            else if (e.which === 92) {

                e.preventDefault();
                return;
            }
        }

    });

    @*Check maximum length for email address and valid characters*@
    $('#txtNewEmail,#txtEmailForSendReq').keypress(function (e) {
        if (e.which != 8 && e.keyCode != 46 && e.keyCode != 9) {
            var res = CheckMaxLenth(this, this.value, 100);
            if (res === 0) {
                e.preventDefault();
                return;
            }

            var array = ['~', '`', '!', '#', '$', '%', '*', '(', ')', '+', '-', '/', '=', '?', '^', '{', '|', '}', '[', ']', ':', ';', '"', '<', '>', '', ' ', ','];
            res = InvalidCharacters(this, array, e.which);

            if (res === 1) {
                e.preventDefault();
                return;
            }
            else if (e.which === 92 || e.which === 39) {
                //$(this).siblings('div').children('span').text("Invalid character.");
                e.preventDefault();
                return;
            }
        }

    });
    @*block special characters of first name and last name fields*@
    $('#txtFirstName, #txtLastName').keypress(function (e) {
        if (e.which != 8 && e.keyCode != 46 && e.keyCode != 9) {

            var array = ['~', '`', '!', '#', '$', '%', '&', '*', '(', ')', '+', '-', '/', '=', '?', '^', '{', '|', '}', '[', ']', ':', ';', '"', '<', '>', ''];
            var res = InvalidCharacters(this, array, e.which);

            if (res === 1) {
                e.preventDefault();
                return;
            }

            if (e.which === 92) {

                e.preventDefault();
                return;
            }
        }

    });
    @*block special characters for phone number field*@
    $('#txtPhoneNumber').keypress(function (e) {
        if (e.which != 8 && e.keyCode != 46 && e.keyCode != 9) {
            var res = PhoneNumber(this, e.which);
            if (res === 0) {
                e.preventDefault();
                return;
            }

            res = CheckMaxLenth(this, this.value, 15);
            if (res === 0) {
                e.preventDefault();
                return;
            }
        }

    });
    @*clear error messages when click on any input field*@
    $('#txtUserName').click(function () {
        clearTopMessages();
    });

    $('#txtPassword').click(function () {
        clearTopMessages();
    });

    $('#txtConfirmPassword').click(function () {
        clearTopMessages();
    });

    $('#txtFirstName').click(function () {
        clearTopMessages();
    });

    $('#txtLastName').click(function () {
        clearTopMessages();
    });

    $('#txtNewEmail').click(function () {
        clearTopMessages();
    });
    $('#txtEmailForSendReq').click(function () {
        clearTopMessages();
    });
    $('#txtPhoneNumber').click(function () {
        clearTopMessages();
    });

    function clearTopMessages() {

        $('#successSpn span').text("");
        $('#errSpn span').text("");
    }
    @*when ALL check box checked and unchecked*@
    $(function () {
        $('#CheckAll').on('change', function () {
            $('#checkBoxMessage span').text("");
            if ($(this).is(':checked')) {

                $('#checkBoxMessage span').text("");
                $('.All').prop('checked', true);

            }
            else {

                $('.All').prop('checked', false);
            }
        });

    });
    @*when check box which belongs to .All class checked and unchecked*@
    $(function () {
        $('.All').on('change', function () {
            $('#checkBoxMessage span').text("");
            checkAll();
        });
    });
    function checkAll(){
        var model = @Html.Raw(Json.Encode(Model));
        var len = model.ReportRightsList.length;
        var count =0;
        for (var j = 0 ; j < model.ReportRightsList.length; j++){
            var str = '#'+(j+1);
            if ($(str).is(':checked')) {
                //alert('checked');
                count++;
            }
        }
        if( count === len){
            $('#CheckAll').prop('checked', true);
        }

        else{
            $('#CheckAll').prop('checked', false);
        }
        $('#successSpn span').text("");
        $('#errSpn span').text("");
    };
</script>
@*popup for report right details*@
<div id="PopupDiv">
    <div class="overlay-bg">
    </div>
    <div class="overlay-content popupRpt" style="width:auto;text-align:center;margin: auto;margin-top: 99px;">
        <div class="close-pop icon-cross" style="float: right;font-size: 23px;"></div>
        <div><h3 id="textForPopup"></h3></div>
        <div style="padding:10px;font-weight:bold">
            <label style="color:darkgreen">Description</label>
        </div>
        <div style="padding:10px;">
            <label id="desLbl"></label>
        </div>
        <div style="padding:10px;">
            <label style="color:darkgreen;font-weight:bold">Example</label>
        </div>
        <div style="padding: 10px;">
            <img onclick="window.open(this.src)" alt="Image" style="max-width: 1500px;max-height: 500px" id="idimg"/>
        </div>
        <button class="close-btn btn btn-info" style="margin-left: 893px;">Close</button>
    </div>

</div>

<script>

    @*function to show our popups*@
    function showPopup(whichpopup) {
        var docHeight = $(document).height(); @*grab the height of the page*@
        var scrollTop = $(window).scrollTop(); @*grab the px value from the top of the page to where you're scrolling*@
        $('.overlay-bg').show().css({ 'height': docHeight }); @*display your popup background and set height to the page height*@
        $('.popup' + whichpopup).show().css({ 'top': scrollTop + 20 + 'px' }); @*show the appropriate popup and set the content 20px from the window top*@
    }

    @* function to close our popups*@
    function closePopup() {
        $('.overlay-bg, .overlay-content').hide(); @*hide the overlay*@
    }

    @* show popup when you click on the link*@
    $('.show-popup').click(function (event) {
        
        var selectedPopup = $(this).data('showpopup'); @*get the corresponding popup to show*@

        showPopup(selectedPopup); @*we'll pass in the popup number to our showPopup() function to show which popup we want*@
    });

    @*hide popup when user clicks on close button or if user clicks anywhere outside the container*@
    $('.close-btn, .overlay-bg ,.close-pop').click(function () {
        closePopup();
    });

    @* hide the popup when user presses the esc key*@
    $(document).keyup(function (e) {
        if (e.keyCode == 27) { @*if user presses esc key*@
            closePopup();
        }
    });



</script>