@model BankLoanSystem.Models.AdvanceUnit

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

<link rel="stylesheet" href="~/Content/commonActions.css">
<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewBag.Title = "Advance Unit";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    WebGrid grid = new WebGrid(Model.NotAdvanced, defaultSort: "CreatedDate", canPage: false, ajaxUpdateContainerId: "checkableGridDiv", ajaxUpdateCallback: "GridUpdate");/**/

}

<style type="text/css">
    #checkableGridDiv table tbody,
#checkableGridDiv table thead { display: block; }

#checkableGridDiv table tbody {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-panel>.side-panel{
    margin-top: 10px;
}

</style>






<div class="container-child">
    @{Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
    }
    <div class="container" id="container">
       



<div class="body-content" style="width:100%">

    <div id="noUnitLabelDiv" class="info-unit" style="float: unset;margin-top:15px; font:medium;color:red;margin-right:unset" hidden>
        @Html.Label("Not advanced units not found", htmlAttributes: new { @class = "control-label col-sm-8", @style = "float:unset;" })
    </div>
    <div class ="info-unit" id ="checkableGridDiv"style="margin-top:10px;padding:unset;margin-right:unset">
        <div>
            @grid.GetHtml(
            tableStyle: "gridtable",
           headerStyle: "webgrid-header",

           alternatingRowStyle: "webgrid-alternating-row",
           rowStyle: "webgrid-row-style",
           htmlAttributes: new { id = "checkableGrid" },
           columns: grid.Columns(
           grid.Column(
                format:@<text><input type="checkbox" value="@item.UnitId" name="ids" class="checkboxAll" id="all"/></text>
                   , header: "{checkall}"

           ),
                grid.Column(
                   "CreatedDate",
                   "Date Entered",
                   format: (item) => string.Format("{0:MM/dd/yyyy}", item.CreatedDate)
               ),
           grid.Column("VIN/HIN/serial #", "VIN/HIN/serial #", canSort: false, format:@<text>@{<label id="vin" class="vin">@item.IdentificationNumber</label>}</text>),
                grid.Column("Year", "Year", format:@<text>@{<label id="year" class="year">@item.Year</label>}</text>),
                grid.Column("Make", "Make", format:@<text>@{<label id="make" class="make">@item.Make</label>}</text>),
               grid.Column("Model", "Model", format:@<text>@{<label id="model" class="model">@item.Model</label>}</text>),
               grid.Column("Cost", "Cost ($)", style: "gridColumn", format:@<text>@{<label id="cost" class="cost">@Convert.ToDecimal(item.Cost).ToString("#,##0.00")</label>}</text>),
                grid.Column("Advance Amount", "Advance Amount ($)", canSort: false, style: "gridColumn", format:@<text>@{<label id="am" class="advanceAmount">@Convert.ToDecimal(item.AdvanceAmount).ToString("#,##0.00")</label>}</text>)
  )
)

        </div>
        <span id="subtotal" style="margin-left:70%;"> Current Total to Advance : $ 0.00 </span>
        <div id="unitid" class="hidden"></div>
    </div>

    <div class="right-panel">
        @{
            Html.RenderAction("LoanPaymentDetails", "Unit");
        }



    </div>

    <div class ="info-unit" id="advanceAllDiv" style="margin-top:10px;width:79%">
        <div class="form-group">
            <div class="control-label col-sm-2" style="text-align:right;padding-top:5px">
                @Html.Label("AdvanceDate", htmlAttributes: new { })<span style="color:red"> *</span>
            </div>
            <div class="col-xs-3" id="advanceDateAll" style="width:30%">
                @Html.EditorFor(model => model.AdvanceDate, new { htmlAttributes = new { @class = "form-control dateKeyPressValidate", @id = "startDate", autocomplete = "off", @disabled = "disabled" , placeholder = "MM/DD/YYYY" , maxlength = 10 } })
                <span class="text-danger field-validation-error" id="errorStartDate" style="left:25%"></span>
        </div>
            <input type="button" value="Advance all selected items" id="btnAdvanceAll" class="btn btn-primary m-b" style="margin-left:60px" disabled/>
        </div>
    </div>


<div class="info-unit" id="searchDiv" style="margin-top:10px;padding-top:0px;width:79%">
    <div class="control-label col-lg-10" id="searchLabelDiv" style="color:dodgerblue;">
        <h5>@Html.Label("Search Units", htmlAttributes: new { })</h5>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form>
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="">VIN/HIN/Serial</label>
                            @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control", @id = "identificationNumberSearch", @placeholder = "VIN/HIN/Serial", @maxlength = "20",@Style="width:165px" } })
                            @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2" id="div-combobox1-1" style="margin-left:50px">
                            <label for="">Year</label>
                            @{
                                List<SelectListItem> yearList = new List<SelectListItem>();
                                foreach (var type in ViewBag.advanceList)
                                {
                                    if (!yearList.Exists(a => a.Value == type.Year.ToString()) && type.Year.ToString() != "")
                                    {
                                        yearList.Add(new SelectListItem { Text = type.Year.ToString(), Value = type.Year.ToString() });
                                    }
                                }
                            }<SelectListItem>
                                <SelectListItem>
                             @Html.DropDownList("year", yearList, "--Select--", new { @class = "form-control", @id = "cmbYear"})
                            @Html.ValidationMessageFor(model => model.vehicle.Year, "", new { @class = "text-danger" })
                                    <div id="vehicleyear"><span class="text-danger"></span></div>

                        </div>
                        <div class="col-md-2" id="div-combobox1-2">
                            <label for="">Make</label>
                            @{List<SelectListItem> makeList = new List<SelectListItem>();
                                foreach (var type in ViewBag.advanceList)
                                {
                                    if (!makeList.Exists(a => a.Value == type.Make.ToString()) && type.Make.ToString() != "")
                                    {
                                        makeList.Add(new SelectListItem { Text = type.Make.ToString(), Value = type.Make.ToString() });
                                    }
                                }
                            }<SelectListItem>
                                <SelectListItem>

                        @Html.DropDownList("make", makeList, "-- Select--", new { @class = "form-control", @id = "cmbMake" })
                        @Html.ValidationMessageFor(model => model.vehicle.Make, "", new { @class = "text-danger col-md-2" })
                        <div id="vehiclemake"><span class="text-danger"></span></div>

                        </div>
                        <div class="col-md-2" id="div-combobox1-3">
                            <label for="">Model</label>
                            @{List<SelectListItem> modelList = new List<SelectListItem>();
                                foreach (var type in ViewBag.advanceList)
                                {
                                    if (!modelList.Exists(a => a.Value == type.Model.ToString()) && type.Model.ToString() != "")
                                    {
                                        modelList.Add(new SelectListItem { Text = type.Model.ToString(), Value = type.Model.ToString() });
                                    }
                                }
                            }<SelectListItem>
                                <SelectListItem>

                                            @Html.DropDownList("model", modelList, "--Select--", new { @class = "form-control", @id = "cmbModel" })
                                            @Html.ValidationMessageFor(model => model.vehicle.Model, "", new { @class = "text-danger" })
                                            <div id="vehiclemodel"><span class="text-danger"></span></div>
                        </div>
                        <button type="button" class="btn btn-info" id="btnSearch" style="width:100px;margin-left: 10px;margin-top: 20px;">Search</button>
                        <button type="button" class="btn btn-default" id="btnClear" tabindex="-1" style="float:right;margin-top: 20px;width: 100px;margin-right: 10px;">Clear</button>
                </div>
                        </fieldset>
            </form>
        </div>
    </div>
    </div>


<div class="form-horizontal" style="margin-bottom:10px;margin-top:10px">
    <div class="info-unit" id="searchGrid1" style="margin-top:10px;padding:unset">


    </div>
</div>
<div class="info-unit" id="singleUnitDiv" hidden style="margin-bottom:1%">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>VIN/HIN/Serial</label>
                            @Html.Editor("iVin", new { @id = "iVin", htmlAttributes = new { @class = "form-control", @disabled = "disabled",@Style= "width:165px" } })
                        </div>
                        <div class="col-md-2" style="margin-left:50px">
                            <label>Year</label>
                            @Html.Editor("iYear", new { @id = "iYear", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="col-md-2">
                            <label>Make</label>
                            @Html.Editor("iMake", new { @id = "iMake", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="col-md-2">
                            <label>Model</label>
                            @Html.Editor("iModel", new { @id = "iModel", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="col-md-2">
                            <label>Price</label>
                            @Html.Editor("iCost", new { @id = "iCost", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Advance Amount</label>
                            @Html.Editor("iAdvance", new { @id = "iAdvance", htmlAttributes = new { @class = "form-control", @disabled = "disabled", style = "text-align:right;" } })
                               <div id="tagscloud"><span class="text-danger field-validation-error" id="errorAdvanceAmount"></span></div>
                        </div>
                        <div class="col-md-2">
                            <label>Advance Date</label><span style="color:red"> *</span>
                            @Html.EditorFor(model => model.AdvanceDate, new { htmlAttributes = new { @class = "form-control dateKeyPressValidate", @placeholder = "MM/DD/YYYY", @id = "advanceDate", autocomplete = "off", @disabled = "disabled" , maxlength = 10 } })
                            <span class="text-danger field-validation-error" id="errorAdvanceDate" style="left:25%"></span>
                        </div>
                    </div>
                    <input type="button" value="Cancel" id="btnCancel" tabindex="-1" class="btn btn-default cancel btn-right" style="float:right;width:130px" />

                    <input type="submit" name="Advance" value="Advance" id="btnAdvance" class="btn btn-info btn-center" style="float:left;width:130px"disabled />
                    </fieldset>
                </form>
            </div>
        </div>
                    </div>

    </div>

        </div>
   
    <div class="link-bar" style="margin-bottom:15px;">


        @{
            Html.RenderAction("GetLinkBar", "Unit");
        }


    </div>

 </div>
                    <script src="~/scripts/CommonFunctions.js"></script>


                    <script type="text/javascript">

                        $("#lkadv").hide();

                        $('#advanceDate').focusout(function () {
                            $(this).attr('placeholder', 'MM/DD/YYYY');
                        });
                        // Change the selector if needed
                        var table = $('table'),
                            bodyCells = table.find('tbody tr:first').children(),
                            colWidth;

                        // Adjust the width of thead cells when window resizes
                        $(window).resize(function () {
                            // Get the tbody columns width array
                            colWidth = bodyCells.map(function () {
                                return $(this).width();
                            }).get();

                            // Set the width of thead columns
                            table.find('thead tr').children().each(function (i, v) {
                                $(v).width(colWidth[i]);
                            });
                        }).resize(); // Trigger resize handler

                        $(window).bind("load", function () {

                            // Get the tbody columns width array
                            colWidth = bodyCells.map(function () {
                                return $(this).width();
                            }).get();

                            // Set the width of thead columns
                            table.find('thead tr').children().each(function (i, v) {
                                $(v).width(colWidth[i]);
                            });
                        });


                        function onlyDotsAndNumbers(event) {
                            var charCode = (event.which) ? event.which : event.keyCode
                            if (charCode == 46) {
                                return true;
                            }
                            if (charCode > 31 && (charCode < 48 || charCode > 57))
                                return false;

                            return true;
                        };
                        //block invalid characters
                        $("#identificationNumberSearch").keypress(function (e) {

                            var ch = e.which;
                            if ((ch >= 47 && ch <= 57) || (ch >= 65 && ch <= 90) || (ch >= 97 && ch <= 122)) {
                                return 1;
                            }

                            else {
                                e.preventDefault();
                            }
                            //alert(ch);
                        });
                        //capitalize letters when typing
                        $('#identificationNumberSearch').keyup(function () {
                            $('#identificationNumberSearch').val(($('#identificationNumberSearch').val()).toUpperCase());
                        });
                        $("#btnCancel").click(function () {
                            ClearTextBoxValues();

                            total = 0;
                            checkCount = 0;
                            $("#btnAdvance").attr("disabled", "disabled");
                            $("#btnAdvanceAll").attr("disabled", "disabled");
                            $("#advanceDate").attr("disabled", "disabled");
                            $("#startDate").attr("disabled", "disabled");
                            $("#iAdvance").attr("disabled", "disabled");

                            var count = 0;
                            $("#checkableGrid").find("input:checkbox").each(function () {
                                this.checked = false;
                                if (count > 0) {
                                    $(this).parents('tr').css('background', 'transparent');
                                }
                                count++;
                            });
                            document.getElementById('all').checked = false;
                            document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + roundNumber(total,2);

                            $("#someID span").html('Select');
                            $("#tagscloud span").html('');
                            $('#iAdvance').removeClass('input-validation-error');
                            $('#startDate').val('');
                            $('#startDate').removeClass('input-validation-error');
                            $('#errorStartDate').text('');
                            $('#startDate').attr('placeholder', 'MM/DD/YYYY');

                            ClearSearchRelatedData();

                        });

                        $("#btnClear").click(function () {

                            ClearSearchRelatedData();
                            var mainGridSelectedCount = 0;
                            $('table#checkableGrid > tbody > tr').each(function () {
                                var isChecked = $(this).find("#all").is(':checked');
                                if (isChecked === true)
                                    mainGridSelectedCount = mainGridSelectedCount + 1;
                        });

                            if (mainGridSelectedCount === 0)
                                ClearTextBoxValues();
                        });

                        function ClearSearchRelatedData() {
                            //document.getElementById("form").reset();
                            $("#identificationNumberSearch").val('');
                            $("#vehicleModelSearch").val('');
                            $('#cmbYear').val('');
                            $("#cmbMake").val('');
                            $("#cmbModel").val('');
                            $("#noDataLabelDiv").hide();
                            $("#searchGrid1").hide();

                        }

                        $("#btnSearch").click(function () {

                            ClearTextBoxValues();

                            total = 0;
                            checkCount = 0;
                            $("#btnAdvance").attr("disabled", "disabled");
                            $("#btnAdvanceAll").attr("disabled", "disabled");
                            $("#advanceDate").attr("disabled", "disabled");
                            $("#startDate").attr("disabled", "disabled");
                            $("#iAdvance").attr("disabled", "disabled");
                            ClearMainGrid();
                            document.getElementById('all').checked = false;
                            document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + roundNumber(total,2);

                            $("#someID span").html('Select');
                            $("#tagscloud span").html('');
                            $('#iAdvance').removeClass('input-validation-error');
                            var para1 = $("#identificationNumberSearch").val();
                            var para2 = $('#cmbYear').val();
                            var para3 = $("#cmbMake").val();
                            var para4 = $("#cmbModel").val();
                            if (para1 == null) { para1 = ''; }
                            if (($("#identificationNumberSearch").val() != '') || ($('#cmbYear').val() != '') || ($('#cmbMake').val() != '') || ($("#cmbModel").val() != '')) {
                                Search(para1, para2, para3, para4);
                            } else {
                                $('#searchGrid1').hide();
                            }


                        });

                        function ClearMainGrid() {
                            var count = 0;
                            $("#checkableGrid").find("input:checkbox").each(function () {
                                this.checked = false;
                                if (count > 0) {
                                    $(this).parents('tr').css('background', 'transparent');
                                }
                                count++;
                            });

                            total = 0;
                            checkCount = 0;
                            document.getElementById("subtotal").innerHTML = "Current Curtailment Total : $ " + roundNumber(total, 2);
                            $("#payAll").attr("disabled", "disabled");
                            $("#payDate").attr("disabled", "disabled");

                            // clear top error
                            $('.centered span').text('');
                            //$('#errorPayDate').text('');
                            //$('#payDate').removeClass('input-validation-error');
                            //$('#payDate').next('span').children().text('');
                        }

                        $("#identificationNumberSearch").click(function () {

                            ClearLabelMessages();
                            $('#noDataLabelDiv').hide();
                            $('#searchGrid1').hide();
                        });

                        $("#div-combobox1-1").click(function () {
                            ClearLabelMessages();
                        });

                        $("#div-combobox1-2").click(function () {
                            ClearLabelMessages();
                        });

                        $("#div-combobox1-3").click(function () {
                            ClearLabelMessages();
                        });

                        function ClearLabelMessages() {
                            $('#noDataLabelDiv').text("");
                            $('.label-success').text("");
                        }


                        function Search(para1, para2, para3, para4) {

                            $.ajax({
                                url: '/AdvanceUnit/SearchUnit',
                                type: 'POST',
                                contentType: 'application/json;',
                                data: JSON.stringify({ identificationNumber: para1, year: para2, make: para3, vehicleModel: para4 }),
                                success: function (View) {
                                    $('#searchGrid1').html(View);
                                    $('#searchGrid1').show();
                                },
                                error: function (reponse) {
                                    $('#loadingSpan').hide();
                                    alert("error : " + reponse);
                                    $('#searchGrid1').hide();
                                }
                            });
                        }
                        $(document).ready(function () {

                            if ($('#checkableGrid').children('tbody').children('tr').length == 0) {
                                $("#checkableGridDiv").hide();
                                $("#advanceAllDiv").hide();
                                $("#searchDiv").hide();
                                $("#searchGrid1").hide();
                                //$("#unitDetailDiv").hide();
                                $("#noDataLabelDiv").hide();
                                $("#noUnitLabelDiv").show();
                                $("#searchLabelDiv").hide();

                            }
                            else if (($('#checkableGrid').children('tbody').children('tr').length > 0) && ($('#searchResultGrid').children('tbody').children('tr').length > 0)) {
                                $("#checkableGridDiv").show();
                                $("#advanceAllDiv").show();
                                $("#searchDiv").show();
                                $("#searchGrid1").show();
                                //$("#unitDetailDiv").show();
                                $("#noDataLabelDiv").hide();
                                $("#noUnitLabelDiv").hide();
                                $("#searchLabelDiv").show();
                            }
                            else if (($('#checkableGrid').children('tbody').children('tr').length > 0) && ($('#searchResultGrid').children('tbody').children('tr').length == 0)) {
                                $("#checkableGridDiv").show();
                                $("#advanceAllDiv").show();
                                $("#searchDiv").show();
                                //$("#unitDetailDiv").show();
                                $("#searchGrid1").hide();
                                $("#noDataLabelDiv").show();
                                $("#noUnitLabelDiv").hide();
                                $("#searchLabelDiv").show();
                            }

                        });

                    </script>


                    <script type="text/javascript">
                        var total = 0;
                        var checkCount = 0;
                        var totalRecCount = 0;

                        function GridUpdate() {
                            var ctrl =
                                    $('<input />', {
                                        type: 'checkbox',
                                        id: "cbSelectAll",
                                        click: function () {
                                            var checkboxes = $(this).closest('table').find('tbody tr td input[type="checkbox"]');
                                            checkboxes.prop('checked', $(this).is(':checked'));
                                            var chk = checkboxes.prop('checked');
                                            if (chk) {
                                                var checkBoxText = $('<div />').attr({ id: 'someID' }).html('<span> Deselect </span>');
                                                $('.gridtable thead tr th:first').html(checkBoxText.prepend(ctrl));
                                                $("#iAdvance").attr("disabled", "disabled");

                                            } else {
                                                var checkBoxText = $('<div />').attr({ id: 'someID' }).html('<span> Select </span>');
                                                $('.gridtable thead tr th:first').html(checkBoxText.prepend(ctrl));
                                                $("#btnAdvanceAll").attr("disabled", "disabled");
                                                $("#startDate").attr("disabled", "disabled");
                                                $("#iAdvance").attr("disabled", "disabled");
                                                totalRecCount = 0;

                                            }
                                            total = 0;
                                            totalRecCount = 0;
                                            $('.advanceAmount').each(function () {
                                                var tr = $(this).parents('tr:first');
                                                totalRecCount++;
                                                if (document.getElementById('all').checked) {
                                                    total = total + parseFloat(tr.find("#am").text().replace(',', ''));
                                                    checkCount++;

                                                    $(this).parents('tr').css('background', 'lightblue');
                                                } else {
                                                    checkCount = 0;
                                                    total = 0;
                                                    $(this).parents('tr').css('background', 'transparent');
                                                }

                                                document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + roundNumber(total,2);
                                                if (checkCount > 0) {
                                                    $("#btnAdvanceAll").removeAttr("disabled");
                                                    $("#startDate").removeAttr("disabled");
                                                    if (totalRecCount == 1) {
                                                        SetTextBoxValues(tr);
                                                    }
                                                }

                                            });
                                            if (checkCount > 1) {
                                                ClearTextBoxValues(); ClearSearchGrid();
                                            }
                                            else if (checkCount == 0 || totalRecCount == 0) {
                                                $("#btnAdvanceAll").attr("disabled", "disabled");
                                                $("#startDate").attr("disabled", "disabled");
                                                ClearTextBoxValues();
                                            }

                                        }
                                    })


                            var gg = $('<div />').attr({ id: 'someID' }).html('<span> Select </span>');
                            $('.gridtable thead tr th:first').html(gg.prepend(ctrl));


                            $('.checkboxAll').change(function () {
                                var tr = $(this).parents('tr:first');
                                //var fullcost = parseFloat(tr.find("#am").text().replace(',', ''));
                                //var numValue = Number.parseFloat(tr.find("#am").text());
                                //alert(fullcost);
                                var checked = tr.find("#all").is(':checked');
                                if (checked) {
                                    total = total + parseFloat(tr.find("#am").text().replace(',', ''));
                                    checkCount++;
                                    $(this).parents('tr').css('background', 'lightblue');
                                } else {
                                    total = total - parseFloat(tr.find("#am").text().replace(',', ''));
                                    checkCount--;
                                    $(this).parents('tr').css('background', 'transparent');
                                }

                                if (checkCount == 1) {

                                    if (checked) {
                                        SetTextBoxValues(tr);

                                    } else {
                                        $('.advanceAmount').each(function () {

                                            var tr = $(this).parents('tr:first');
                                            var checked = tr.find("#all").is(':checked');

                                            if (checked) {
                                                SetTextBoxValues(tr);
                                            }
                                        });
                                    }
                                    document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + roundNumber(total,2);
                                    $("#btnAdvanceAll").removeAttr("disabled");
                                    $("#startDate").removeAttr("disabled");
                                }
                                else if (checkCount == 0) {
                                    document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ 0.00";
                                    ClearTextBoxValues();
                                    $("#btnAdvanceAll").attr("disabled", "disabled");
                                    $("#startDate").attr("disabled", "disabled");
                                    $("#iAdvance").attr("disabled", "disabled");
                                    $("#someID span").html('Select')

                                }
                                else {

                                    ClearTextBoxValues();
                                    document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + roundNumber(total,2);
                                }

                                if (checkCount > 0) {

                                    ClearSearchGrid();
                                    var chkText = $('<div />').attr({ id: 'someID' }).html(' <span> Select </span>');
                                    $('.gridtable thead tr th:first').html(chkText.prepend(ctrl));
                                    //ChangeCheckBoxText('select ');

                                    var totalRows = $("#checkableGrid td :checkbox").length;
                                    var checked = $("#checkableGrid td :checkbox:checked").length;

                                    if (checked == totalRows) {
                                        var chkText = $('<div />').attr({ id: 'someID' }).html('<span>  Deselect </span>');
                                        $('.gridtable thead tr th:first').html(chkText.prepend(ctrl));
                                    }
                                }

                            });


                            // Change the selector if needed
                            var table = $('table'),
                                bodyCells = table.find('tbody tr:first').children(),
                                colWidth;

                            // Adjust the width of thead cells when window resizes
                            $(window).resize(function () {
                                // Get the tbody columns width array
                                colWidth = bodyCells.map(function () {
                                    return $(this).width();
                                }).get();

                                // Set the width of thead columns
                                table.find('thead tr').children().each(function (i, v) {
                                    $(v).width(colWidth[i]);
                                });
                            }).resize(); // Trigger resize handler

                            $(window).bind("load", function () {

                                // Get the tbody columns width array
                                colWidth = bodyCells.map(function () {
                                    return $(this).width();
                                }).get();

                                // Set the width of thead columns
                                table.find('thead tr').children().each(function (i, v) {
                                    $(v).width(colWidth[i]);
                                });
                            });
                        }

                        $(function () {
                            GridUpdate();
                        });

                        $(document).on('click', 'tbody', (function (e) {
                            var target = $(e.target);
                            if (target.parents('#checkableGrid').length) {
                                var $td = $(e.target).closest("td");
                                var rowIndex = $td.parent().index();
                                rowIndex += 1;
                                var ColIndex = $td.parent().children().index($td);
                                var table = document.getElementById("checkableGrid");
                                var row = $("tr:eq(" + rowIndex + ")", '#checkableGrid');
                                ClearLabelMessages();

                                if (ColIndex != 0) {

                                    var checked = row.find("#all").prop('checked');
                                    if (!checked) {
                                        row.find("#all").prop('checked', true);
                                        row.css('background', 'lightblue');

                                        checkCount++;
                                        total = total + parseFloat(row.find("#am").text().replace(',', ''));

                                        if (checkCount == 1) {
                                            ClearSearchGrid();
                                            SetTextBoxValues(row);
                                        }
                                        else {
                                            ClearSearchGrid();
                                            SetRadioBtnHeaderChecked();
                                            ClearTextBoxValues();
                                        }
                                        document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + roundNumber(total,2);

                                        $("#btnAdvanceAll").removeAttr("disabled");
                                        $("#startDate").removeAttr("disabled");
                                    }
                                } else {
                                    SetRadioBtnHeaderChecked();
                                }
                            }
                        }));

                        $(document).ready(function () {
                            $("#content tbody tr").each(function (i, row) {
                                var $actualRow = $(row);
                                if ($actualRow.find('input[type=checkbox]').prop('checked') == true) {
                                    $actualRow.css('background-color', '#EAF2D3');
                                }
                                else {
                                    $actualRow.css('background-color', '#FF9E9E');
                                }
                            });
                        });

                        $('#btnAdvance').click(function (e) {

                            if ($("#tagscloud span").text() != "" || $('#errorAdvanceDate').text() != "") {
                                e.preventDefault();
                                return;
                            }
                            if (($('#advanceDate').val() == "")&&($('#iAdvance').val() == "")) {
                                $('#advanceDate').addClass('input-validation-error');

                                $('.centered span').text('Error');
                                $('#errorAdvanceDate').text('Advance date is required');
                                $('#iAdvance').addClass('input-validation-error');

                                $('.centered span').text('Error');
                                $('#errorAdvanceAmount').text('Advance amount is required');
                                e.preventDefault();
                                return;
                            }
                            if ($('#advanceDate').val() == "") {

                                // required error message
                                $('#advanceDate').addClass('input-validation-error');

                                $('.centered span').text('Error');
                                $('#errorAdvanceDate').text('Advance date is required');

                                e.preventDefault();
                                return;
                            }
                            if ($('#iAdvance').val() == "") {



                                //advance amount required error message
                                $('#iAdvance').addClass('input-validation-error');

                                $('.centered span').text('Error');
                                $('#errorAdvanceAmount').text('Advance amount is required');
                                e.preventDefault();
                                return;
                            }

                            else if ($('#iVin').val() != '') {

                                var unit = {
                                    "UnitId": $('#unitid').text(),
                                    "IdentificationNumber": $('#iVin').val(),
                                    "AdvanceAmount": $('#iAdvance').val().replace(',', ''),
                                    "AdvanceDate": $('#advanceDate').val(),
                                    "Cost": $('#iCost').val().replace(',', '')
                                };

                                $.ajax({
                                    url: '/AdvanceUnit/UpdateAdvance/',
                                    data: JSON.stringify(unit),
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (View) {
                                        if (View != '0') {
                                            $(location).attr('href', '/AdvanceUnit/Advance');
                                        } else {
                                            $(location).attr('href', '/AdvanceUnit/Advance');
                                        }
                                    }
                                });
                            }
                        });

                        $('#btnAdvanceAll').click(function () {

                            if ($('#errorStartDate').text() != "") {
                                e.preventDefault();
                                return;
                            }


                            if ($('#startDate').val() == "") {

                                // required error message
                                $('#startDate').addClass('input-validation-error');

                                $('.centered span').text('Error');
                                $('#errorStartDate').text('Advance date is required');
                                e.preventDefault();
                                return;
                            }

                            if (checkCount >= 1) {
                                var data = { ItemList: [] };
                                $('.advanceAmount').each(function () {
                                    var tr = $(this).parents('tr:first');
                                    var checked = tr.find("#all").is(':checked');
                                    if (checked) {
                                        data.ItemList.push({ UnitId: tr.find("#all").val(), IdentificationNumber: tr.find("#vin").text(), AdvanceAmount: tr.find("#am").text().replace(',', ''), AdvanceDate: $('#startDate').val(), Cost: $('#iCost').val().replace(',', '') });

                                    }
                                });

                                $.ajax({
                                    url: '/AdvanceUnit/UpdateAdvanceAll/',
                                    data: JSON.stringify(data),
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',

                                    success: function (View) {

                                        $(location).attr('href', '/AdvanceUnit/Advance');
                                    }
                                });
                            }

                        });

                        function ClearSearchGrid() {

                            $("#searchResultGrid").find('.advance').each(function () {
                                var tr = $(this).parents('tr:first');
                                tr.css('background', 'transparent');
                            });
                        }

                        function ClearTextBoxValues() {
                            $('#ivin').val('');
                            $('#iYear').val('');
                            $('#iMake').val('');
                            $('#iModel').val('');
                            $('#iCost').val('');
                            $('#iAdvance').val('');
                            $("#btnAdvance").attr("disabled", "disabled");
                            //$("#btnAdvanceAll").removeAttr("disabled");
                            $("#advanceDate").attr("disabled", "disabled");
                            //$("#startDate").removeAttr("disabled");
                            $('#advanceDate').removeClass('input-validation-error');

                            $('.centered span').text('');
                            $('#errorAdvanceDate').text('');
                            $('#iAdvance').removeClass('input-validation-error');

                            $('.centered span').text('');
                            $('#errorAdvanceAmount').text('');
                            $("#singleUnitDiv").hide();
                        }

                        function SetTextBoxValues(tr) {
                            $('#iVin').val(tr.find("#vin").text());
                            $('#iYear').val(tr.find("#year").text());
                            $('#iMake').val(tr.find("#make").text());
                            $('#iModel').val(tr.find("#model").text());
                            $('#iCost').val(tr.find("#cost").text());
                            $('#iAdvance').val(tr.find("#am").text().replace(',', ''));
                            document.getElementById("unitid").innerHTML = tr.find("#all").val();
                            //document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ ";
                            @if(ViewBag.loanDetails.isEditAllowable == true)
                {
                    <text> $('#iAdvance').removeAttr('disabled'); </text>
                }
                            $("#advanceDate").val('');
                            $('#advanceDate').attr('placeholder', 'MM/DD/YYYY');
                            //$("#btnAdvanceAll").attr("disabled", "disabled");
                            $("#btnAdvance").removeAttr("disabled");
                            //$("#startDate").attr("disabled", "disabled");
                            $("#advanceDate").removeAttr("disabled");

                            $('#advanceDate').removeClass('input-validation-error');

                            $('.centered span').text('');
                            $('#errorAdvanceDate').text('');
                            $('#iAdvance').removeClass('input-validation-error');

                            $('.centered span').text('');
                            $('#errorAdvanceAmount').text('');
                            $("#singleUnitDiv").show();

                        }

                        function SetRadioBtnHeaderChecked() {
                            var totalRows = $("#checkableGrid td :checkbox").length;
                            var checked = $("#checkableGrid td :checkbox:checked").length;

                            if (checked == totalRows) {
                                var chkText = $('<div />').attr({ id: 'someID' }).html('<span> Deselect </span>');
                                $("#checkableGrid").find("input:checkbox").each(function () {
                                    this.checked = true;
                                });
                                $("#someID span").html('Deselect');
                            }
                            else {

                                $("#cbSelectAll").removeAttr("checked");
                            }

                        }

                        function ChangeCheckBoxText(value) {
                            var chkText = $('<div />').attr({ id: 'someID' }).html(value);
                            $('.gridtable thead tr th:first').html(chkText.prepend(ctrl));
                        }

                        var startPicker = new Pikaday({
                            field: document.getElementById('startDate'),
                            format: 'l'


                        });

                        startPicker.setMinDate(new Date("@ViewBag.loanDetails.startDate.Date"));
                        startPicker.setMaxDate(new Date("@ViewBag.loanDetails.maturityDate.Date"));
                        startPicker.gotoDate(new Date());
                        var advDatePicker = new Pikaday({
                            field: document.getElementById('advanceDate'),
                            format: 'l'


                        });


                        advDatePicker.setMinDate(new Date("@ViewBag.loanDetails.startDate.Date"));
                        advDatePicker.setMaxDate(new Date("@ViewBag.loanDetails.maturityDate.Date"));
                        advDatePicker.gotoDate(new Date());





                        //$('#iAdvance').keypress(function (e) {
                        //    var cost = document.getElementById('iCost').value;

                        //    if ((e.which >= 48 && e.which <= 57) || e.which === 46 || e.which === 8) {
                        //        var val = this.value;

                        //        if (e.which === 46 || e.which === 8) {


                        //        } else {
                        //            if (val.length + 1 > cost.length) {
                        //                $("#tagscloud span").fadeIn();
                        //                $(this).addClass('input-validation-error');
                        //                $("#tagscloud span").text("Advance can not be higer than cost/ input two decimal point only");
                        //                $("#tagscloud span").delay(1000).fadeOut();
                        //                $(this).removeClass('input-validation-error');
                        //                $("#tagscloud span");
                        //                e.preventDefault();
                        //            }

                        //        }

                        //    } else {
                        //        $("#tagscloud span").fadeIn();
                        //        $(this).addClass('input-validation-error')
                        //        $("#tagscloud span").text("Advance must be a positive number");
                        //        $("#tagscloud span").delay(1000).fadeOut();
                        //        $(this).removeClass('input-validation-error');
                        //        e.preventDefault();
                        //    }
                        //});

                        //$('#iAdvance').blur(function () {

                        //    var cost = document.getElementById('iCost').value;


                        //    var val = $.trim($(this).val());

                        //    if (val.indexOf(',') > -1) {
                        //        val = val.replace(',', '');
                        //    }

                        //    var num = parseFloat(val);
                        //    var num = num.toFixed(2);
                        //    if (isNaN(num)) {
                        //        num = '';
                        //    }




                        //    if (isNaN(num)) {

                        //        $("#tagscloud span").fadeIn();
                        //        $(this).addClass('input-validation-error');
                        //        $("#tagscloud span").text("Advance must be a positive number");

                        //    }
                        //    else if (Number(num) > Number(cost)) {

                        //        $("#tagscloud span").fadeIn();
                        //        $(this).addClass('input-validation-error');
                        //        $("#tagscloud span").text("Advance must be less than cost");


                        //    }

                        //    else if (Number(num) <= 0) {
                        //        $("#tagscloud span").fadeIn();
                        //        $(this).addClass('input-validation-error');
                        //        $("#tagscloud span").text("Advance must be greater than zero");

                        //    } else {
                        //        $("#tagscloud span").fadeOut();
                        //        $(this).removeClass('input-validation-error');
                        //        $("#tagscloud span").text("");

                        //    }


                        //    $(this).val(num);
                        //});

                        var maxAdvance = parseFloat($('#blc').text().replace(',', ''))
                        $('#iAdvance').keypress(function (e) {
                            var cost = document.getElementById('iCost').value.replace(',', '');

                            var advance = document.getElementById('iAdvance').value.replace(',', '');
                            if ((e.which >= 48 && e.which <= 57) || e.which === 46 || e.which === 8) {
                                //var val = this.value + (e.which - 48);
                                //alert(cost + ' ' + val);
                                if (e.which !== 46 && e.which !== 8) {
                                    if (cost === 0.00 || Number(advance) > Number(cost)) {
                                        //$("#tagscloudAdvance span").fadeIn();
                                        $(this).addClass('input-validation-error');
                                        $("#tagscloud span").text("Advance must be less than cost");
                                        //$("#tagscloudAdvance span").delay(1000).fadeOut();
                                        //$(this).removeClass('input-validation-error');
                                        e.preventDefault();
                                    }
                                    if (advance > maxAdvance) {
                                        //$("#tagscloudAdvance span").fadeIn();
                                        $(this).addClass('input-validation-error');
                                        $("#tagscloud span").text("Advance must be less than balance");
                                        //$("#tagscloudAdvance span").delay(1000).fadeOut();
                                        //$(this).removeClass('input-validation-error');
                                        e.preventDefault();
                                    }
                                }
                            } else {
                                //$("#tagscloudAdvance span").fadeIn();
                                $(this).addClass('input-validation-error');
                                $("#tagscloudAdvance span").text("Invalid character");
                                //$("#tagscloudAdvance span").delay(1000).fadeOut();
                                $(this).removeClass('input-validation-error');
                                e.preventDefault();
                            }
                        });

                        //claculate advance when click back-space
                        $('#iAdvance').keyup(function (e) {
                            //alert(e.keyCode);
                            if (e.keyCode === 8) {
                                var val = this.value;
                                //document.getElementById('txtAdvanceAmount').value = val;
                                $("#tagscloud span").text("");
                            }
                        });

                        $('#iAdvance').blur(function () {
                            var cost = document.getElementById('iCost').value.replace(',', '');
                            var advance = document.getElementById('iAdvance').value.replace(',', '');
                            var val = $.trim($(this).val());

                            if (val.indexOf(',') > -1) {
                                val = val.replace(',', '');
                            }

                            var num = parseFloat(val);
                            num = num.toFixed(2);
                            if (isNaN(num)) {
                                num = '';
                            }

                            if (isNaN(num)) {

                                //$("#tagscloudAdvance span").fadeIn();
                                $(this).addClass('input-validation-error');
                                $("#tagscloud span").text("Advance must be a positive number");

                            }
                            else if (Number(num) > Number(cost)) {
                                //$("#tagscloudAdvance span").fadeIn();
                                $(this).addClass('input-validation-error');
                                $("#tagscloud span").text("Advance  must be less than cost");
                            }
                            else if (Number(num) == "") {
                                //$("#tagscloudAdvance span").fadeIn();
                                //$(this).addClass('input-validation-error');
                                $("#tagscloud span").text("");
                            }
                            else if (Number(num) <= 0) {
                                //$("#tagscloudAdvance span").fadeIn();
                                $(this).addClass('input-validation-error');
                                $("#tagscloud span").text("Advance must be greater than zero");
                            }
                            else if (advance > maxAdvance) {
                                //$("#tagscloudAdvance span").fadeIn();
                                $(this).addClass('input-validation-error');
                                $("#tagscloud span").text("Advance must be less than balance");
                                //$("#tagscloudAdvance span").delay(1000).fadeOut();
                                //$(this).removeClass('input-validation-error');
                                e.preventDefault();
                            }
                            else {
                                //$("#tagscloudAdvance span").fadeOut();
                                $(this).removeClass('input-validation-error');
                                $("#tagscloud span").text("");
                            }

                            $(this).val(num);
                        });


                        //$('.ui-button').click(function () {
                        //    $('.centered1 span').text('');
                        //});


                        $('#identificationNumberSearch').focusout(function () {
                            $(this).attr('placeholder', 'VIN/HIN/Serial No');
                        });

                        function roundNumber(number, decimal_points) {
                            if (!decimal_points) return Math.round(number);
                            if (number == 0) {
                                var decimals = "";
                                for (var i = 0; i < decimal_points; i++) decimals += "0";
                                return "0." + decimals;
                            }

                            var exponent = Math.pow(10, decimal_points);
                            var num = Math.round((number * exponent)).toString();
                            return num.slice(0, -1 * decimal_points) + "." + num.slice(-1 * decimal_points)
                        }




                        $('#advanceDate').val('');
                        $('#startDate').val('');

                        $('#advanceDate').click(function () {

                            $('#errorAdvanceDate').text('');
                            $(this).removeClass('input-validation-error');

                        });
                        $('#advanceDate').blur(function () {

                            if ($(this).val() == "") {
                                $('#errorAdvanceDate').text('Advance date is required');
                                $(this).addClass('input-validation-error');
                                $(this).attr('placeholder', 'MM/DD/YYYY');
                                $('.centered span').text('Error');
                                return;
                            }
                            var valid = isValidDate($(this).val());
                            if (valid) {
                                var selectedDate = new Date($(this).val());
                                var minDate = new Date("@ViewBag.loanDetails.startDate.Date");
                                var maxDate = new Date("@ViewBag.loanDetails.maturityDate.Date");
                                if (selectedDate < minDate || selectedDate > maxDate) {
                                    // out off range error
                                    $('#errorAdvanceDate').text('Out of Range');
                                    $(this).addClass('input-validation-error');
                                    $('.centered span').text('Error');
                                } else {
                                    // delete error mssage
                                    $('#errorAdvanceDate').text('');
                                    $(this).removeClass('input-validation-error');
                                }



                            } else {

                                // not valid data error
                                $('#errorAdvanceDate').text('Not valid date');
                                $(this).addClass('input-validation-error');
                                $('.centered span').text('Error');
                            }
                        });

                        $('#startDate').click(function () {

                            $('#errorStartDate').text('');
                            $(this).removeClass('input-validation-error');

                        });
                        $('#startDate').blur(function () {

                            if ($(this).val() == "") {

                                $('#errorStartDate').text('Advance date is required');
                                $(this).addClass('input-validation-error');
                                $(this).attr('placeholder', 'MM/DD/YYYY');
                                $('.centered span').text('Error');

                                return;
                            }
                            var valid = isValidDate($(this).val());
                            if (valid) {
                                var selectedDate = new Date($(this).val());
                                var minDate = new Date("@ViewBag.loanDetails.startDate.Date");
                                var maxDate = new Date("@ViewBag.loanDetails.maturityDate.Date");
                                if (selectedDate < minDate || selectedDate > maxDate) {
                                    // out off range error
                                    $('#errorStartDate').text('Out of Range');
                                    $(this).addClass('input-validation-error');
                                    $('.centered span').text('Error');
                                } else {
                                    // delete error mssage
                                    $('#errorStartDate').text('');
                                    $(this).removeClass('input-validation-error');
                                }



                            } else {

                                // not valid data error
                                $('#errorStartDate').text('Not valid date');
                                $(this).addClass('input-validation-error');
                                $('.centered span').text('Error');
                            }
                        });

                    </script>








