@model BankLoanSystem.Models.UnitDeleteViewModel


<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
@*<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />*@
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*<link href="~/Content/commonActions.css" rel="stylesheet" />*@
@section AddToHead{
<style>
    .col-md-2 {
    text-align: left;
}

    .overlay-content {
        top: 14%;
        width: 600px;
        text-align: center;
    }

    #confirmBox {
        display: none;
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #aaa;
        position: fixed;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        padding: 6px 8px 8px;
        box-sizing: border-box;
        text-align: center;
    }

        #confirmBox .button {
            background-color: #ccc;
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #aaa;
            padding: 2px;
            text-align: center;
            width: 80px;
            cursor: pointer;
        }

            #confirmBox .button:hover {
                background-color: #ddd;
            }

        #confirmBox .message {
            text-align: left;
            margin-bottom: 8px;
        }
    .next_back{
        background-color:red;
    }
    .next_back:hover{ background:#AD2121;}
    .dsh-name > h3{
        color:#BB2D2D;
    }
</style>}
@{
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ViewBag.Title = "Delete Unit";
}


@{
    Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
}

<div class="container" style="padding-top:0px !important;">








    <div class="details-container">

        @*<div class="right-panel">
                            @{
            //Html.RenderAction("LoanPaymentDetails", "Unit");
                            }

                        </div>*@


        <div class="body-content" style="margin-bottom:15px;width:100%;height:auto">
         

            <div class="info-bar">

                <div class="form-group row" style="text-align:left">
                    <label for="" class="col-sm-3 form-control-label" style="padding-left: 15px;">View : </label>


                    <div class="col-md-8" style="display: inline-block;">
                        <label class="radio-inline" style="margin-left: 30px;">
                            <input type="radio" name="inlineRadioOptions" id="allUnit" class="viewType" value="0"> All Units

                        </label>
                        <label class="radio-inline" style="margin-left: 30px;">
                            <input type="radio" name="inlineRadioOptions" id="activeUit" class="viewType" value="1"> Active Units
                        </label>

                        <label class="radio-inline" style="margin-left: 30px;">
                            <input type="radio" name="inlineRadioOptions" class="viewType" id="pendingUnit" value="2"> Pending Units
                        </label>

                    </div>
                </div>
                    </div>


            <div class="info-bar search-panel" style="margin-top:15px;" id="searchDiv">


                <div class="row" style="display:inline-block">
                    <div class="col-xs-12" style="padding:unset;">
                        <form>
                            <fieldset>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="">VIN/HIN/Serial</label>

                                        @*@Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control", @id = "identificationNumberSearch", @placeholder = "Last 6 of VIN/HIN/SN", @maxlength = "6", @Style = "width:165px" } })
                                        @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })*@

                                        @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control", @id = "identificationNumberSearch", @placeholder = "Last 6 of VIN/HIN/SN", @maxlength = "6", @style = "width:165px" } })
                                        <span class="text-danger field-validation-error" id="searchIdentificationNumber" style="width:205px"></span>

                                    </div>
                                    <div class="col-md-2" id="div-combobox1-1" style="margin-left:26px">
                                        <label for="">Year</label>

                                        @{
                                            List<SelectListItem> yearList = new List<SelectListItem>();
                                            if (ViewBag.DeleteList != null)
                                            {
                                                foreach (var type in ViewBag.DeleteList)
                                                {
                                                    if (!yearList.Exists(a => a.Value == type.Year.ToString()) && type.Year.ToString() != "")
                                                    {
                                                        yearList.Add(new SelectListItem { Text = type.Year.ToString(), Value = type.Year.ToString() });
                                                    }
                                                }
                                            }
                                        }
                                        @Html.DropDownList("year", yearList, "-- select year --", new { @class = "form-control", @id = "cmbYear", @style = "width:143px" })
                                        <div id="vehicleyear"><span class="text-danger"></span></div>

                                        @*@{
                                            List<SelectListItem> yearList = new List<SelectListItem>();
                                            foreach (var CurtailmentSchedule in Model.CurtailmentScheduleInfoModel)
                                            {
                                                if (!yearList.Exists(a => a.Value == CurtailmentSchedule.Year.ToString()) && CurtailmentSchedule.Year.ToString() != "")
                                                {
                                                    yearList.Add(new SelectListItem { Text = CurtailmentSchedule.Year.ToString(), Value = CurtailmentSchedule.Year.ToString() });
                                                }
                                            }
                                        }
                                        @Html.DropDownList("year", yearList, "-- select year --", new { @class = "form-control", @id = "cmbYear", style = "width:143px" })
                                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })*@

                                        @*@Html.DropDownList("year", new List<SelectListItem>() , "-- select year --", new { @class = "form-control", @id = "cmbYear", style = "width:143px" })*@

                                    </div>
                                    <div class="col-md-2" id="div-combobox1-2">
                                        <label for="">Make</label>

                                        @{
                                            List<SelectListItem> makeList = new List<SelectListItem>();
                                            if (ViewBag.DeleteList != null)
                                            {
                                                foreach (var type in ViewBag.DeleteList)
                                            {
                                                    if (!makeList.Exists(a => a.Value == type.Make.ToString()) && type.Make.ToString() != "")
                                                {
                                                        makeList.Add(new SelectListItem { Text = type.Make.ToString(), Value = type.Make.ToString() });
                                                    }
                                                }
                                            }

                                        }


                                        @Html.DropDownList("make2", makeList, "--select make--", new { @class = "form-control", @id = "cmbMake" })

                                        @*@Html.DropDownList("make2", new List<SelectListItem>(), "--select make--", new { @class = "form-control", @id = "cmbMake", style = "width:143px" })*@

                                    </div>
                                    <div class="col-md-2" id="div-combobox1-3" style="width:20%">
                                        <label for="">Model</label>
                                        @{
                                            List<SelectListItem> modelList = new List<SelectListItem>();

                                            if (ViewBag.DeleteList != null)
                                            {
                                                foreach (var type in ViewBag.DeleteList)
                                            {
                                                    if (!modelList.Exists(a => a.Value == type.Model.ToString()) && type.Model.ToString() != "")
                                                {
                                                        modelList.Add(new SelectListItem { Text = type.Model.ToString(), Value = type.Model.ToString() });
                                                    }
                                                }
                                            }
                                        }
                                                @Html.DropDownList("model2", modelList, "--select model--", new { @class = "form-control", @id = "cmbModel" })


</div>
                                    <button type="button" class="btn btn-primary m-b cancel next_clear_button back_back" id="btnSearch" style="margin-left:29px; margin-top: 19px;margin-bottom: 0px;margin-right: 0px;">Search</button>
                                    <button type="button" class="btn btn-primary m-b next_clear_button clear_back" id="btnClear" tabindex="-1" style="margin-top: 19px;margin-bottom: 0px;margin-right: 0px;">Clear</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>

            <div class="info-bar" id="checkableGridDiv" hidden style="margin-top:10px;padding:1px 0px 30px 0px">

              <!-- this is for grid-->

          </div>


            <div class="info-bar search-panel" style="margin-top:15px;">
                <div class="row">
                    <div class="col-xs-12">
                        <form>
                            <fieldset>
                                <div class="form-group row">
                                    <input type="hidden" id="unitId"/>

                                    <div class="col-md-2">
                                        <label for="">Date Advanced</label>
                                        @Html.Editor("DateAdvanced", new { htmlAttributes = new { @class = "form-control", @id = "dateAdvanced", @disabled = "disabled" } })

                                    </div>
                                    <div class="col-md-2" style="width:28%;">
                                        <label for="">VIN/HIN/Serial</label>
                                        @Html.Editor("IdentificationNumber", new { htmlAttributes = new { @class = "form-control", @id = "identificationNumber", @disabled = "disabled" } })
                                       
                                    </div>
                                    <div class="col-md-2" style="width:15%;">
                                        <label for="">Year</label>
                                        @Html.Editor("Year", new { htmlAttributes = new { @class = "form-control", @id = "unitYear", @disabled = "disabled", @style = "text-align:left;" } })
                                        
                                    </div>
                                    <div class="col-md-2">
                                        <label for="">Make</label>
                                        @Html.Editor("Make", new { htmlAttributes = new { @class = "form-control", @id = "unitMake", @disabled = "disabled" } })
                                        
                                    </div>

                                    <div class="col-md-2">
                                        <label for="">Model</label>
                                        @Html.Editor("Model2", new { htmlAttributes = new { @class = "form-control", @id = "unitModel", @disabled = "disabled" } })
                                       
                                    </div>

                                   
                                   
                                </div>

                                <div class="form-group row" style="margin-top: 10px !important;">

                                    <div class="col-md-2">
                                        <label for="">Purchase Price</label>
                                        @Html.Editor("PurchasePrice", new { htmlAttributes = new { @class = "form-control", @id = "purchasePrice", @disabled = "disabled" } })

                                    </div>

                                    <div class="col-md-2">
                                        <label for="">Advance Amount</label>
                                        @Html.Editor("AdvanceAmount", new { htmlAttributes = new { @class = "form-control", @id = "advanceAmount", @disabled = "disabled", @style= "text-align: right;" } })

                                    </div>

                                    </div>

                                <div class="info-bar" id="FeeDetails" style="margin-top:10px;padding:1px 0px 30px 0px">

                                    <!-- this is for grid-->

                                </div>
                                
                                <button type="button" class="btn btn-primary m-b next_clear_button next_back" id="btnDelete" style="width:100px">Delete Unit</button>
                                <button type="button" class="btn btn-primary m-b next_clear_button clear_back" id="btnCancel" tabindex="-1" style="float:right;margin-right: 39px;">Cancel</button>
                            </fieldset>
                        </form>
                    </div>
                </div>




            </div>





                </div>

            </div>





</div>


@*<div class="overlay-content popupdelete" style="margin-left: 248px;">
    <h3>Delete Unit</h3>

    <span class="text-warning">Do you wish to delete this unit?</span><br />
    <br />
    @Html.ActionLink("YES", "Index", "SetupProcess", null, new { @class = "btn btn-info", style = "width: 70px;margin-right: 20px;" })
        @Html.ActionLink("NO", "UserDetails", "UserManagement", null, new { @class = "btn btn-info", style = "width: 70px;" })
</div>*@


<div class="overlay-content popupdelete" id="confirmBox">
    <h3>Delete Unit</h3>
    <span class="text-warning message"></span>
    <div style="margin-top:10px"></div>
    <span class="btn btn-info yes" style = "width: 70px; margin-right: 20px;">Yes</span>
    <span class="btn btn-info no" style = "width: 70px;">No</span>
</div>

<div class="link-bar" style="margin-bottom:15px;">


    @{
        Html.RenderAction("GetLinkBar", "Unit");
    }


</div>

<script>
    $('#btnClear').prop('disabled', true);
    $('#btnClear').click(function () {
        //location.reload();
     
        $('#btnClear').prop('disabled', true);
        $('#feeDetails').hide();

        $("#identificationNumberSearch").val('');
        $("#identificationNumberSearch").attr('placeholder', 'Last 6 of VIN/HIN/SN');
        $('#cmbYear').val('');
        $("#cmbMake").val('');
        $("#cmbModel").val('');

        document.getElementById('allUnit').checked = true;
        document.getElementById('activeUit').checked = false;
        document.getElementById('pendingUnit').checked = false;

        $.ajax({
            url: '/DeleteUnit/GridView',
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({ viewType: 0, id: "", year: "", make: "", model: "" }),
            success: function (View) {
                $('#checkableGridDiv').html(View);
                $('#checkableGridDiv').show();

                //.highlight { background-color: lightblue; }
            },
            error: function (reponse) {
                $('#loadingSpan').hide();
                alert("error : " + reponse);
            }
        });

    });

    $('#btnCancel').click(function() {
        //location.reload();
        $('.centered span').text('');
        ClearTextBoxText();

        $('#deleteGrid').children('tbody').children('tr').each(function () {
            $(this).css('background', 'aliceblue');
        });

        $('#feeDetails').hide();

        $("#identificationNumberSearch").val('');
        $("#identificationNumberSearch").attr('placeholder', 'Last 6 of VIN/HIN/SN');
        $('#cmbYear').val('');
        $("#cmbMake").val('');
        $("#cmbModel").val('');

        $('#checkableGridDiv').hide();
        document.getElementById('allUnit').checked = false;
        document.getElementById('activeUit').checked = false;
        document.getElementById('pendingUnit').checked = false;
    });

    $('.viewType').change(function () {
        
        var viewType = $('.viewType').filter(':checked').val();
        ClearTextBoxText();

        $('.centered span').text('');

        $('#feeDetails').hide();

        $("#identificationNumberSearch").val('');
        $("#identificationNumberSearch").attr('placeholder', 'Last 6 of VIN/HIN/SN');
        $('#cmbYear').val('');
        $("#cmbMake").val('');
        $("#cmbModel").val('');

        $.ajax({
            url: '/DeleteUnit/GridView',
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({ viewType: viewType, id: "", year: "", make: "", model: "" }),
            success: function (View) {
                $('#checkableGridDiv').html(View);
                $('#checkableGridDiv').show();

                //.highlight { background-color: lightblue; }
            },
            error: function (reponse) {
                $('#loadingSpan').hide();
                alert("error : " + reponse);
            }
        });
    });

    $('#btnSearch').click(function () {
        $('.centered span').text('');
        var viewType = 5;
        $('#btnClear').prop('disabled', false);
        var id = $("#identificationNumberSearch").val();
        var year = $('#cmbYear').val();
        var make = $("#cmbMake").val();
        var model = $("#cmbModel").val();

        document.getElementById('allUnit').checked = true;
        document.getElementById('activeUit').checked = false;
        document.getElementById('pendingUnit').checked = false;

        ClearTextBoxText();
        $('#feeDetails').hide();
        $.ajax({
            url: '/DeleteUnit/GridView',
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({ viewType: viewType, id: id, year: year, make: make, model: model }),
            success: function (View) {
                $('#checkableGridDiv').html(View);
                $('#checkableGridDiv').show();

                //.highlight { background-color: lightblue; }
            },
            error: function (reponse) {
                $('#loadingSpan').hide();
                alert("error : " + reponse);
            }
        });
    });

    $("#identificationNumberSearch").blur(function () {
        if ($(this).val() === "") {
            $(this).attr('placeholder', 'Last 6 of VIN/HIN/SN');
        }
    });

    function showPopup(whichpopup) {
        //var docHeight = $(document).height(); //grab the height of the page
        //var scrollTop = $(window).scrollTop(); //grab the px value from the top of the page to where you're scrolling
        //$('.overlay-bg').show().css({ 'height': docHeight }); //display your popup background and set height to the page height
        //$('.popup' + whichpopup).show().css({ 'top': scrollTop + 140 + 'px' }); //show the appropriate popup and set the content 20px from the window top
    }

    function doConfirm(msg, yesFn, noFn) {

        var docHeight = $(document).height(); //grab the height of the page
        var scrollTop = $(window).height() / 2; //grab the px value from the top of the page to where you're scrolling
        $('.overlay-bg').show().css({ 'height': docHeight }); //display your popup background and set height to the page height
        $('#confirmBox').show().css({ 'top': scrollTop - 100 + 'px' }); //show the appropriate popup and set the content 20px from the window top

        var confirmBox = $("#confirmBox");
        confirmBox.find(".message").text(msg);
        confirmBox.find(".yes,.no").unbind().click(function () {
            confirmBox.hide();
        });
        confirmBox.find(".yes").click(yesFn);
        confirmBox.find(".no").click(noFn);
        confirmBox.show();
    }

    $("#btnDelete").click(function () {
        if ($('#unitId').val() !== "") {
            doConfirm("Do you wish to delete this unit?", function yes() {
                //form.submit();
                $.ajax({
                    url: '/DeleteUnit/DeleteUnitPost',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ unitId: $('#unitId').val(), identificationNo: $('#identificationNumber').val() }),
                    success: function(View) {
                        //location.reload();
                        $('.overlay-bg, .overlay-content').hide();
                        window.scrollTo(0, 0);

                        ClearTextBoxText();
                        $('.centered1 span').text('The unit was deleted.');
                        $('#feeDetails').hide();

                        $('#checkableGridDiv').html(View);
                        $('#checkableGridDiv').show();
                        //.highlight { background-color: lightblue; }
                    },
                    error: function (reponse) {
                        $('.overlay-bg, .overlay-content').hide();
                        window.scrollTo(0, 0);

                        //ClearTextBoxText();
                        $('.centered span').text('Failed to delete unit, try again!');
                        //$('#feeDetails').hide();
                    }
                });
            }, function no() {
                // do nothing
                $('.overlay-bg, .overlay-content').hide();
            });
        } else {
            $('.centered span').text('Please select unit that want to delete');
        }
    });

    function ClearTextBoxText() {
        $('#dateAdvanced').val('');
        $('#identificationNumber').val('');
        $('#unitYear').val('');
        $('#unitMake').val('');
        $('#unitModel').val('');
        $('#purchasePrice').val('');
        $('#advanceAmount').val('');
        $('#unitId').val('');
    }

    $("#lkdeluni").hide();
</script>
