@model BankLoanSystem.Models.LoanIdNumberViewModel

@{
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ViewBag.Title = "Reports";
}

<link rel="stylesheet" href="~/Content/commonActions.css">
@*Date picker*@
<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>


<script src="~/scripts/bootstrap.min.js"></script>

<link href="~/Content/overlaypopup.css" rel="stylesheet" />

<style>
    .btns-clm > button {
        width: 100px;
        height: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div class="container-child">
    @{Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
    }
    <div class="container" id="container">
        <div id="errPage" class="field-validation-error"><span class="text-danger"></span></div>
        <div class="btns-clm" id="divRptType">
            <input type="hidden" name="selectedButton" id="hdnSelectedButton" value="" />
            <button type="button" id="btnLotInspection" class="btn btn-info">Lot<br /> Inspection</button>
            <button type="button" id="btnCurtailmentInvoice" class="btn btn-info">Curtailment<br /> Invoice </button>

            <button type="button" id="btnCurtailmentReceipt" class="btn btn-info">Curtailment<br /> Receipt </button>

            <button type="button" id="btnTitlesStatus" class="btn btn-info">Title <br />Status</button>
            <button type="button" id="btnFullInventory" class="btn btn-info">Full <br /> Inventory</button>
            @*<div id="2" href="#">
                    <p style="color: white">advance a unit</p>
                </div>
                <div id="3" href="#">
                    <p style="color: white">unit curtailments</p>
                </div>*@
        </div>

        <hr />

        <!---->
        <div style="margin-top:15px;" id="liFilteringSection">
            <div class="form-inline">
                <div id="lnum" class="form-group">
                    <label for="">Loan Number</label>

                    @if (Enumerable.Count(ViewBag.LoanId) == 1)
                    {
                        @Html.HiddenFor(model => model.LoanId, new { @Value = (int)ViewBag.LoanId.Items[0].LoanId, })
                        @Html.LabelFor(model => model.LoanId, (string)ViewBag.LoanId.Items[0].LoanNumberB, htmlAttributes: new { @class = "form-control text_field_input", style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.LoanId, null, "--Select loan number--", htmlAttributes: new { @class = "form-control text_field_input", id = "LoanId" })
                        @Html.ValidationMessageFor(model => model.LoanId, "", new { @class = "text-danger", style = "left:25%" })
                        <div id="tagscloudLoanId" class="validation-error"><span class="text-danger"></span></div>
                    }
                </div>

                <div id="strdate" class="form-group hf" style="margin-left:20px;display:none">
                    <label for="">Start Date</label>
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control dateKeyPressValidate", @id = "startDate", Value = "", @placeholder = "MM/DD/YYYY", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger", style = "left:25%" })
                    <div id="tagscloudStartDate" class="field-validation-error"><span class="text-danger"></span></div>
                </div>

                <div id="enddate" class="form-group hf" style="margin-left:20px;display:none">
                    <label for="">End Date</label>
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control dateKeyPressValidate", @id = "endDate", Value = "", @placeholder = "MM/DD/YYYY", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger", style = "left:25%" })
                    <div id="tagscloudEndDate" class="field-validation-error"><span class="text-danger"></span></div>
                </div>

                <div id="ttlsts" class="form-group hf" style="margin-left:20px;display:none">
                    <label for="">Title Status</label>
                    @{
                        List<SelectListItem> titleStatus = new List<SelectListItem>();

                        titleStatus.Add(new SelectListItem
                        {
                            Text = "Not Received",
                            Value = "0"
                        });
                        titleStatus.Add(new SelectListItem
                        {
                            Text = "Received",
                            Value = "1"
                        });
                        titleStatus.Add(new SelectListItem
                        {
                            Text = "Returned to Dealer",
                            Value = "2"
                        });
                        titleStatus.Add(new SelectListItem
                        {
                            Text = "All",
                            Value = "3"
                        });
                    }
                    @Html.DropDownList("Title Status", titleStatus, "-- select type --", new { @class = "form-control", @id = "titleStatus" })
                    <div id="tagscloudTitleStatus" class="field-validation-error"><span class="text-danger"></span></div>
                </div>
            </div>

            <div class="form-inline" style="margin-top:15px">
                <div class="form-group">
                    <button style="width: 100px" type="button" id="btnDisplay" class="btn btn-info">Display</button>
                    <button style="width: 100px;display:none;float:right;" type="button" id="btnPrint" class="btn btn-info">Print</button>

                </div>
            </div>

        </div>
        <!---->


        <hr />

        @*<div id="reportViewerDiv" hidden>
            <iframe id="ifrmReportViewer" style="height: 700px; width: 100%;" frameborder="0" scrolling="no"></iframe>
        </div>*@


    </div>
</div>
<script type="text/javascript">
    var errorCount = 0;

    function ChangeButtonColor(id) {
        $(id).css({ 'background': 'green' });
        $('#divRptType').children('button').not(id).css({ 'background': '#5bc0de' });
        $('#reportViewerDiv').hide();
        $('#btnPrint').hide();
    }

    $('#btnLotInspection').click(function () {
        ChangeButtonColor(this);
        $('#hdnSelectedButton').val('LotInspection');
        $('#lnum').siblings('.hf').hide();
        $('#lnum').siblings('.hf').children('input').val('');

        $('#titleStatus').find('option:first').prop('selected', 'selected');
        $('#tagscloudTitleStatus').children('span').text('');
        $('#titleStatus').removeClass('input-validation-error');
    });

    $('#btnCurtailmentInvoice').click(function () {
        ChangeButtonColor(this);
        $('#hdnSelectedButton').val('CurtailmentInvoice');
        $('#ttlsts').hide().siblings('.hf').show();
        $('#ttlsts').siblings('.hf').children('input').val('');
        $('#ttlsts').siblings('.hf').children('input').attr('placeholder', 'MM/DD/YYYY');
        $('#ttlsts').siblings('.hf').children('input').siblings('div').children('span').text('');
        $('#ttlsts').siblings('.hf').children('input').removeClass('input-validation-error');

        $('#titleStatus').find('option:first').prop('selected', 'selected');
        $('#tagscloudTitleStatus').children('span').text('');
        $('#titleStatus').removeClass('input-validation-error');
    });

    $('#btnCurtailmentReceipt').click(function () {
        ChangeButtonColor(this);
        $('#hdnSelectedButton').val('CurtailmentReceipt');
        $('#ttlsts').hide().siblings('.hf').show();
        $('#ttlsts').siblings('.hf').children('input').val('');
        $('#ttlsts').siblings('.hf').children('input').attr('placeholder', 'MM/DD/YYYY');
        $('#ttlsts').siblings('.hf').children('input').siblings('div').children('span').text('');
        $('#ttlsts').siblings('.hf').children('input').removeClass('input-validation-error');

        $('#titleStatus').find('option:first').prop('selected', 'selected');
        $('#tagscloudTitleStatus').children('span').text('');
        $('#titleStatus').removeClass('input-validation-error');
    });

    $('#btnTitlesStatus').click(function () {
        ChangeButtonColor(this);
        $('#hdnSelectedButton').val('TitlesStatus');
        $('#ttlsts').show().siblings('.hf').hide();
        $('#ttlsts').siblings('.hf').children('input').val('');
        $('#ttlsts').siblings('.hf').children('input').attr('placeholder', 'MM/DD/YYYY');
        $('#ttlsts').siblings('.hf').children('input').siblings('div').children('span').text('');
        $('#ttlsts').siblings('.hf').children('input').removeClass('input-validation-error');
    });

    $('#btnFullInventory').click(function () {
        ChangeButtonColor(this);
        $('#hdnSelectedButton').val('FullInventory');
        $('#lnum').siblings('.hf').hide();
        $('#lnum').siblings('.hf').children('input').val('');

        $('#titleStatus').find('option:first').prop('selected', 'selected');
        $('#tagscloudTitleStatus').children('span').text('');
        $('#titleStatus').removeClass('input-validation-error');
    });

    function ReportCurtailmentInvoice(val, url) {

        var myFrame = document.getElementById('ifrmReportViewer');

        if (myFrame !== null) {

            if (myFrame.src) {
                myFrame.src = url;
            } else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                myFrame.contentWindow.location = url;
            } else {
                myFrame.setAttribute('src', url);
            }
        }
        $('#reportViewerDiv').show();
        $('#btnPrint').show();
    }

    $('#btnDisplay').click(function () {
        errorCount = 0;
        var rptType = $('#hdnSelectedButton').val();

        if (rptType !== '') {
            var input = $("#LoanId");

            var urlPrefix = "";

            if (rptType === 'LotInspection') {
                urlPrefix = "../Reports/RptDivLotInspection.aspx?loanId=";
            }
            else if (rptType === 'CurtailmentInvoice') {
                urlPrefix = "../Reports/RptDivCurtailmentInvoice.aspx?loanId=";
            }
            else if (rptType === 'CurtailmentReceipt') {
                urlPrefix = "../Reports/RptDivCurtailmentReceipt.aspx?loanId=";
            }
            else if (rptType === 'TitlesStatus') {
                urlPrefix = "../Reports/RptDivTitleStatus.aspx?loanId=";
            }
            else if (rptType === 'FullInventory') {
                urlPrefix = "../Reports/RptDivFullInventory.aspx?loanId=";
            }
            var selectedIndex;
            if (input.attr('type') !== 'hidden') {
                selectedIndex = $("#LoanId option:selected").index();
                if (selectedIndex === 0) {
                    $('#tagscloudLoanId').children('span').text("Please select a loan");
                    $("#LoanId").addClass('input-validation-error');
                    errorCount = errorCount + 1;
                } else {
                    $('#tagscloudLoanId').children('span').text("");
                    $("#LoanId").removeClass('input-validation-error');
                }
            }

            var val = $('#LoanId').val();

            var myFrame;
            var frameDoc;

            if (rptType === 'CurtailmentInvoice' || rptType === 'CurtailmentReceipt') {

                var startDate = $('#startDate').val();
                if (startDate === '') {
                    $('#tagscloudStartDate').children('span').text("Please select start date");
                    $("#startDate").addClass('input-validation-error');
                    errorCount = errorCount + 1;
                } else {
                    $('#tagscloudStartDate').children('span').text("");
                    $("#startDate").removeClass('input-validation-error');
                }

                var endDate = $('#endDate').val();
                if (endDate === '') {
                    $('#tagscloudEndDate').children('span').text("Please select end date");
                    $("#endDate").addClass('input-validation-error');
                    errorCount = errorCount + 1;
                } else {
                    $('#tagscloudEndDate').children('span').text("");
                    $("#endDate").removeClass('input-validation-error');
                }

                if (errorCount <= 0) {

                    if (new Date(startDate) >= new Date(endDate)) {
                        $('#tagscloudEndDate').children('span').text("Start date must be greater than end date");
                        $("#startDate").addClass('input-validation-error');
                        $("#endDate").addClass('input-validation-error');
                        return;
                    }

                    $('#tagscloudEndDate').children('span').text("");
                    $("#startDate").removeClass('input-validation-error');
                    $("#endDate").removeClass('input-validation-error');

                    myFrame = document.getElementById('ifrmReportViewer');
                    frameDoc = myFrame.contentDocument || myFrame.contentWindow.document;
                    frameDoc.removeChild(frameDoc.documentElement);
                    //var startDate1 = moment(startDate, "MM/dd/yyyy");
                    //var endDate1 = moment(endDate, "MM/dd/yyyy");

                    urlPrefix = urlPrefix + val + "&startDate=" + formatDate(startDate) + "&endDate=" + formatDate(endDate);
                    ReportCurtailmentInvoice(val, urlPrefix);
                }
            } else if (rptType === 'LotInspection') {
                myFrame = document.getElementById('ifrmReportViewer');
                frameDoc = myFrame.contentDocument || myFrame.contentWindow.document;
                frameDoc.removeChild(frameDoc.documentElement);

                urlPrefix = urlPrefix + val;
                ReportCurtailmentInvoice(val, urlPrefix);
            } else if (rptType === 'TitlesStatus') {
                selectedIndex = $("#titleStatus option:selected").index();
                if (selectedIndex === 0) {
                    $('#tagscloudTitleStatus').children('span').text("Please select title status");
                    $("#titleStatus").addClass('input-validation-error');
                    errorCount = errorCount + 1;
                } else {
                    $('#tagscloudTitleStatus').children('span').text("");
                    $("#titleStatus").removeClass('input-validation-error');

                    myFrame = document.getElementById('ifrmReportViewer');
                    frameDoc = myFrame.contentDocument || myFrame.contentWindow.document;
                    frameDoc.removeChild(frameDoc.documentElement);

                    urlPrefix = urlPrefix + val + '&titleStatus=' + $('#titleStatus').val();
                    ReportCurtailmentInvoice(val, urlPrefix);
                }
            }
            else if (rptType === 'FullInventory') {
                myFrame = document.getElementById('ifrmReportViewer');
                frameDoc = myFrame.contentDocument || myFrame.contentWindow.document;
                frameDoc.removeChild(frameDoc.documentElement);

                urlPrefix = urlPrefix + val;
                ReportCurtailmentInvoice(val, urlPrefix);
            }
        } else {
            alert('Please select report type');
        }
    });

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [month, day, year].join('/');
    }

    function isValidDate(dateString) {
        // First check for the pattern
        if (!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(dateString))
            return false;

        // Parse the date parts to integers
        var parts = dateString.split("/");
        var day = parseInt(parts[1], 10);
        var month = parseInt(parts[0], 10);
        var year = parseInt(parts[2], 10);

        // Check the ranges of month and year
        if (year < 1000 || year > 3000 || month === 0 || month > 12)
            return false;

        var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        // Adjust for leap years
        if (year % 400 === 0 || (year % 100 !== 0 && year % 4 === 0))
            monthLength[1] = 29;

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    };


    $('#startDate').blur(function () {

        if ($(this).val() === "") {
            // required error
            $('#tagscloudStartDate').children('span').text('Start date required');
            $(this).addClass('input-validation-error');
            return;
        }
        var valid = isValidDate($(this).val());
        if (valid) {
            $('#tagscloudStartDate').children('span').text('');
            $(this).removeClass('input-validation-error');
            //var selectedDate = new Date($(this).val());
            //var minDate = new Date
            //var maxDate = new Date
            //if (selectedDate < minDate || selectedDate > maxDate) {
            //    // out off range error
            //    $('#customErrorPayDate').children('span').text('Out of Range');
            //    $(this).addClass('input-validation-error');
            //    //$('.centered span').text('Error');
            //} else {
            //    // delete error mssage
            //    $('#customErrorPayDate').children('span').text('');
            //    $(this).removeClass('input-validation-error');
            //}
        } else {

            // not valid data error
            $('#tagscloudStartDate').children('span').text('Not valid date');
            $(this).addClass('input-validation-error');
            //$('.centered span').text('Error');
        }

        if ($('#startDate').val() === '') {
            $('#tagscloudStartDate').children('span').text('');
            $(this).removeClass('input-validation-error');
            //$('.centered span').text('');
        }

    });

    $('#endDate').blur(function () {

        if ($(this).val() === "") {
            // required error
            $('#tagscloudEndDate').children('span').text('End date required');
            $(this).addClass('input-validation-error');
            return;
        }
        var valid = isValidDate($(this).val());
        if (valid) {
            $('#tagscloudEndDate').children('span').text('');
            $(this).removeClass('input-validation-error');
        } else {

            // not valid data error
            $('#tagscloudEndDate').children('span').text('Not valid date');
            $(this).addClass('input-validation-error');
            //$('.centered span').text('Error');
        }

        if ($('#endDate').val() === '') {
            $('#tagscloudEndDate').children('span').text('');
            $(this).removeClass('input-validation-error');
            //$('.centered span').text('');
        }

    });

    $('#LoanId').click(function () {
        $('#tagscloudLoanId').children('span').text('');
        $(this).removeClass('input-validation-error');
    });

    $('#titleStatus').click(function () {
        $('#tagscloudTitleStatus').children('span').text('');
        $(this).removeClass('input-validation-error');
    });

    $('#btnPrint').click(function () {
        //var rptType = $('#hdnSelectedButton').val();
        //var loanId = $('#LoanId').val();
        //var range1 = $('#startDate').val();
        //var range2 = $('#endDate').val();
        //var titleStatus=$('#titleStatus').val();
        
        //$.ajax({
        //    url: '/Reports/PrintPage',
        //    type: 'POST',
        //    contentType: 'application/json;',
        //    data: JSON.stringify({ 'rptType': rptType, 'loanId': loanId, 'range1': range1, 'range2': range2, 'titleStatus': titleStatus }),
        //    success: function (view) {
        //        //alert(view);
        //    },
        //    error: function (reponse) {
        //        //alert(reponse);
        //        ('#errPage span').text('No printers are installed.');

        //    }
        //});

        //Code for adding HTML content to report viwer
        var headstr = "<html><head><title></title></head><body>";
        //End of body tag
        var footstr = "</body></html>";
        //This the main content to get the all the html content inside the report viewer control
        //"ReportViewer1_ctl10" is the main div inside the report viewer
        //controls who helds all the tables and divs where our report contents or data is available
        var newstr = $("#rptViewerLotInspection_ctl09").html();
        //open blank html for printing
        var popupWin = window.open('', '_blank');
        //paste data of printing in blank html page
        popupWin.document.write(headstr + newstr + footstr);
        //print the page and see is what you see is what you get
        popupWin.print();
        return false;
    });

    var startDate = new Pikaday({
        field: document.getElementById('startDate'),
        format: 'l'
    });

    var endDate = new Pikaday({
        field: document.getElementById('endDate'),
        format: 'l'
    });
</script>
