@model IEnumerable<BankLoanSystem.Models.Right>

<link href="~/Content/overlaypopup.css" rel="stylesheet" />
<script src="~/scripts/popup.js"></script>

   


<div class="overlay-bg">
</div>
<div class="overlay-content popup1">
    
    <div id="loadingSpan" style="display:none;">
        <strong><span>Loading... </span></strong>
    </div>
    <div id="selcet-panel">
        


    </div>
    
</div>
<div class="overlay-content popup2">
    <p>This is the content for Popup #2</p>
    <button class="close-btn">Close</button>
</div>
<div class="overlay-content popup3">
    <p>This is the content for Popup #3</p>
    <button class="close-btn">Close</button>
</div>


@foreach (var item in Model)
{



    if (item.rightId == "U001")
    {

        @Ajax.ActionLink("Add Advance", "Selectloan", "UserManagement", new { type = "tyuirede" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkadv", @data_showpopup = "1" })
    }

    if (item.rightId == "U002")
    {
 
        @Ajax.ActionLink("Title", "Selectloan", "UserManagement", new { type = "frtgcvfd" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkttl", @data_showpopup = "1" })

    }

    if (item.rightId == "U003")
    {

        @Ajax.ActionLink("Pay Off", "Selectloan", "UserManagement", new { type = "wsedtgio" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkpoff", @data_showpopup = "1" })
    }

    if (item.rightId == "U004")
    {

        @Ajax.ActionLink("Add a Unit", "Selectloan", "UserManagement", new {type= "asderruy" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })
    }

    if (item.rightId == "U005")
    {
        @Ajax.ActionLink("Pay Curtailment", "Selectloan", "UserManagement", new { type = "sedretyt" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkcrtl" , @data_showpopup = "1" })
    }



}

<style>


    .btn-info{

        margin-left:20px;
    }
</style>

<script>
    $("#lkadv").click(function () {
        if ($('#selcet-panel').contents().length > 1 && $("#Actiontype").val() == "Advance") {
            return false;
        }
    });

    $("#lkuni").click(function () {
        if ($('#selcet-panel').contents().length > 1 && $("#Actiontype").val() == "addunit") {
            return false;
        }
    });

    $("#lkcrtl").click(function () {
        if ($('#selcet-panel').contents().length > 1 && $("#Actiontype").val() == "PayCurtailments") {
            return false;
        }
    });

    $("#lkpoff").click(function () {
        if ($('#selcet-panel').contents().length > 1 && $("#Actiontype").val() == "PayOff") {
            return false;
        }
    });
    

    $("#lkttl").click(function () {
        if ($('#selcet-panel').contents().length > 1 && $("#Actiontype").val() == "TitleStatusUpdate") {
            return false;
        }
    });

    
</script>