@model BankLoanLocal.Models.GetDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.branchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>





    </dl>
</div>
@if (ViewBag.userId != 0)
{
    <p>

        @Html.ActionLink("Edit Profile", "editUserSet", new { editId = ViewBag.userId })
    </p>
}
else
{
    <p>

        @Html.ActionLink("Back to List", "UserList")
    </p>
}



