@model BankLoanLocal.Models.GetDetails

@{
    ViewBag.Title = "Details";
}

@if (ViewBag.userId != 0)
{
    <p>
        <button type="button" class="pull-right text-right">
            <span class="glyphicon glyphicon-pencil"></span>

            @Html.ActionLink("Edit", "editUserSet", new { editId = ViewBag.userId })
            
            </button>
            </p>

            <h1 class="m-b-xs">My Profile</h1>

}
else
{
    <h2>User Details</h2>
}


<ul class="list-group clear-list m-t">
    <li class="list-group-item fist-item">
        <span class="pull-right">

            @Html.DisplayFor(model => model.firstName)
        </span>
        @Html.DisplayNameFor(model => model.firstName)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.lastName)
        </span>
        @Html.DisplayNameFor(model => model.lastName)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.email)
        </span>
        @Html.DisplayNameFor(model => model.email)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.phoneNo)
        </span>
        @Html.DisplayNameFor(model => model.phoneNo)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.status)
        </span>
        @Html.DisplayNameFor(model => model.status)
    </li>

    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.createdDate)
        </span>
        @Html.DisplayNameFor(model => model.createdDate)
    </li>

    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.roleName)
        </span>
        @Html.DisplayNameFor(model => model.roleName)
    </li>

    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.branchName)
        </span>
        @Html.DisplayNameFor(model => model.branchName)
    </li>
</ul>




@if (ViewBag.userId == 0)
{
    <p>

        @Html.ActionLink("Back to List", "UserList")
    </p>
}



