@model BankLoanLocal.Models.GetDetails

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('#editProfile').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("editUserSet", "UserManagement", new { editId = ViewBag.userId })',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });

    $(function () {
        $('#backToList').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("UserList")',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });
</script>


@if (ViewBag.userId != 0)
{

   

    <p>
        <button type="button" id="editProfile" class="pull-right text-right">
            <span class="glyphicon glyphicon-pencil"></span>

            <span>Edit</span>
            </button>
            </p>

            <h1 class="m-b-xs">My Profile</h1>

}
else
{
    <h2>User Details</h2>
}


<ul class="list-group clear-list m-t">
    <li class="list-group-item fist-item">
        <span class="pull-right">

            @Html.DisplayFor(model => model.firstName)
        </span>
        @Html.DisplayNameFor(model => model.firstName)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.lastName)
        </span>
        @Html.DisplayNameFor(model => model.lastName)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.email)
        </span>
        @Html.DisplayNameFor(model => model.email)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.phoneNo)
        </span>
        @Html.DisplayNameFor(model => model.phoneNo)
    </li>
    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.status)
        </span>
        @Html.DisplayNameFor(model => model.status)
    </li>

    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.createdDate)
        </span>
        @Html.DisplayNameFor(model => model.createdDate)
    </li>

    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.roleName)
        </span>
        @Html.DisplayNameFor(model => model.roleName)
    </li>

    <li class="list-group-item">
        <span class="pull-right">
            @Html.DisplayFor(model => model.branchName)
        </span>
        @Html.DisplayNameFor(model => model.branchName)
    </li>
</ul>




@if (ViewBag.userId == 0)
{
    
        <div class="form-group">
            <div>

                <nav>
                    <ul class="pager">
                        <li><input type="button" id="backToList" value="Back to List" class="btn btn-primary btn-white m-b" style="float:left" /></li>
                        @*@Html.ActionLink("Back to List", "UserList")*@
                        </ul>
                    </nav>
                </div>
            </div>
   
}

