@model BankLoanSystem.Models.Loan


@{
    ViewBag.Title = "Edit Loan";
    if (ViewBag.AjaxRequest == null)
    {
        Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>

<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
@section AddToHead{
<style>
    .err_msg_box {
        text-align: left;
    }

    #page-wrapper {
        min-height: 568px;
        padding: 0 36px;
        float: none !important;
        /* position: relative !important; */
        margin: auto !important;
    }
</style>}



@*<script src="~/scripts/bootstrap.min.js"></script>*@

@*<link href="~/Content/pikaday.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/triangle.css" rel="stylesheet" />
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/pikaday.js"></script>*@

@*<link href="~/Content/commonActions.css" rel="stylesheet" />*@




<div id="page-wrapper" class="gray-bg sidebar-content companySetupWrapper usersetup_border" style="min-height: 706px;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="container body-content">

                <div class="row">
                    <div class="container body-content new_container">
                        @*<div class="setupImage"><img src="~/Images/UserSetupImage.png" width="100" alt=""></div>*@
                        @*<div >
                                <h2>Join Dealer Account</h2>
                            </div>*@
                        <div style="clear:both;"></div>
                        <div class="form-horizontal new_form_horizontal">
                            @*<div class="topErrors">
                                    <p class="err_msg">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                </div>*@
                            <div class="topErrors">
                                <p class="err_msg">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                <div id="errSpn" class="text-danger"><span>@ViewBag.ErrorMsg</span></div>
                                @*<div class="text-danger">@ViewBag.Error</div>*@
                            </div>

                            <div class="form-horizontal">

                                <div style="clear:both"></div>
                                @if (ViewBag.SuccessMsg != null && ViewBag.SuccessMsg.ToString().Equals("Loan Status Successfully Updated"))
                                {
                                <div id="successSpn" class="text-success"><span style="float:left">@ViewBag.SuccessMsg</span></div>
                                <div class="button_box algn_left" style="float: left;margin-top: 15px;margin-left: -195px;">
                                    <input id="btnDashbrd" value="Go to Dashboard" class="btn btn-primary m-b next_clear_button back_back" type="button" onclick="window.location.href='/UserManagement/UserDetails'">
                                </div>

                                        }
                                else { 
                                if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg.ToString().Equals("Failed To Update Loan Status"))
                                        {
                                <div id="errorSpn" class="text-danger"><span>@ViewBag.ErrorMsg</span></div>

                                }


                                    <div class="form-horizontal">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Branch Name</label>
                                            </div>
                                            <div class="col-xs-8 text_field">
                                                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtLender", @disabled = "disabled",@style="width:80%" } })
                                            </div>
                                            
                                        </div>
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Partner Branch Name</label>
                                            </div>
                                            <div class="col-xs-8 text_field">
                                                @Html.EditorFor(model => model.PartnerName, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtDealer", @disabled = "disabled",@style = "width:80%" } })
                                            </div>
                                        </div>
                                        
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Loan Number</label>
                                            </div>
                                            <div class="col-xs-8 text_field">
                                                @Html.EditorFor(model => model.LoanNumber, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtLoanNum", @disabled = "disabled", @style = "width:80%" } })
                                            </div>
                                        </div>
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Loan Amount<span style="float:right;margin-top: -3px;font-size: 18px;">$</span></label>
                                            </div>
                                            <div class="col-xs-8 text_field short_text_field">
                                                @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtLoanAmount", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Current Start date</label>
                                            </div>
                                            <div class="col-xs-8 text_field short_text_field">
                                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtStartDate", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Current Maturity date</label>
                                            </div>
                                            <div class="col-xs-8 text_field short_text_field">
                                                @Html.EditorFor(model => model.MaturityDate, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtMaturityDate", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Current Loan Status</label>
                                            </div>
                                            @if (Model != null && Model.CurrentLoanStatus)
                                            {
                                            <div class="col-xs-8 text_field short_text_field">
                                                @Html.Editor("Active", new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtCurrentStatus", @disabled = "disabled", @Value = "Active" } })
                                            </div>
                                            }
                                            else if (Model != null)
                                            {
                                            <div class="col-xs-8 text_field short_text_field">
                                                @Html.Editor("In Active", new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input", @id = "txtCurrentStatus", @disabled = "disabled", @Value = "Not Active" } })
                                            </div>
                                            }
                                            
                                        </div>
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 lable_style">
                                                <label>Active date</label>
                                            </div>
                                            <div class="col-xs-8 text_field short_text_field">
                                                @Html.EditorFor(model => model.ActiveDate, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input dateKeyPressValidate", @id = "txtActiveDate",@maxlength=10} })
                                                @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger", @style = "text-align: left; left: 0%; width: 208px; " })
                                                <span class="text-danger field-validation-error" id="errortxtActiveDate" style="margin-left: -89px;"></span>
                                            </div>
                                        </div>
                                        <div id="loanid" class="hidden"></div>
                                        <div id="loancode" class="hidden"></div>

                 <div class="form-group new_form_group clear_next clear_next_bordr">
                                            <div>
                                                <nav>
                                                    <div class="pager new_pager">
                                                        <div class="button_box algn_left">
                                                            <input value="Dashboard" name="subBack" id="btnDashbrd" tabindex="-1" class="btn btn-primary m-b cancel next_clear_button back_back" style="margin-left: 10px" type="button" onclick="window.location.href='/UserManagement/UserDetails'">
                                                        </div>
                                                      
                                                            @if (Model != null && Model.CurrentLoanStatus)
                                                            {
                                                                <div class="button_box algn_right" hidden>
                                                                    <input value="Deactivate Loan" class="btn btn-primary m-b next_clear_button next_back" style="margin-right:-130px;float:right !important" type="button" id="btnActiveLoan">
                                                                </div>
                                                            }
                                                            else if(Model != null)
                                                            {
                                                                <div class="button_box algn_right">
                                                                    <input value="Activate Loan" class="btn btn-primary m-b next_clear_button next_back" style="margin-right:-130px;float:right !important" type="button" id="btnActiveLoan">
                                                                </div>
                                                            }
                                                       
                                                        <div style="clear:both"></div>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>


                                }
                                <div>
                                </div>




                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#txtActiveDate').val("");
    $('#txtActiveDate').attr('placeholder', 'MM/DD/YYYY');
    startPicker = new Pikaday({
        field: document.getElementById('txtActiveDate'),
        format: 'l',

        bound: true,
        onSelect: function () {
            var dueDate = this.getDate();
        }
    });
    var Maxdate = document.getElementById('txtMaturityDate').value ;
    //alert(Mdate);
    //var startDate = new Date(Date.parse(Mdate));
   // expDate = startDate;
    //expDate.setDate(startDate.getDate() + 1);

    startPicker.setMaxDate(new Date(Maxdate));
    //startPicker.gotoDate(new Date(expDate));

    $('#txtActiveDate').focusout(function () {
        $(this).attr('placeholder', 'MM/DD/YYYY');
    });

    $('#txtActiveDate').focusout(function () {
        if ($('#txtActiveDate').val() == "") {
            $('#errortxtActiveDate').text("");
        }
        checkDate();
    });

    $('#txtActiveDate').focus(function () {
        $('#successSpn').children('span').text("");
        $('#errorSpn').children('span').text("");
    });

    function checkDate() {
        
        var valid = isValidDate($('#txtActiveDate').val());
        if (valid) {
            
            var selectedDate = new Date($('#txtActiveDate').val());
            var expDate =new Date(Date.parse(document.getElementById('txtMaturityDate').value));
            if (selectedDate > expDate) {
                // out off range error
                //alert('e');
                $('#errortxtActiveDate').text('Please enter a valid date');
                $('#txtActiveDate').addClass('input-validation-error');
                return false;
            } else {
                // delete error mssage
                //alert('e1');
                $('#errortxtActiveDate').text('');
                $('#txtActiveDate').removeClass('input-validation-error');
                return true;
            }



        } else if ($('#txtActiveDate').val() == "") {
            return false;
        }

        else {

            // not valid data error
            $('#errortxtActiveDate').text('Please enter a valid date');
            $('#txtActiveDate').addClass('input-validation-error');
            return false;
        }
    }
    $('#btnActiveLoan').click(function () {
        var model = @Html.Raw(Json.Encode(Model));
       // alert(model.LoanId+model.LoanCode);
        // document.getElementById('#btnActiveLoan').innerHTML = model.LoanId;
        var valid = isValidDate($('#txtActiveDate').val());
        if (valid) {
            var selectedDate = new Date($('#txtActiveDate').val());
            var startDate = new Date(Date.parse(document.getElementById('txtMaturityDate').value));
            if (selectedDate >startDate ) {
                // out off range error
                $('#errortxtActiveDate').text('Please enter a valid date');
                $('#txtRenewalDate').addClass('input-validation-error');
                e.preventDefault();
            } else {
                // delete error mssage
                $('#errortxtActiveDate').text('');
                $('#txtActiveDate').removeClass('input-validation-error');
                var activateDate = $('#txtActiveDate').val();
                $.ajax({
                    url: '/UserManagement/UpdateLoanStatus/',
                    data: JSON.stringify({ slctdLoanId: model.LoanId,slctdLoanCode:model.LoanCode,slctdActiveDate:activateDate }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',

                    success: function (View) {
                        $(location).attr('href', '/UserManagement/EditLoan');

                        //$(location).attr('href', '/AdvanceUnit/Advance?flag=' + View);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Your handler here...

                        // if session expires
                        if (jqXHR.status == "404") {
                            window.location.href = '/Login/UserLogin?lbl=Due to inactivity your session has timed out, please log in again.';
                        }
                    }
            
            
                });
            }

        } else if ($('#txtActiveDate').val() == "") {
            $('#errortxtActiveDate').text('Please select the active date.');
            $('#txtActiveDate').addClass('input-validation-error');
            e.preventDefault();
        }

        else {

            // not valid data error
            $('#errortxtActiveDate').text('Please enter a valid date');
            $('#txtActiveDate').addClass('input-validation-error');
            e.preventDefault();
        }

    });
</script>

