@model BankLoanSystem.Models.User
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>

<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
#rights > input{
 float:unset;
 margin-right:10px;

 width:17px;
 height:17px;
}

#rights{
text-align:left;
font-size:14px;
font-weight:normal;
color:#545454;
width:400%;
}
#DivRptRights{
text-align:left;
font-size:14px;
font-weight:normal;
color:#545454;
margin-left:1%;
}
#DivRptRights > input{
 float:unset;
 margin-right:10px;

 width:17px;
 height:17px;
}
</style>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script src="~/scripts/CommonFunctions.js"></script>
<div id="branchDivLoan">

    <div class="form-group new_form_group">
        <div class="control-label col-sm-2 lable_style">
            <label>Loan </label>
        </div>
        @if (ViewBag.LoanId.Items.Count == 1)
        {
        <div class="col-xs-8 text_field short_text_field">
            @Html.HiddenFor(model => model.LoanId, new { @Value = (int)ViewBag.LoanId.Items[0].LoanId, id = "LoanIdUser" })
            @Html.LabelFor(model => model.LoanId, (string)ViewBag.LoanId.Items[0].LoanNumber, htmlAttributes: new { @class = "form-control text_field_input", id = "RegisteredBranchIdUser", style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;float:left;" })
        </div>
        }
        else {
        <div class="col-xs-8 text_field short_text_field">
            @Html.DropDownListFor(model => model.LoanId, null, "--Select Loan--", htmlAttributes: new { @class = "form-control", id = "LoanIdUser2", @onchange = "javascript:CheckLoanTitle(this.value);" })
        </div>
        <div id="loanIdMessage" class="text-danger" style="margin-top:35px;margin-left:-155px;"><span></span></div>
        }
        <div class="err_msg_box">
            <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.LoanId, "", new { @class = "text-danger" })</p>
        </div>
        
    </div>

</div>



<div id="rightDiv">
    <div class="form-group new_form_group">
        <div class="control-label col-sm-2 lable_style">
            <label>Select Loan Rights</label>
        </div>
        <div class="col-xs-8 ">
            @if (Model.UserRightsList.Count > 0)
            {
            <div class="col-sm-7">
                
                <div id="rights">
                    @Html.CheckBox("selectAll", new { @class = "All", @id = "CheckAll" })
                    @Html.Label("All")
                    <br />
                    @for (var i = 0; i < Model.UserRightsList.Count; i++)
                    {
                        <div id="rights">
                            @Html.HiddenFor(x => x.UserRightsList[i].rightId)
                            @Html.CheckBoxFor(x => x.UserRightsList[i].active, new { @class = "All", @id = Model.UserRightsList[i].rightId })
                            @Html.Label(Model.UserRightsList[i].description)
                            @if (Model.UserRightsList[i].rightId == "U06")
                            {
                                if (Model.ReportRightsList!=null && Model.ReportRightsList.Count > 0)
                                {
                                <div id="DivRptRights" hidden>
                                    @Html.CheckBox("selectAll2", new { @class = "CBAll2", @id = "CheckAll2" })
                                    @Html.Label("All")
                                    <br />
                                    @for (var j = 0; j < Model.ReportRightsList.Count; j++)
                                    {
                                        var xx = "Desc" + (Model.ReportRightsList[j].rightId).ToString();
                                        var xy = "Br_" + (Model.ReportRightsList[j].rightId).ToString();
                                        @Html.HiddenFor(x => x.ReportRightsList[j].rightId)
                                        @Html.CheckBoxFor(x => x.ReportRightsList[j].active, new { @class = "All2", @id = Model.ReportRightsList[j].rightId })
                                        @Html.Label(Model.ReportRightsList[j].name)
                                        <a onclick="ViewDetails(@j)" id="@xx">View Details</a>
                                        <br id="@xy" />
                                    }
                                </div>
                                    }
                                }
                        </div>

                    }
                </div>
                <div id="checkBoxMessage" class="text-danger"><span></span></div>
            </div>
            }
        </div>
        </div>
        
    </div>


<script type="text/javascript">


    var title = 0;
    var hasFee = 0;
    var advanceFee = 0;
    var monthlyFee = 0;
    var lotFee = 0;
    @*check loan list is not null and loan list count is 1*@
    @if(ViewBag.LoanId!=null && ViewBag.LoanId.Items.Count == 1)
    {
        @*assign loan id to variable if loan count is 1*@
        <text>var loanId = @ViewBag.LoanId.Items[0].LoanId;</text>
        @*check loan has at leat one fee and title need to be tracked*@
    <text> CheckLoanTitle(loanId);</text>
    };
    @*check loan has at leat one fee and title need to be tracked for given loan id*@
    function CheckLoanTitle(loanId){
        @*convert model to variable*@
        var model = @Html.Raw(Json.Encode(Model));
        @*get length of loan list with branch details*@
        var len = model.BranchList.length;
        var count =0;
        @*make visible true and false update titles and pay fees page according to the loan selected*@
        for (var j = 0 ; j < model.BranchList.length; j++){
            @*no need to track title and no atleast one fee*@
            if(model.BranchList[j].LoanId==loanId && model.BranchList[j].IsTitleTrack==0 && model.BranchList[j].HasFee==0){
                title = 0;
                hasFee = 0;
                $('#U07').hide();
                $('[for="Pay_Fees"]').hide();
                $('#U02').hide();
                $('[for="Update_Title_Status"]').hide();

            }
                @*no need to track title and has atleast one fee*@
            else if(model.BranchList[j].LoanId==loanId && model.BranchList[j].IsTitleTrack==0 && model.BranchList[j].HasFee==1){
                title = 0;
                hasFee = 1;
                $('#U07').show();
                $('[for="Pay_Fees"]').show();
                $('#U02').hide();
                $('[for="Update_Title_Status"]').hide();

            }
                @*need to track title and has atleast one fee*@
            else if(model.BranchList[j].LoanId==loanId && model.BranchList[j].IsTitleTrack==1 && model.BranchList[j].HasFee==1){
                title = 1;
                hasFee = 1;
                $('#U07').show();
                $('[for="Pay_Fees"]').show();
                $('#U02').show();
                $('[for="Update_Title_Status"]').show();

            }
                @*need to track title and no atleast one fee*@
            else if(model.BranchList[j].LoanId==loanId && model.BranchList[j].IsTitleTrack==1 && model.BranchList[j].HasFee==0){
                title = 1;
                hasFee = 0;
                $('#U07').hide();
                $('[for="Pay_Fees"]').hide();
                $('#U02').show();
                $('[for="Update_Title_Status"]').show();

            }

        }



    };
    @*show report rights according to loan setup details*@
    function CheckLoanReportRights(loanId2){
        @*check loan id is not 0*@
        if(loanId2>0){
            @*convert model to variable*@
            var model = @Html.Raw(Json.Encode(Model));
            @*get length of loan list with branch details*@
            var len = model.BranchList.length;
            var count =0;
            @*make visible true and false title report and all reports related to fees according to the loan selected*@
            for (var j = 0 ; j < model.BranchList.length; j++){
                @*check list element loan id is equal to selected loan id*@
                if(model.BranchList[j].LoanId==loanId2){
                    @*if no need to title track hide update title report from report right section*@
                    if(!model.BranchList[j].IsTitleTrack){
                        title=0;
                        $('#R04').hide();
                        $('[for="Title_Status"]').hide();
                        $('#DescR04').hide();
                        $('#Br_R04').hide();
                    }
                    else{
                        title=1;
                        $('#R04').show();
                        $('[for="Title_Status"]').show();
                        $('#DescR04').show();
                        $('#Br_R04').show();
                    }
                    @*if has advance fee show advance fee invoice and advance fee receipt reports in report right section*@
                    if(model.BranchList[j].HasAdvanceFee){
                        advanceFee=1;
                        $('#R07').show();
                        $('[for="Advance_Fee_Invoice"]').show();
                        $('#DescR07').show();
                        $('#Br_R07').show();
                        $('#R08').show();
                        $('[for="Advance_Fee_Receipt"]').show();
                        $('#DescR08').show();
                        $('#Br_R08').show();

                    }
                        @*if no advance fee hide advance fee invoice and advance fee receipt reports from report right section*@
                    else{
                        advanceFee=0;
                        $('#R07').hide();
                        $('[for="Advance_Fee_Invoice"]').hide();
                        $('#DescR07').hide();
                        $('#Br_R07').hide();
                        $('#R08').hide();
                        $('[for="Advance_Fee_Receipt"]').hide();
                        $('#DescR08').hide();
                        $('#Br_R08').hide();
                    }
                    @*if has monthly loan fee show monthly loan fee invoice and monthly loan fee receipt reports in report right section*@
                    if(model.BranchList[j].HasMonthlyFee){
                        monthlyFee=1;
                        $('#R09').show();
                        $('[for="Monthly_Loan_Fee_Invoice"]').show();
                        $('#DescR09').show();
                        $('#Br_R09').show();
                        $('#R10').show();
                        $('[for="Monthly_Loan_Fee_Receipt"]').show();
                        $('#DescR10').show();
                        $('#Br_R10').show();

                    }
                        @*if no monthly loan fee hide monthly loan fee invoice and monthly loan fee receipt reports from report right section*@
                    else{
                        monthlyFee=0;
                        $('#R09').hide();
                        $('[for="Monthly_Loan_Fee_Invoice"]').hide();
                        $('#DescR09').hide();
                        $('#Br_R09').hide();
                        $('#R10').hide();
                        $('[for="Monthly_Loan_Fee_Receipt"]').hide();
                        $('#DescR10').hide();
                        $('#Br_R10').hide();
                    }
                    @*if has lot inspection fee show lot inspection fee invoice and lot inspection fee receipt reports in report right section*@
                    if(model.BranchList[j].HasLotFee){
                        lotFee=1;
                        $('#R11').show();
                        $('[for="Lot_Inspection_Fee_Invoice"]').show();
                        $('#DescR11').show();
                        $('#Br_R11').show();
                        $('#R12').show();
                        $('[for="Lot_Inspection_Fee_Receipt"]').show();
                        $('#DescR12').show();
                        $('#Br_R12').show();

                    }
                        @*if no lot inspection fee hide lot inspection fee invoice and lot inspection fee receipt reports from report right section*@
                    else{
                        lotFee=0;
                        $('#R11').hide();
                        $('[for="Lot_Inspection_Fee_Invoice"]').hide();
                        $('#DescR11').hide();
                        $('#Br_R11').hide();
                        $('#R12').hide();
                        $('[for="Lot_Inspection_Fee_Receipt"]').hide();
                        $('#DescR12').hide();
                        $('#Br_R12').hide();

                    }
                }



            }

        }




    };
    @*change content according to the All check box in user right section*@
    $(function () {
        $('#CheckAll').on('change', function () {
            $('#checkBoxMessage span').text("");
            @*check All is checked*@
            if ($(this).is(':checked')) {
                @*make all check box related to .ALL class is checked*@
                $('#checkBoxMessage span').text("");
                $('.All').prop('checked', true);

                var loanId2 = 0;
                @*check loan list is not null and element count is 1*@
                @if(ViewBag.LoanId!=null && ViewBag.LoanId.Items.Count == 1)
                {
                @*get loan id and assign to a variable*@
                    <text> loanId2 = @ViewBag.LoanId.Items[0].LoanId;</text>
                @*send loan id to check the list of report rights according to the loan setup details*@
                <text> CheckLoanReportRights(loanId);</text>
                    <text>$('.All2').prop('checked',false);</text>
                <text>$('.CBAll2').prop('checked',false);</text>
                    <text>$('#DivRptRights').show();</text>
                        }
                        else if (ViewBag.LoanId != null){
                @*if loan list count >1 assign selected loan id to variable*@
                    <text>loanId2 = $('#LoanIdUser2').val();</text>
                @*get report right list according to the loan setup details*@
                     <text> CheckLoanReportRights(loanId2);</text>
                    <text>$('.All2').prop('checked',false);</text>
                <text>$('.CBAll2').prop('checked',false);</text>
                    <text>$('#DivRptRights').show();</text>

                }


            }
            else {
                $('.All2').prop('checked',false);
                $('.CBAll2').prop('checked',false);
                $('.All').prop('checked', false);
                $('#DivRptRights').hide();
            }
        });

    });
    @*for report rights*@
    @*change content according to the All check box in report right section*@
    $(function () {
        $('#CheckAll2').on('change', function () {
            @*check All is checked*@
            $('#checkBoxMessage span').text("");
            @*make all check box related to .ALL2 class is checked*@
            if ($(this).is(':checked')) {

                $('#checkBoxMessage span').text("");
                $('.All2').prop('checked', true);


            }
            else {

                $('.All2').prop('checked', false);
            }
        });

    });
    @*check loan lis count is 1*@
    if(@ViewBag.LoanId.Items.Count==1){
        @*assign loan id to variable*@
        var loan = $('#LoanIdUser').val();
        SendParaTo(loan);
    }
    @*clear error messages and make right section check boxes unchecked when select dropdown change*@
    $('#LoanIdUser2').change(function () {
        $('#loanIdMessage span').text("");
        $('#selectAll').prop('checked', false);
        $('.All').prop('checked', false);
        $('#CheckAll2').prop('checked', false);
        $('.All2').prop('checked', false);
        $('#DivRptRights').hide();
    });
    @*change check boxes checked and unchecked property when change all check boxes belong to .All class*@
    $(function () {
        $('.All').on('change', function () {
            $('#checkBoxMessage span').text("");
            checkAll();
        });
    });
    @*report rights section*@
    @*change check boxes checked and unchecked property when change all check boxes belong to .All2 class*@
    $(function () {
        $('.All2').on('change', function () {
            $('#checkBoxMessage span').text("");
            checkAll2();
        });
    });
    @*change check boxes checked property and CheckAll check box checked property *@
    function checkAll(){
        var model = @Html.Raw(Json.Encode(Model));
        var len = model.UserRightsList.length;
        var count =0;
        for (var j = 0 ; j < model.UserRightsList.length; j++){
            var str = '#'+(model.UserRightsList[j].rightId);
            if ($(str).is(':checked')) {

                count++;
            }
        }
        @*has fee and no need to track title*@
        if( title != 1 && hasFee === 1 && count === (len-1)){
            $('#CheckAll').prop('checked', true);
        }
            @*has fee and  need to track title*@
        else if( title == 1 && hasFee != 1 && count === (len-1)){
            $('#CheckAll').prop('checked', true);
        }
            @*no fee and no need to track title*@
        else if( title != 1 && hasFee != 1 && count === (len-2)){
            $('#CheckAll').prop('checked', true);
        }
        else if( count === len){
            $('#CheckAll').prop('checked', true);
        }
        else{
            $('#CheckAll').prop('checked', false);
        }
        $('#successSpn span').text("");
        $('#errSpn span').text("");
    };
    @*change check boxes checked property and CheckAll2 check box checked property in report right section*@
    function checkAll2(){

        var model = @Html.Raw(Json.Encode(Model));
        var len = model.ReportRightsList.length;

        var count =0;
        @*get count of all check boxes which display in the page in report section*@
        var len2 = $('.All2').filter(function() {
            return $(this).css('display') !== 'none';
        }).length;
        @*get count of check boxes which checked*@
        for (var j = 0 ; j < model.ReportRightsList.length; j++){
            var str = '#'+ model.ReportRightsList[j].rightId;
            if ($(str).is(':checked') && $(str).css('display') !== 'none') {

                count++;
            }
        }

        @*check all are checked*@
        if(count===len2){
            @*checked All checkbox in report right section*@

            $('#CheckAll2').prop('checked', true);

        }
        else{
            @*unchecked All checkbox in report right section*@
            $('#CheckAll2').prop('checked', false);

        }

        $('#successSpn span').text("");
        $('#errSpn span').text("");
    };
    @*change report right section according to the view reports check box change*@
    $('#U06').change(function(){
        if($(this).is(":checked")) {

            var loanId2 = 0;
            @*check loan list is not null and element count is 1*@
            @if(ViewBag.LoanId!=null && ViewBag.LoanId.Items.Count == 1)
            {
                @* assign loan id to variable *@
                <text> loanId2 = @ViewBag.LoanId.Items[0].LoanId;</text>
                @* send loan id to check report list according to the loan setup details*@
            <text> CheckLoanReportRights(loanId);</text>
                <text>$('.All2').prop('checked',false);</text>
                <text>$('.CBAll2').prop('checked',false);</text>
                <text>$('#DivRptRights').show();</text>
                        }
               else if (ViewBag.LoanId != null ){
                 @* assign selected loan id in select loan drop down to variable *@
                <text>loanId2 = $('#LoanIdUser2').val();</text>
                @* send loan id to check report list according to the loan setup details*@
                 <text> CheckLoanReportRights(loanId2);</text>
                <text>$('.All2').prop('checked',false);</text>
                <text>$('.CBAll2').prop('checked',false);</text>
                <text>$('#DivRptRights').show();</text>

                 }



        }
        else{
            $('.CBAll2').prop('checked', false);
            $('.All2').prop('checked', false);
            $('#DivRptRights').hide();
        }
    });
    @*send selected reports description and image path to report popup*@
    function ViewDetails(rightId){

        var model = @Html.Raw(Json.Encode(Model));
        $('#PopupDiv').show();
        showPopup('Rpt2');
        $('#textForPopup').text(model.ReportRightsList[rightId].name);
        $('#desLbl').text(model.ReportRightsList[rightId].description);
        if(model.ReportRightsList[rightId].ImagePath!=null || model.ReportRightsList[rightId].ImagePath!=''){
            var str = model.ReportRightsList[rightId].ImagePath;
            $('#idimg').attr('src',str);
        }
        
    };
    </script>
<div id="PopupDiv">
    <div class="overlay-bg">
    </div>
    <div class="overlay-content popupRpt2" style="width:auto;text-align:center;margin-top:-131px;margin-left:-246px">
        <div class="close-pop icon-cross" style="float: right;font-size: 23px;"></div>
        <h3 id="textForPopup"></h3>
        <div style="padding:10px;">
            <label style="color:darkgreen;font-weight:bold">Description</label>
        </div>
        <div style="padding:10px;">
            <label id="desLbl"></label>
        </div>
        <div style="padding:10px;">
            <label style="color:darkgreen;font-weight:bold">Example</label>
        </div>
        <div style="padding: 10px;">
            <img onclick="window.open(this.src)" alt="Image" style="max-width: 1500px;max-height: 500px" id="idimg" />
        </div>
        <input type="button" class="close-btn btn btn-info" value="Close" style="margin-left:893px;"/>
    </div>

</div>

<script>

    @*function to show our popups*@
    function showPopup(whichpopup) {
        var docHeight = $(document).height(); @*grab the height of the page*@
        var scrollTop = $(window).scrollTop(); @*grab the px value from the top of the page to where you're scrolling*@
        $('.overlay-bg').show().css({ 'height': docHeight }); @*display your popup background and set height to the page height*@
        $('.popup' + whichpopup).show().css({ 'top': scrollTop + 20 + 'px' }); @*show the appropriate popup and set the content 20px from the window top*@
    }

   @* function to close our popups*@
    function closePopup() {
        $('.overlay-bg, .overlay-content').hide(); //hide the overlay
    }

    
    @* show popup when you click on the link*@
    $('.show-popup').click(function (event) {
       
        var selectedPopup = $(this).data('showpopup'); @*get the corresponding popup to show*@

        showPopup(selectedPopup); @*we'll pass in the popup number to our showPopup() function to show which popup we want*@
    });

    @* hide popup when user clicks on close button or if user clicks anywhere outside the container*@
    $('.close-btn, .overlay-bg ,.close-pop').click(function () {
        closePopup();
    });

    @* hide the popup when user presses the esc key*@
    $(document).keyup(function (e) {
        if (e.keyCode == 27) { // if user presses esc key
            closePopup();
        }
    });
</script>



