@model BankLoanSystem.Models.UserRequest

@{
    ViewBag.Title = "User Request Message";
}

<script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>


<div class="msg-box">
    @using (Ajax.BeginForm("UserRequestMessage", "UserManagement", new AjaxOptions()
    {

        OnFailure = "handleErrorMsg",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "UserRequestMessage"
    }, new {id = "form"}))
    {
        @Html.AntiForgeryToken()
        <div>
            <span >Send us a Message:</span>
        </div>

        <div>

            <div>
                <div style="margin-right: 45px; display: inline-block;">
                    <label for="email" class="labels" style="font-size:unset;">Subject:</label>
                </div>
                <div class="select-style">

                    <select id="topic">
                        <option value="">--Select a category--</option>
                        <option value="">Comment/Idea on program</option>
                        <option value="">Technical Support</option>
                        <option value="">Billing Question</option>
                        <option value="">Other</option>
                    </select>
                    @Html.HiddenFor(model => model.topic, new {@Value = "0", @id = "mTopic"})
                    @Html.ValidationMessageFor(model => model.topic, "", new {@class = "text-danger"})

            </div>
                <div id="divSubjectErr" style="padding-left: 112px;"><span class="text-danger field-validation-error"></span></div>
        </div>
        </div>

        <div>
            <span>Message:</span>
            @Html.TextAreaFor(model => model.message, 5, 85, new { htmlAttributes = new { @class = "form-control-notebox" } })
            @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })

        </div>
        <div class="form-group" style="margin-top: 13px;" id="captchaDIV">
            <div >
                <img src="@Url.Action("GetCaptchaImage","UserManagement")" />
            </div>
        </div>
            <div class="form-group" style="margin-left: 173px;margin-top: -60px;" id="refreshHide1">
                <div>
                    @Html.EditorFor(model => model.captcha, new { htmlAttributes = new { @class = "form-control", @id = "CaptchaText", @maxlength = "5" ,@style= "width: 182px;" } })
                </div>
                <div>
                    @Html.Label("[Type Security code here]", htmlAttributes: new { @style = "font-weight:normal;" })
                </div>

            </div>
        <div id="refreshHide2">
            <input type="submit" value="Submit" name="btnAdd" id="btnSubmit" class="button button5" style="float: right;margin-top: -10px;"/>
        </div>
        <img src="../Images/refresh.png" style="width: 23px;margin-top: -133px;margin-left: -30px;" onclick="reload();" />
        <div style="clear: both; padding-top: 10px">
                <small><span>@ViewBag.SuccessMsg</span></small>
            </div>
    }
</div>

<script type="text/javascript">
    function reload() {
        $('#refreshHide1').hide();
        $('#refreshHide2').hide();
        var container = document.getElementById("captchaDIV");
        var content = container.innerHTML;
        container.innerHTML = content;
        $('#refreshHide1').show('slow');
        $('#refreshHide2').show('slow');
    }
    
</script>

<script type="text/javascript">
    $('#topic').change(function() {
        $('#mTopic').val($('#topic :selected').text());
    });
    
    $('#topic').click(function () {
        //alert($(this));
        $('#divSubjectErr').children('span').text('');
        $(this).removeClass('input-validation-error');
    });

    //$('#btnSubmit').click(function (e) {
    //    //alert($('#message').val())
    //    //alert(subjectIndex);
    //    alert('Hi1');
        
    //    var error = 0;
    //    var subjectIndex = $('#topic option:selected').index();
    //    if (subjectIndex === 0) {
    //        error = error + 1;
    //        $('#divSubjectErr').children('span').text('Subject is required');
    //    }
    //    else {
    //        error = error - 1;
    //        $('#divSubjectErr').children('span').text('');
    //    }

    //    var message = $('#message').val();

    //    if (message === '') {
    //        error = error + 1;
    //    }
    //    else {
    //        error = error - 1;
    //    }
            
    //    if (error > 0)
    //    {
    //        return;
    //    }
    //    var data = {
    //        topic: $('#topic :selected').text(),
    //        message: message
    //    };
    //    $.ajax({
    //        url: '/UserManagement/UserRequestMessagePost/',
    //        data: JSON.stringify(data),
    //        type: 'POST',
    //        async: true,
    //        contentType: 'application/json; charset=utf-8',
    //        success: function (partialView) {
    //            alert('Hi');
    //            $('#UserRequestMessage').html(partialView);
    //            $('#UserRequestMessage').show();
    //        }
    //    });
    //});
</script>
