
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

@*<script src="~/scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/scripts/popup.js"></script>

<div class="overlay-bg">
</div>
<div class="overlay-content popup1">

    <div id="loadingSpan" style="display:none;">
        <strong><span>Loading... </span></strong>
    </div>
    <div id="selcet-panel">



    </div>

</div>
<style>
    #squares div {
    /* these styles will let the divs line up next to each other
       while accepting dimensions */
    display: block;
    float: left;

    width: 120px;
    height: 120px;
    background: green;

    /* a small margin to separate the blocks */
    margin-right: 5px;
}
</style>

    @if (ViewBag.LoanCount > 0 && ((ViewBag.roleId == 1) || (ViewBag.roleId == 2) || (ViewBag.roleId == 3) || (ViewBag.roleId == 4)))
    {
       
        <div class="fpm">
            <h3>Floor Plan Management</h3>

            <div id="floorPlanDiv">
                
                <div class="select-loan">

                @if (ViewBag.loanSelected == 1) { 
                    <div>@Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "nrm-button show-popup", @id = "lkuni", @data_showpopup = "1" })</div>
                }
                @if (ViewBag.LoanCount > 1)
                {
                    <div>@Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "nrm-button show-popup", @id = "lkuni", @data_showpopup = "1" })</div>
                }
                else
                {
                    <div>
                        <span>Loan # - @ViewBag.LoanNum</span>

                        @if (ViewBag.PartnerType == 1)
                        {
                        <span style="width:36%">Lender : @ViewBag.PartnerName</span>

                        }
                        else if (ViewBag.PartnerType == 2)
                        {
                        <span style="width:36%">Dealer : @ViewBag.PartnerName</span>

                        }

                        <span>Branch : @ViewBag.Branch</span>

                    </div>
                }              

                </div>
                
                @if (ViewBag.LoanCount == 1)
                {
                    if ((ViewBag.roleId == 1) || (ViewBag.roleId == 2))
                    {
                                    <button class="big-button" onclick="window.location.href='/Unit/Addunit'" >
                                        <span class="icon-automobile"></span>
                                        <span class="txt">Add Unit</span>
                                    </button>

                                    <button class="big-button" onclick="window.location.href='/AdvanceUnit/Advance'">
                                        <span class="icon-dollar"></span>
                                        <span class="txt">Advance Unit</span>
                                    </button>

                                    <button class="big-button" onclick="window.location.href='/Curtailments/PayCurtailments'">
                                        <span class="icon-coin-dollar"></span>
                                        <span class="txt">Unit Curtailments</span>
                                    </button>

                        if (ViewBag.IsTitleTrack == 1)
                        {
                                            <button class="big-button" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                                                <span class="icon-files-empty"></span>
                                                <span class="txt">Update Titles</span>
                                            </button>
                        }
                                    <button class="big-button" onclick="window.location.href='/UnitPayOff/PayOff'">
                                        <span class="icon-banknote"></span>
                                        <span class="txt">Pay Off A Unit</span>
                                    </button>

                                    <button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
                                        <span class="icon-stack"></span>
                                        <span class="txt">Reports</span>
                                    </button>
                    }
                    else if (ViewBag.roleId == 3)
                    {
                        if (ViewBag.AddUnits == 1)
                        {
                        <button class="big-button" onclick="window.location.href='/Unit/Addunit'">
                            <span class="icon-automobile"></span>
                            <span class="txt">Add Unit</span>
                        </button>
                        }
                        if (ViewBag.AdvanceUnits == 1)
                        {
                        <button class="big-button" onclick="window.location.href='/AdvanceUnit/Advance'">
                            <span class="icon-dollar"></span>
                            <span class="txt">Advance Unit</span>
                        </button>
                        }
                        if (ViewBag.Curtailment == 1)
                        {
                        <button class="big-button" onclick="window.location.href='/Curtailments/PayCurtailments'">
                            <span class="icon-coin-dollar"></span>
                            <span class="txt">Unit Curtailments</span>
                        </button>
                        }
                        if ((ViewBag.IsTitleTrack == 1) && (ViewBag.TitleAdd == 1))
                        {
                        <button class="big-button" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                            <span class="icon-files-empty"></span>
                            <span class="txt">Update Titles</span>
                        </button>
                        }
                        if (ViewBag.PayoffUnits == 1)
                        {
                        <button class="big-button" onclick="window.location.href='/UnitPayOff/PayOff'">
                            <span class="icon-banknote"></span>
                            <span class="txt">Pay Off A Unit</span>
                        </button>
                        }
                        if (ViewBag.ViewReports == 1)
                        {
                        <button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
                            <span class="icon-stack"></span>
                            <span class="txt">Reports</span>
                        </button>
                        }
                    }
                    else if (ViewBag.roleId == 4)
                    {
                    <button class="big-button" onclick="window.location.href='/Unit/Addunit'">
                        <span class="icon-automobile"></span>
                        <span class="txt">Add Unit</span>
                    </button>
                    <button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
                        <span class="icon-stack"></span>
                        <span class="txt">Reports</span>
                    </button>
                    }
                }

            </div>
        </div>

    }

@if ((ViewBag.roleId == 1) || (ViewBag.roleId == 2))
{
    <div class="md">
        <h3>Manage Details</h3>
        <div>
            <button class="big-button">
                <span class="icon-user"></span>
                <span class="txt">Edit User</span>
            </button>
            @if (ViewBag.roleId == 1)
            {
            <button class="big-button" onclick="window.location.href='/SetupProcess/Step2?edit1=bshdrdhbrn'" type="button">
                <span class="icon-home2"></span>
                <span class="txt">Edit Branch</span>
            </button>
            }
            <button class="big-button">
                <span class="icon-clipboard"></span>
                <span class="txt">Edit Loan</span>
            </button>
            <button class="big-button"  onclick="window.location.href='/SetupProcess/Step4?dashbrd=bshdrdhomcrpt'" type="button">
                <span class="icon-user-tie"></span>
                <span class="txt">Edit Partner</span>
            </button>

           

            <button class="big-button">
                <span class="icon-accessibility"></span>
                <span class="txt">Edit User Rights</span>
            </button>

            <button class="big-button">
                <span class="icon-credit"></span>
                <span class="txt">Fees</span>
            </button>

            @if (ViewBag.roleId == 1 || ViewBag.roleId == 2)
            {
                if (ViewBag.LoanCount > 0 )
                {
                    using (Ajax.BeginForm(
                    "Selectloan",
                    "UserManagement", new { type = "assignRights" },
                    new AjaxOptions
                    {
                        OnFailure = "handleError",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "selcet-panel",
                        LoadingElementId = "loadingSpan"
                    }, new { style = "display:inline-block" }))
                    {
                        <button class="big-button show-popup" type="submit" data-showpopup="1">
                            <span class="icon-user-check"></span>
                            <span class="txt">Assign A User</span>

                            @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
                        </button>
                    }
                }
                @*else if (ViewBag.LoanCount == 1)
                {
                    <button class="big-button" type="submit" onclick="window.location.href='/UserManagement/AssignRights'">
                        <span class="icon-user-check"></span>
                        <span class="txt">Assign A User</span>
                 </button>
                }*@

                if (ViewBag.LoanCount > 0)
                {
                    using (Ajax.BeginForm(
                          "Selectloan",
                          "UserManagement", new { type = "linkDealer" },
                          new AjaxOptions
                          {
                              OnFailure = "handleError",
                              HttpMethod = "GET",
                              InsertionMode = InsertionMode.Replace,
                              UpdateTargetId = "selcet-panel",
                              LoadingElementId = "loadingSpan"
                          }, new { style = "display:inline-block" }))
                    {
                                        <button class="big-button show-popup" type="submit" data-showpopup="1">
                                            <span class="icon-link"></span>
                                            <span class="txt">Join Dealer</span>

                                            @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
                                        </button>
                                    }
                    }
                    @*else if (ViewBag.LoanCount == 1)
                    {
                        <button class="big-button" type="submit" onclick="window.location.href='/CreateDealer/LinkDealer'">
                            <span class="icon-link"></span>
                            <span class="txt">Join Dealer</span>
                          </button>
                    }*@
                if (ViewBag.roleId == 1)
                {
                <button class="big-button" type="submit" onclick="window.location.href='/SetupProcess/Step1?edit=bshdrd'">
                <span class="icon-office"></span>
                    <span class="txt">Edit Company</span>

                @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
                </button>

                }
                @*@Html.ActionLink("Edit Company", "Step1", "SetupProcess", new { edit = 1 }, new { @class = "big-button", @type = "submit" , @id="editComp" })*@
                @*<span class="icon-office"></span>
                <span class="txt">Edit Company</span>*@
                
            
                
            }
        </div>
    </div>

    <div class="setp">
        <h3>Set Up</h3>
        <div>
            <div>
                <div class="pkg">
                    <table>
                        <tr>
                            <th></th>
                            <th>Branches</th>
                            <th>Loans</th>
                            <th>Users</th>
                        </tr>
                        <tr>
                            <td>Used</td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Available</td>
                            <td>2</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>

                    </table>

                </div>

            </div>
            <button class="big-button" onclick="window.location.href='/UserManagement/CreateDashboardUser'" type="button">
                <span class="icon-user-plus"></span>
                <span class="txt">Create User</span>
            </button>

            @if (ViewBag.roleId == 1)
                {
                <button class="big-button" onclick="window.location.href='/SetupProcess/Step2?edit1=bshdrdhbrn'" type="button">
                    <span class="icon-home"></span>
                    <span class="txt">Create Branch</span>
                </button>
            }
            

            <button class="big-button" onclick="window.location.href='/SetupProcess/Step6?dashbrd=bshdrdoanl'" type="button">
                <span class="icon-folder-plus"></span>
                <span class="txt">Create Loan</span>
            </button>
            <button class="big-button" onclick="window.location.href='/SetupProcess/Step4?dashbrd=bshdrdhomcrpt'" type="button">
                <span class="icon-users"></span>
                <span class="txt">Create Partner</span>
            </button>



        </div>
    </div>

}




<!---->

<script>
    $(document).ready(function(){
        if(@ViewBag.LoanCount==0){
            $('#floorPlanDiv').hide();
        }

        else{
            $('#floorPlanDiv').show();
        }
    if(@ViewBag.LoanCount==1){
        $('.floorPlanDiv .big-button').show();
        //$('#floorPlanBtnDiv').show();
    }
    else{
        $('.floorPlanDiv .big-button').show();
        //$('#floorPlanBtnDiv').hide();
    }
    });

</script>