
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Page = 0;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

@using BankLoanSystem.Controllers
<script src="~/scripts/popup.js"></script>


<!-- This is for jqGrid-->
<link href="~/Content/themes/base/jquery-ui.css?version=1" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>  

<style>
    .dash_grid{

        margin:10px;
    }
    .highlighBranch{
        border: 1px solid #d4ea1a; 
     background: #eaec36; 
    }
    .popup-report-no-permission{
        width:640px;
        text-align:center;
        margin-left: 173px;
        top:280px;
    }
    .gridbutton{
        width:65px;
    }
</style>

<div class="overlay-content popup1">

    <div id="loadingSpan" style="display:none;">
        <strong><span>Loading... </span></strong>
    </div>
    <div id="selcet-panel">

        

    </div>

</div>


<div class="overlay-content popup-report-no-permission">

    <h3>Message</h3>

    <div class="alert alert-info" role="alert">
        You don't currently have access to reports for any of your loans.
    </div><br />
    <span>Please contact your administrator.</span><br />
    <br />
    
    <button class="btn btn-info" style="width:200px" onclick="$('.overlay-bg, .overlay-content').hide();">OK</button>

</div>


<div class="overlay-content popup-report-no-rightsforselectedloan">

    <h3>Message</h3>

    <div class="alert alert-info" role="alert">
        You do not have access to reports for the selected loan. Would you like to view reports for another loan?
    </div><br />
    <span> Press OK to continue to the reports page or Cancel to stay on the current page. </span><br />
    <br />

   @Html.ActionLink("OK", "ReportIndex", "Reports", null, new { @class = "btn btn-info", style = "width: 70px;margin-right: 20px;" })
    <button class="close-btn btn btn-info" onclick="$('.overlay-bg, .overlay-content').hide();">Cancel</button>

</div>

@{

    bool isAtleastonePerm = false;
}

@if (ViewBag.roleId == 3)
{

    isAtleastonePerm = (new UserManagementController()).IsAtleastOnePermissionForReport(ViewBag.Userid);
}

    @if (ViewBag.LoanCount > 0 && ((ViewBag.roleId == 1) || (ViewBag.roleId == 2) || (ViewBag.roleId == 3) || (ViewBag.roleId == 4)))
    {

        <div class="fpm">
            <h3>Floor Plan Management</h3>

            <div id="floorPlanDiv">
                
                <div class="select-loan">

                @if (ViewBag.loanSelected == 1) {
                   @Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "sel-loan a_demo_three icon-point-right nrm-button show-popup", @id = "lkuni", @data_showpopup = "1", style = "text-decoration: none;" })
                }
                @if (ViewBag.LoanCount > 1)
                {
                    @*<div>@Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "nrm-button show-popup", @id = "lkuni", @data_showpopup = "1" })</div>*@



                      @Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "sel-loan a_demo_three icon-point-right nrm-button show-popup", @id = "lkuni", @data_showpopup = "1", style = "text-decoration: none;" })

                    <button class="a_demo_three icon-stack noloanselection" onclick="window.location.href='/Reports/ReportIndex'">

                        Reports
                    </button>

                }
                else
                {
                    <div>
                        <span>Loan # : @ViewBag.LoanNum</span>

                        @if (ViewBag.PartnerType == 1)
                        {
                        <span style="width:36%">Lender : @ViewBag.PartnerName</span>

                        }
                        else if (ViewBag.PartnerType == 2)
                        {
                        <span style="width:36%">Dealer : @ViewBag.PartnerName</span>

                        }

                        <span>Branch : @ViewBag.Branch</span>

                    </div>
                }              

                </div>
                 @*@if (ViewBag.LoanCount > 1) {
                <button class="a_demo_three icon-stack noloanselection" onclick="window.location.href='/Reports/ReportIndex'">

                    Reports
                </button>
                 }*@
                @if (ViewBag.LoanCount == 1)
                {
                    if ((ViewBag.roleId == 1) || (ViewBag.roleId == 2))
                    {

                        <button class="a_demo_three icon-automobile sel-loan" onclick="window.location.href='/Unit/Addunit'">            
                            Add Unit
                        </button>

                        <button class="a_demo_three icon-dollar sel-loan" onclick="window.location.href='/AdvanceUnit/Advance'">
                            
                            Advance Unit
                        </button>

                        <button class="a_demo_three icon-coin-dollar sel-loan" onclick="window.location.href='/Curtailments/PayCurtailments'">
                            
                            Unit Curtailments
                        </button>

                                    @*<button class="big-button" onclick="window.location.href='/Unit/Addunit'" >
                                        <span class="icon-automobile"></span>
                                        <span class="txt">Add Unit</span>
                                    </button>*@

                                    @*<button class="big-button" onclick="window.location.href='/AdvanceUnit/Advance'">
                                        <span class="icon-dollar"></span>
                                        <span class="txt">Advance Unit</span>
                                    </button>*@

                                    @*<button class="big-button" onclick="window.location.href='/Curtailments/PayCurtailments'">
                                        <span class="icon-coin-dollar"></span>
                                        <span class="txt">Unit Curtailments</span>
                                    </button>*@

                if (ViewBag.IsTitleTrack == 1)
                {

                    <button class="a_demo_three icon-files-empty sel-loan" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                        
                        Update Titles
                    </button>
                                            @*<button class="big-button" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                                                <span class="icon-files-empty"></span>
                                                <span class="txt">Update Titles</span>
                                            </button>*@
                }

                <button class="a_demo_three icon-banknote sel-loan" onclick="window.location.href='/UnitPayOff/PayOff'">
                    
                    Pay Off Unit
                </button>
                                    @*<button class="big-button" onclick="window.location.href='/UnitPayOff/PayOff'">
                                        <span class="icon-banknote"></span>
                                        <span class="txt">Pay Off Unit</span>
                                    </button>*@

                if (ViewBag.Fee == 1)
                {

                    <button class="a_demo_three icon-credit sel-loan" onclick="window.location.href='/Fee/PayFees'">
                        
                        Fees
                    </button>
                            @*<button class="big-button" onclick="window.location.href='/Fee/PayFees'">
                                <span class="icon-credit"></span>
                                <span class="txt">Fees</span>
                            </button>*@
                }

                <button class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
                    
                   Reports
                </button>
                                    @*<button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
                                        <span class="icon-stack"></span>
                                        <span class="txt">Reports</span>
                                    </button>*@

                        <button class="a_demo_three icon-bin2 warn-button withloanselectionSA" onclick="window.location.href='/DeleteUnit/Delete'">
                           
                           Delete Unit
                        </button>
                                    @*<button class="big-button" onclick="window.location.href='/DeleteUnit/Delete'">
                                        <span class="icon-bin2"></span>
                                        <span class="txt">Delete Unit</span>
                                    </button>*@
                    }
                    else if ((ViewBag.roleId == 3) && (ViewBag.RightList.Count != 0) && (ViewBag.RightList != null))
                    {


                        if (ViewBag.RightList.Contains("U04"))
                        {
                            <button id="lkuni" class="a_demo_three icon-automobile sel-loan" onclick="window.location.href='/Unit/Addunit'">       
                                Add Unit
                            </button>

                            @*@Html.ActionLink("Unit", "addunit", "unit", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkuni" })*@
                        }
                        if (ViewBag.RightList.Contains("U01"))
                        {
                            <button id="lkadv" class="a_demo_three icon-dollar sel-loan" onclick="window.location.href='/AdvanceUnit/Advance'">
                               
                                Advance Unit
                            </button>
                            @*@Html.ActionLink("Advance", "Advance", "AdvanceUnit", null, new { @class = "btn btn-info btn-arrow-right link" , @id="lkadv" })*@
                        }
                        if (ViewBag.RightList.Contains("U05"))
                        {
                            <button id="lkcrtl" class="a_demo_three icon-coin-dollar sel-loan" onclick="window.location.href='/Curtailments/PayCurtailments'">
                                
                                Unit Curtailments
                            </button>
                            @*@Html.ActionLink("Curtailment", "PayCurtailments", "Curtailments", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkcrtl" })*@
                        }
                        if (ViewBag.RightList.Contains("U02") && ViewBag.ttlAccess == 1 && ViewBag.IsTitleTrack == 1)
                        {
                            <button id="lkttl" class="a_demo_three icon-files-empty sel-loan" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                                
                                Update Titles
                            </button>

                            @*@Html.ActionLink("Title", "TitleStatusUpdate", "UnitTitle", null, new { @class = "btn btn-info btn-arrow-right link",   @id = "lkttl" })*@
                        }
                        if (ViewBag.RightList.Contains("U03"))
                        {
                            <button id="lkpoff" class="a_demo_three icon-banknote sel-loan" onclick="window.location.href='/UnitPayOff/PayOff'">
                               
                                Pay Off Unit
                            </button>

                            @*@Html.ActionLink("Pay Off", "PayOff", "UnitPayOff", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkpoff" })*@
                        }
                        if (ViewBag.RightList.Contains("U07") && (ViewBag.Fee == 1))
                        {
                            <button class="a_demo_three icon-credit sel-loan" onclick="window.location.href='/Fee/PayFees'">
                              
                               Fees
                            </button>
                        }
                        // editted by irfan


                        <button class="a_demo_three icon-stack withloanselectionUser">

                            Reports
                        </button>


                        // if user has doesn't have right for selected loan and he can see report for another loan
                        if (!ViewBag.RightList.Contains("U06") && isAtleastonePerm)
                        {
                            <script>
                               
                               
                                $('.icon-stack').addClass('show-popup').attr('data-showpopup','-report-no-rightsforselectedloan').removeAttr('onclick');
                                    
                               

                               
                            </script>
                        }
                        else if(ViewBag.RightList.Contains("U06"))
                        {
                            <script>

                                $(".withloanselectionUser").click(function(e){
                                    window.location.href='/Reports/ReportIndex';
                                });
                            </script>
                        }
                        
                        if (ViewBag.RightList.Contains("U08"))
                        {
                            <button class="a_demo_three icon-bin2 warn-button" onclick="window.location.href='/DeleteUnit/Delete'">
                               
                                Delete Unit
                            </button>
                        }
                    }
                    else if (ViewBag.roleId == 4)
                    {
                    <button class="a_demo_three icon-automobile sel-loan" onclick="window.location.href='/Unit/Addunit'">  
                        Add Unit
                    </button>
                    <button class="a_demo_three icon-stack withloanselectionDealer" onclick="window.location.href='/Reports/ReportIndex'">
                       
                        Reports
                    </button>
                    }
                }

            </div>
        </div>

    }

@if ((ViewBag.roleId == 1) || (ViewBag.roleId == 2))
{
    <div class="md">
        <h3>Manage Details</h3>
        <div>

            @using (Ajax.BeginForm(
        "Selectloan",
        "UserManagement", new { type = "tidenaol" },
        new AjaxOptions
        {
            OnFailure = "handleError",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "selcet-panel",
            LoadingElementId = "loadingSpan"
        }, new { style = "display:inline-block" }))
            {
                <button type="submit" class="a_demo_three icon-clipboard show-popup" data-showpopup="1">

                    Activate Loan
                </button>
            }


            <button class="a_demo_three icon-user" onclick="window.location.href='/UserManagement/EditUserAtDashboard'" >
                
                Edit User
            </button>


          
                @if (ViewBag.LoanCount > 0)
                {
                    using (Ajax.BeginForm(
                    "Selectloan",
                    "UserManagement", new { type = "assignRights" },
                    new AjaxOptions
                    {
                        OnFailure = "handleError",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "selcet-panel",
                        LoadingElementId = "loadingSpan"
                    }, new { style = "display:inline-block" }))
                    {
                        @*<button class="a_demo_three icon-user-check show-popup" type="submit" data-showpopup="1">
                            
                            Assign User

                           
                        </button>*@
                        <button class="a_demo_three icon-accessibility show-popup" type="submit" data-showpopup="1">
                            
                           Update User Rights

                           
                        </button>
                    }
                }

            @using (Ajax.BeginForm(
            "Selectloan",
            "UserManagement", new { type = "tcaninaol" },
            new AjaxOptions
            {
                OnFailure = "handleError",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "selcet-panel",
                LoadingElementId = "loadingSpan"
            }, new { style = "display:inline-block" }))
            {
                <button type="submit" class="a_demo_three icon-blocked show-popup" data-showpopup="1">

                    Deactivate Loan
                </button>
            }
            
            <button class="a_demo_three icon-user-tie" onclick="window.location.href='/UserManagement/EditPartnerBranchAtDashboard'">

                Edit Partner Branch
            </button>

            <button class="a_demo_three icon-user-tie" onclick="window.location.href='/UserManagement/EditPartnerCompanyAtDashboard'">

                Edit Partner Company
            </button>



            @using (Ajax.BeginForm(
        "Selectloan",
        "UserManagement", new { type = "aticno" },
        new AjaxOptions
        {
            OnFailure = "handleError",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "selcet-panel",
            LoadingElementId = "loadingSpan"
        }, new { style = "display:inline-block" }))
            {
                <button type="submit" class="a_demo_three icon-loop2 show-popup" data-showpopup="1">

                    Renew Loan
                </button>
            }


            @if (ViewBag.roleId == 1)
            {
            <button class="a_demo_three icon-home2" onclick="window.location.href='/UserManagement/EditDashboardBranch'" >
                
                Edit Branch
            </button>
            }
           

            

            
 

            @if (ViewBag.roleId == 1)
            {
                <button class="a_demo_three icon-office" type="submit" onclick="window.location.href='/UserManagement/EditCompany'">
                
                   Edit Company

                </button>

            }
               



            
        </div>
    </div>

    <div class="setp">
        <h3>Set Up</h3>
        <div>
            @*<div>
                <div class="pkg">
                    <table>
                        <tr>
                            <th></th>
                            <th>Branches</th>
                            <th>Loans</th>
                            <th>Users</th>
                        </tr>
                        <tr class="used">
                            <td>Used</td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr class="avail">
                            <td>Available</td>
                            <td>2</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>

                    </table>

                </div>

            </div>*@
            <button class="a_demo_three icon-user-plus grey-button" onclick="window.location.href='/UserManagement/CreateDashboardUser'" >
                
                Create User
            </button>

            <button class="a_demo_three icon-folder-plus grey-button" onclick="window.location.href='/SetupProcess/Step6?dashbrd=bshdrdoanl'">

                Create Loan
            </button>

            @if (ViewBag.roleId == 1)
            {
                <button class="a_demo_three icon-home grey-button" onclick="window.location.href='/UserManagement/CreateDashboardBranch'" >
                    
                    Create Branch
                </button>
            }
            
@if (ViewBag.LoanCount > 0 && ViewBag.PartnerType == 2)

{
    using (Ajax.BeginForm(
    "Selectloan",
    "UserManagement", new { type = "linkDealer" },
    new AjaxOptions
    {
        OnFailure = "handleError",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "selcet-panel",
        LoadingElementId = "loadingSpan"
    }, new { style = "display:inline-block" }))
    {
        <button class="a_demo_three icon-link show-popup grey-button" type="submit" data-showpopup="1">

            Join Dealer

            @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
        </button>
    }


            <button class="a_demo_three icon-users grey-button" onclick="window.location.href='/UserManagement/CreatePartnerCompanyAtDashboard'" >
                
                Create Partner Company
            </button>

            <button class="a_demo_three icon-users grey-button" onclick="window.location.href='/UserManagement/CreatePartnerBranchAtDashboard'" >
                
                Create Partner Branch
            </button>
           
            }

        </div>
    </div>

    <div class="dash_grid">
        <table id="grid"></table>
        <div id="pager2"></div>
    </div>

}




<!---->

<script>
    $(document).ready(function(){
        if(@ViewBag.LoanCount==0){
            $('#floorPlanDiv').hide();
        }

        else{
            $('#floorPlanDiv').show();
        }
        if(@ViewBag.LoanCount==1){
            $('.floorPlanDiv .big-button').show();
            //$('#floorPlanBtnDiv').show();
        }
        else{
            $('.floorPlanDiv .big-button').show();
            //$('#floorPlanBtnDiv').hide();
        }
    });


    function handleError(jqXHR, textStatus, errorThrown) {


        // if session expires
        if (jqXHR.status == "404") {
            window.location.href = '/Login/UserLogin?lbl=Due to inactivity your session has timed out, please log in again.';
        }

    }


    @if (ViewBag.roleId == 1) {
        <text>
    // getting and binding datas to the grid
    $("#grid").jqGrid({
        url: '@Href("~/UserManagement/GetLoanBranchDetails")',
        datatype: "json",
        contentType: "application/json; charset-utf-8",
        mtype: 'GET',
        colNames: ['BranchId', 'Branch Name', 'PartnerBranchId',
         'Partner Branch Name', 'Loanid', 'Loan Number', 'Total Amount', 'Used Amount', 'StatusId','Status' , 'StepNo', 'LoanCode', 'Action'],
        colModel: [
             { name: 'BranchId', index: 'BranchId', width: 194 ,  hidden: true },

              { name: 'BranchName', index: 'BranchName', width: 160 },

            { name: 'PartnerBranchId', index: 'PartnerBranchId', width: 194 ,  hidden: true },


            {
                name: 'PartnerBranchName', index: 'PartnerBranchName', width: 160
            },
             {
                 name: 'Loanid', index: 'Loanid', width: 136,  hidden: true
             },
              {
                  name: 'LoanNumber', index: 'LoanNumber', width: 160


              },

               { name: 'TotalAmount', index: 'TotalAmount', width: 115 ,
                   align: "right", sorttype: 'float', formatter: 'currency',
                   formatoptions: { prefix: '$ ', thousandsSeparator: ',' } },

                { name: 'UsedAmount', index: 'UsedAmount', width: 115,
                    align: "right", sorttype: 'float', formatter: 'currency',
                    formatoptions: { prefix: '$ ', thousandsSeparator: ',' } },

                 { name: 'StatusId', index: 'StatusId', width: 194,  hidden: true  },

                 { name: 'Status', index: 'Status', width: 110  },

                 { name: 'StepNo', index: 'StepNo', width: 194,  hidden: true  },

                 { name: 'LoanCode', index: 'LoanCode', width: 194,  hidden: true  },

                 { name: 'Action', index: 'Action', width: 150 ,  formatter:buttonFormatter  , sortable:false , title: false}

        ],

        rowList: [],        // disable page size dropdown
        pgbuttons: false,     // disable page control like next, back button
        pgtext: null,         // disable pager text like 'Page 0 of 10'
        viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
        pager: '#pager2',
        sortname: 'id',
        loadonce: true,
        scrollrows: true,
        sortorder: "asc",
        caption: "Summary",
        rowNum: 2000,

        beforeSelectRow: function(rowid, e) {
            return false;
        },

        afterInsertRow: function(rowid, aData){
            switch (aData.StatusId) {
                case '1': // active
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'green'});
                    break;
                case '5': // renewal pending
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'white', 'background-color':'black'});
                   // jQuery("#grid").jqGrid('setCell',rowid,'Status','',{'background-color':'black'});
                    break;
                case '3': // incomplete
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'#660000'});
                    break;
                case '4': // incomplete branch
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'blue'});
                    //$('#'+rowid).addClass('highlighBranch');
                    break;
                case '2': // past matured loan
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'#990000', 'font-weight' : 'bold'});

                    break;
                case '0': // inactive
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'grey'});
                    break;



            }
            @if(ViewBag.LoanCode != null)
            {
                <text>
            if(aData.LoanCode=='@ViewBag.LoanCode'){
                $('#'+rowid).addClass('ui-state-highlight').attr('tabindex','0');
            }

                </text>
            }
        }
        ,

        // changing grid height
        loadComplete: function () {

            var grid = $("#grid"),
ids = grid.getDataIDs();

            for (var i = 0; i < ids.length; i++) {
               grid.setRowData(ids[i], false, { height: 27 });
            }


            $("#grid").unbind("contextmenu");
        }
    });





    </text>

    } else if (ViewBag.roleId == 2 ) {

          <text>
    // getting and binding datas to the grid
    $("#grid").jqGrid({
            url: '@Href("~/UserManagement/GetLoanBranchDetails")',
        datatype: "json",
        contentType: "application/json; charset-utf-8",
        mtype: 'GET',
        colNames: ['BranchId', 'Branch Name', 'PartnerBranchId',
         'Partner Branch Name', 'Loanid', 'Loan Number', 'Total Amount', 'Used Amount', 'StatusId','Status' , 'StepNo' , 'LoanCode', 'Action'],
        colModel: [
             { name: 'BranchId', index: 'BranchId', width: 194 ,  hidden: true },

              { name: 'BranchName', index: 'BranchName', width: 180 ,  hidden: true },

            { name: 'PartnerBranchId', index: 'PartnerBranchId', width: 194 ,  hidden: true },


            {
                name: 'PartnerBranchName', index: 'PartnerBranchName', width: 212
            },
             {
                name: 'Loanid', index: 'Loanid', width: 136,  hidden: true
             },
              {
                  name: 'LoanNumber', index: 'LoanNumber', width: 212


              },

               { name: 'TotalAmount', index: 'TotalAmount', width: 134 ,
                   align: "right", sorttype: 'float', formatter: 'currency',
                   formatoptions: { prefix: '$ ', thousandsSeparator: ',' } },

                { name: 'UsedAmount', index: 'UsedAmount', width: 134 ,
                    align: "right", sorttype: 'float', formatter: 'currency',
                    formatoptions: { prefix: '$ ', thousandsSeparator: ',' }
                },

                 { name: 'StatusId', index: 'StatusId', width: 194,  hidden: true  },

                 { name: 'Status', index: 'Status', width: 120  },

                 { name: 'StepNo', index: 'StepNo', width: 194,  hidden: true  },

                 { name: 'LoanCode', index: 'LoanCode', width: 194,  hidden: true  },

                 { name: 'Action', index: 'Action', width: 150 ,  formatter:buttonFormatter  , sortable:false , title: false}


        ],

        rowList: [],        // disable page size dropdown
        pgbuttons: false,     // disable page control like next, back button
        pgtext: null,         // disable pager text like 'Page 0 of 10'
        viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
        pager: '#pager2',
        rowNum: 2000,
        sortname: 'id',
        loadonce: true,
        scrollrows: true,
        sortorder: "asc",
        caption: "Summary",
        // disable click function
        beforeSelectRow: function(rowid, e) {
            return false;
        },

        afterInsertRow: function(rowid, aData){
            switch (aData.StatusId) {
                case '1': // active
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'green'});
                    break;
                case '5': // renewal pending
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'white', 'background-color':'black'});
                    // jQuery("#grid").jqGrid('setCell',rowid,'Status','',{'background-color':'black'});
                    break;
                case '3': // incomplete
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'#660000'});
                    break;
                case '4': // incomplete branch
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'blue'});
                    //$('#'+rowid).addClass('highlighBranch');
                    break;
                case '2': // past matured loan
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'#990000', 'font-weight' : 'bold'});

                    break;
                case '0': // inactive
                    jQuery("#grid").jqGrid('setCell',rowid,'Status','',{color:'grey'});
                    break;



            }
            @if(ViewBag.LoanCode != null)
            {
                <text>
            if(aData.LoanCode=='@ViewBag.LoanCode'){
                $('#'+rowid).addClass('ui-state-highlight').attr('tabindex','0');
            }

                </text>
            }
        }
,


        // changing grid height
        loadComplete: function () {

                    var grid = $("#grid"),
        ids = grid.getDataIDs();

                    for (var i = 0; i < ids.length; i++) {
                        grid.setRowData(ids[i], false, { height: 27 });
                }

                    $("#grid").unbind("contextmenu");


            }
        });

        </text>



    }else if ( ViewBag.roleId == 3) {

          <text>
    // getting and binding datas to the grid
    $("#grid").jqGrid({
            url: '@Href("~/UserManagement/GetLoanBranchDetails")',
        datatype: "json",
        contentType: "application/json; charset-utf-8",
        mtype: 'GET',
        colNames: ['BranchId', 'Branch Name', 'PartnerBranchId',
         'Partner Branch Name', 'Loanid', 'Loan Number', 'Total Amount', 'Used Amount', 'StatusId','Status' , 'StepNo'],
        colModel: [
             { name: 'BranchId', index: 'BranchId', width: 194 ,  hidden: true },

              { name: 'BranchName', index: 'BranchName', width: 180 ,  hidden: true },

            { name: 'PartnerBranchId', index: 'PartnerBranchId', width: 194 ,  hidden: true },


            {
                name: 'PartnerBranchName', index: 'PartnerBranchName', width: 232
            },
             {
                name: 'Loanid', index: 'Loanid', width: 136,  hidden: true
             },
              {
                  name: 'LoanNumber', index: 'LoanNumber', width: 232


              },

               { name: 'TotalAmount', index: 'TotalAmount', width: 174 ,
                   align: "right", sorttype: 'float', formatter: 'currency',
                   formatoptions: { prefix: '$ ', thousandsSeparator: ',' } },

                { name: 'UsedAmount', index: 'UsedAmount', width: 174 ,
                    align: "right", sorttype: 'float', formatter: 'currency',
                    formatoptions: { prefix: '$ ', thousandsSeparator: ',' }
                },

                 { name: 'StatusId', index: 'StatusId', width: 194,  hidden: true  },

                 { name: 'Status', index: 'Status', width: 140  },

                 { name: 'StepNo', index: 'StepNo', width: 194,  hidden: true  }

        ],

        rowList: [],        // disable page size dropdown
        pgbuttons: false,     // disable page control like next, back button
        pgtext: null,         // disable pager text like 'Page 0 of 10'
        viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
        pager: '#pager2',
        rowNum: 2000,
        sortname: 'id',
        loadonce: true,
        scrollrows: true,
        sortorder: "asc",
        caption: "Summary",
        // changing grid height
        loadComplete: function () {

                    var grid = $("#grid"),
        ids = grid.getDataIDs();

                    for (var i = 0; i < ids.length; i++) {
                        grid.setRowData(ids[i], false, { height: 27 });
                }



            }
        });

        </text>



    }


    // disable edit, add , false on pager
    jQuery("#grid").jqGrid('navGrid', '#pager2',
            { edit: false, add: false, del: false });


    @* if there is no user rights give pop up message to user*@
    @if (!isAtleastonePerm && ViewBag.roleId == 3)
    {
    <text>
    $('.icon-stack').addClass('show-popup').attr('data-showpopup','-report-no-permission').removeAttr('onclick');

    </text>
    }


    @if (ViewBag.roleId == 1 || ViewBag.roleId == 2){

        <text>
    // button format function
    function buttonFormatter (cellvalue, options, rowObject)
    {

        if(rowObject.BranchId == undefined){
            // do something here
            // if loan is inactvte
            if(rowObject[8] == 0){
                return '<button class="gridbutton acti" value="'+rowObject[11]+'" > Activate </button> <button class="gridbutton del" value="'+cellvalue+'" > Delete </button>';
            }

                // if loan is active
            else if(rowObject[8] == 1){
                return '<button class="gridbutton selectbut" value="'+rowObject[11]+'" > Select </button>';
            }
                // if loan is Past maturity
               
            else if(rowObject[8] == 2){
                return '<button class="gridbutton selectbut" value="'+rowObject[11]+'" > Select </button> <button class="gridbutton renew" value="'+rowObject[11]+'" > Renew </button>';
            }

                // if loan is incomplete
            else if(rowObject[8] == 3){
                return '<button class="gridbutton complete" value="'+options.rowId+'" > Complete </button> <button class="gridbutton del" value="'+cellvalue+'" > Delete </button>';
            }
                // if loan is renewal pending
            else if(rowObject[8] == 5){
                return '<button class="gridbutton selectbut" value="'+rowObject[11]+'" > Select </button> <button class="gridbutton renew" value="'+rowObject[11]+'" > Renew </button>';
            }

            else{

                return '';
            }

        }else{

            // if loan is inactvte
            if(rowObject.StatusId == 0){
                return '<button class="gridbutton acti" value="'+rowObject.LoanCode+'" > Activate </button> <button class="gridbutton del" value="'+cellvalue+'" > Delete </button>';
            }

                // if loan is active
            else if(rowObject.StatusId == 1){
                return '<button class="gridbutton selectbut" value="'+rowObject.LoanCode+'" > Select </button>';
            }
                // if loan is Past Maturity
            else if(rowObject.StatusId == 2){
                return '<button class="gridbutton selectbut" value="'+rowObject.LoanCode+'" > Select </button> <button class="gridbutton renew" value="'+rowObject.LoanCode+'" > Renew </button>';
            }

                // if loan is incomplete
            else if(rowObject.StatusId == 3){
                return '<button class="gridbutton complete" value="'+options.rowId+'" > Complete </button> <button class="gridbutton del" value="'+rowObject.Id+'" > Delete </button>';
            }
               
                // if loan is renewal pending
            else if(rowObject.StatusId == 5){
                return '<button class="gridbutton selectbut" value="'+rowObject.LoanCode+'" > Select </button> <button class="gridbutton renew" value="'+rowObject.LoanCode+'" > Renew </button>';
            }


            else{

                return '';
            }



        }



    }

    // select button
    $(document).on('click', '.selectbut', function(e){
        var val = $(this).val() ;
        if(val != undefined && val != ''){
            window.location.href = '/UserManagement/setLoanCode?loanCode=' + val;
        }

    });

    // complete button
    $(document).on('click', '.complete', function(e){
        var val = $(this).val() ;
        if(val != undefined && val != ''){

            var myGrid = jQuery("#grid"); // select grid

            var loanCode = myGrid.jqGrid('getCell', val, 'LoanCode'); // get loan code
            var stepNo = myGrid.jqGrid('getCell', val, 'StepNo'); // get step no

            window.location.href = '/SetupProcess/RedirectToStep?loanCode=' + loanCode +'&stepNo='+ stepNo;
        }

    });


    // activate button
    $(document).on('click', '.acti', function(e){
        var val = $(this).val() ;
        if(val != undefined && val != ''){
            window.location.href = '/UserManagement/RedirectToSelectionPage?selectionType=tidenaol&loanCode=' + val;
        }


    });


    // renew button
    $(document).on('click', '.renew', function(e){
        var val = $(this).val() ;
        if(val != undefined && val != ''){
            window.location.href = '/UserManagement/RedirectToSelectionPage?selectionType=aticno&loanCode=' + val;
        }


    });

    </text>
    }
</script>


 
