
@model IEnumerable<BankLoanSystem.Models.UserLogin>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.userId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdName)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdName)
            </td>
            @if (item.isEdit)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.userId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.userId,lId = item.loginId,item.roleId }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
                </td>
            }
            else{
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.userId }) 

            </td>
            }
            
            
           
        </tr>
    }

</table>


