
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Page = 0;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<style>


</style>
<script src="~/scripts/popup.js"></script>

@*<div class="overlay-bg">
</div>*@
<div class="overlay-content popup1">

    <div id="loadingSpan" style="display:none;">
        <strong><span>Loading... </span></strong>
    </div>
    <div id="selcet-panel">



    </div>

</div>


    @if (ViewBag.LoanCount > 0 && ((ViewBag.roleId == 1) || (ViewBag.roleId == 2) || (ViewBag.roleId == 3) || (ViewBag.roleId == 4)))
    {
       
        <div class="fpm">
            <h3>Floor Plan Management</h3>

            <div id="floorPlanDiv">
                
                <div class="select-loan">

                @if (ViewBag.loanSelected == 1) { 
                    <div>@Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "nrm-button show-popup", @id = "lkuni", @data_showpopup = "1" })</div>
                }
                @if (ViewBag.LoanCount > 1)
                {
                    <div>@Ajax.ActionLink("Select a Loan", "Selectloan", "UserManagement", new { type = "dashboard" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "nrm-button show-popup", @id = "lkuni", @data_showpopup = "1" })</div>
                }
                else
                {
                    <div>
                        <span>Loan # : @ViewBag.LoanNum</span>

                        @if (ViewBag.PartnerType == 1)
                        {
                        <span style="width:36%">Lender : @ViewBag.PartnerName</span>

                        }
                        else if (ViewBag.PartnerType == 2)
                        {
                        <span style="width:36%">Dealer : @ViewBag.PartnerName</span>

                        }

                        <span>Branch : @ViewBag.Branch</span>

                    </div>
                }              

                </div>
                
                @if (ViewBag.LoanCount == 1)
                {
                    if ((ViewBag.roleId == 1) || (ViewBag.roleId == 2))
                    {

                        <button class="a_demo_three icon-automobile" onclick="window.location.href='/Unit/Addunit'">            
                            Add Unit
                        </button>

                        <button class="a_demo_three icon-dollar" onclick="window.location.href='/AdvanceUnit/Advance'">
                            
                            Advance Unit
                        </button>

                        <button class="a_demo_three icon-coin-dollar" onclick="window.location.href='/Curtailments/PayCurtailments'">
                            
                            Unit Curtailments
                        </button>

                                    @*<button class="big-button" onclick="window.location.href='/Unit/Addunit'" >
                                        <span class="icon-automobile"></span>
                                        <span class="txt">Add Unit</span>
                                    </button>*@

                                    @*<button class="big-button" onclick="window.location.href='/AdvanceUnit/Advance'">
                                        <span class="icon-dollar"></span>
                                        <span class="txt">Advance Unit</span>
                                    </button>*@

                                    @*<button class="big-button" onclick="window.location.href='/Curtailments/PayCurtailments'">
                                        <span class="icon-coin-dollar"></span>
                                        <span class="txt">Unit Curtailments</span>
                                    </button>*@

                if (ViewBag.IsTitleTrack == 1)
                {

                    <button class="a_demo_three icon-files-empty" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                        
                        Update Titles
                    </button>
                                            @*<button class="big-button" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                                                <span class="icon-files-empty"></span>
                                                <span class="txt">Update Titles</span>
                                            </button>*@
                }

                <button class="a_demo_three icon-banknote" onclick="window.location.href='/UnitPayOff/PayOff'">
                    
                    Pay Off Unit
                </button>
                                    @*<button class="big-button" onclick="window.location.href='/UnitPayOff/PayOff'">
                                        <span class="icon-banknote"></span>
                                        <span class="txt">Pay Off Unit</span>
                                    </button>*@

                if (ViewBag.Fee == 1)
                {

                    <button class="a_demo_three icon-credit" onclick="window.location.href='/Fee/PayFees'">
                        
                        Fees
                    </button>
                            @*<button class="big-button" onclick="window.location.href='/Fee/PayFees'">
                                <span class="icon-credit"></span>
                                <span class="txt">Fees</span>
                            </button>*@
                }

                <button class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
                    
                   Reports
                </button>
                                    @*<button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
                                        <span class="icon-stack"></span>
                                        <span class="txt">Reports</span>
                                    </button>*@

                        <button class="a_demo_three icon-bin2" onclick="window.location.href='/DeleteUnit/Delete'">
                           
                           Delete Unit
                        </button>
                                    @*<button class="big-button" onclick="window.location.href='/DeleteUnit/Delete'">
                                        <span class="icon-bin2"></span>
                                        <span class="txt">Delete Unit</span>
                                    </button>*@
                    }
                    else if ((ViewBag.roleId == 3) && (ViewBag.RightList.Count != 0) && (ViewBag.RightList != null))
                    {


                        if (ViewBag.RightList.Contains("U004"))
                        {
                            <button id="lkuni" class="a_demo_three icon-automobile" onclick="window.location.href='/Unit/Addunit'">       
                                Add Unit
                            </button>

                            @*@Html.ActionLink("Unit", "addunit", "unit", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkuni" })*@
                            }
                            if (ViewBag.RightList.Contains("U001"))
                            {
                            <button id="lkadv" class="a_demo_three icon-dollar" onclick="window.location.href='/AdvanceUnit/Advance'">
                               
                                Advance Unit
                            </button>
                            @*@Html.ActionLink("Advance", "Advance", "AdvanceUnit", null, new { @class = "btn btn-info btn-arrow-right link" , @id="lkadv" })*@
                            }
                            if (ViewBag.RightList.Contains("U005"))
                            {
                            <button id="lkcrtl" class="a_demo_three icon-coin-dollar" onclick="window.location.href='/Curtailments/PayCurtailments'">
                                
                                Unit Curtailments
                            </button>
                            @*@Html.ActionLink("Curtailment", "PayCurtailments", "Curtailments", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkcrtl" })*@
                            }
                            if (ViewBag.RightList.Contains("U002") && ViewBag.ttlAccess == 1 && ViewBag.IsTitleTrack == 1)
                            {
                            <button id="lkttl" class="a_demo_three icon-files-empty" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
                                
                                Update Titles
                            </button>

                            @*@Html.ActionLink("Title", "TitleStatusUpdate", "UnitTitle", null, new { @class = "btn btn-info btn-arrow-right link",   @id = "lkttl" })*@
                            }
                            if (ViewBag.RightList.Contains("U003"))
                            {
                            <button id="lkpoff" class="a_demo_three icon-banknote" onclick="window.location.href='/UnitPayOff/PayOff'">
                               
                                Pay Off Unit
                            </button>

                            @*@Html.ActionLink("Pay Off", "PayOff", "UnitPayOff", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkpoff" })*@
                        }
                        if (ViewBag.RightList.Contains("U007")&&(ViewBag.Fee == 1))
                        {
                            <button class="a_demo_three icon-credit" onclick="window.location.href='/Fee/PayFees'">
                              
                               Fees
                            </button>
                        }
                        if (ViewBag.RightList.Contains("U006"))
                        {
                            <button class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
                               
                                Reports
                            </button>
                        }
                        if (ViewBag.RightList.Contains("U008"))
                        {
                            <button class="a_demo_three icon-bin2" onclick="window.location.href='/DeleteUnit/Delete'">
                               
                                Delete Unit
                            </button>
                        }
                    }
                    else if (ViewBag.roleId == 4)
                    {
                    <button class="a_demo_three icon-automobile" onclick="window.location.href='/Unit/Addunit'">  
                        Add Unit
                    </button>
                    <button class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
                       
                        Reports
                    </button>
                    }
                }

            </div>
        </div>

    }

@if ((ViewBag.roleId == 1) || (ViewBag.roleId == 2))
{
    <div class="md">
        <h3>Manage Details</h3>
        <div>
            <button class="a_demo_three icon-user" onclick="window.location.href='/UserManagement/EditUserAtDashboard'" >
                
                Edit User
            </button>
            @if (ViewBag.roleId == 1)
            {
            <button class="a_demo_three icon-home2" onclick="window.location.href='/UserManagement/EditDashboardBranch'" >
                
                Edit Branch
            </button>
            }
            @using (Ajax.BeginForm(
            "Selectloan",
            "UserManagement", new { type = "tidenaol" },
            new AjaxOptions
            {
            OnFailure = "handleError",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "selcet-panel",
            LoadingElementId = "loadingSpan"
            }, new { style = "display:inline-block" }))
            {
            <button type="submit" class="a_demo_three icon-clipboard show-popup" data-showpopup="1">
                
                Activate Loan
            </button>
            }
            @using (Ajax.BeginForm(
            "Selectloan",
            "UserManagement", new { type = "aticno" },
            new AjaxOptions
            {
                OnFailure = "handleError",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "selcet-panel",
                LoadingElementId = "loadingSpan"
            }, new { style = "display:inline-block" }))
            {
            <button type="submit" class="a_demo_three icon-loop2 show-popup" data-showpopup="1">
                
                Renew Loan
            </button>
            }

            <button class="a_demo_three icon-user-tie"  onclick="window.location.href='/UserManagement/EditPartnerCompanyAtDashboard'" >
                
                Edit Partner Company
            </button>
            <button class="a_demo_three icon-user-tie" onclick="window.location.href='/UserManagement/EditPartnerBranchAtDashboard'"  >
                
                Edit Partner Branch
            </button>
           

            @*<button class="big-button">
                <span class="icon-accessibility"></span>
                <span class="txt">Edit User Rights</span>
            </button>*@

            

            @if (ViewBag.roleId == 1 || ViewBag.roleId == 2)
            {
                if (ViewBag.LoanCount > 0 )
                {
                    using (Ajax.BeginForm(
                    "Selectloan",
                    "UserManagement", new { type = "assignRights" },
                    new AjaxOptions
                    {
                        OnFailure = "handleError",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "selcet-panel",
                        LoadingElementId = "loadingSpan"
                    }, new { style = "display:inline-block" }))
                    {
                        <button class="a_demo_three icon-user-check show-popup" type="submit" data-showpopup="1">
                            
                            Assign User

                            @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
                        </button>
                        <button class="a_demo_three icon-accessibility show-popup" type="submit" data-showpopup="1">
                            
                           Edit User Rights

                            @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
                        </button>
                    }
                }
                @*else if (ViewBag.LoanCount == 1)
                {
                    <button class="big-button" type="submit" onclick="window.location.href='/UserManagement/AssignRights'">
                        <span class="icon-user-check"></span>
                        <span class="txt">Assign A User</span>
                 </button>
                }*@

                    @*else if (ViewBag.LoanCount == 1)
                    {
                        <button class="big-button" type="submit" onclick="window.location.href='/CreateDealer/LinkDealer'">
                            <span class="icon-link"></span>
                            <span class="txt">Join Dealer</span>
                          </button>
                    }*@
                if (ViewBag.roleId == 1)
                {
                <button class="a_demo_three icon-office" type="submit" onclick="window.location.href='/UserManagement/EditCompany'">
                
                   Edit Company

                @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
                </button>

                }
                @*@Html.ActionLink("Edit Company", "Step1", "SetupProcess", new { edit = 1 }, new { @class = "big-button", @type = "submit" , @id="editComp" })*@
                @*<span class="icon-office"></span>
                <span class="txt">Edit Company</span>*@
                
            
                
            }
        </div>
    </div>

    <div class="setp">
        <h3>Set Up</h3>
        <div>
            @*<div>
                <div class="pkg">
                    <table>
                        <tr>
                            <th></th>
                            <th>Branches</th>
                            <th>Loans</th>
                            <th>Users</th>
                        </tr>
                        <tr class="used">
                            <td>Used</td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr class="avail">
                            <td>Available</td>
                            <td>2</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>

                    </table>

                </div>

            </div>*@
            <button class="a_demo_three icon-user-plus" onclick="window.location.href='/UserManagement/CreateDashboardUser'" >
                
                Create User
            </button>

            @if (ViewBag.roleId == 1)
                {
                <button class="a_demo_three icon-home" onclick="window.location.href='/UserManagement/CreateDashboardBranch'" >
                    
                    Create Branch
                </button>
            }
            

            <button class="a_demo_three icon-folder-plus" onclick="window.location.href='/SetupProcess/Step6?dashbrd=bshdrdoanl'" >
               
               Create Loan
            </button>
            <button class="a_demo_three icon-users" onclick="window.location.href='/UserManagement/CreatePartnerCompanyAtDashboard'" >
                
                Create Partner Company
            </button>

            <button class="a_demo_three icon-users" onclick="window.location.href='/UserManagement/CreatePartnerBranchAtDashboard'" >
                
                Create Partner Branch
            </button>
            @if (ViewBag.LoanCount > 0 && ViewBag.PartnerType == 2)

            {
            using (Ajax.BeginForm(
            "Selectloan",
            "UserManagement", new { type = "linkDealer" },
            new AjaxOptions
            {
            OnFailure = "handleError",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "selcet-panel",
            LoadingElementId = "loadingSpan"
            }, new { style = "display:inline-block" }))
            {
            <button class="a_demo_three icon-link show-popup" type="submit" data-showpopup="1">

                Join Dealer

                @*@Ajax.ActionLink("Join Dealer to Lender", "Selectloan", "UserManagement", new { type = "linkDealer" }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "selcet-panel", LoadingElementId = "loadingSpan" }, new { @class = "btn btn-info show-popup", @id = "lkuni", @data_showpopup = "1" })*@
            </button>
            }
            }

        </div>
    </div>

}




<!---->

<script>
    $(document).ready(function(){
        if(@ViewBag.LoanCount==0){
            $('#floorPlanDiv').hide();
        }

        else{
            $('#floorPlanDiv').show();
        }
    if(@ViewBag.LoanCount==1){
        $('.floorPlanDiv .big-button').show();
        //$('#floorPlanBtnDiv').show();
    }
    else{
        $('.floorPlanDiv .big-button').show();
        //$('#floorPlanBtnDiv').hide();
    }
    });


    function handleError(jqXHR, textStatus, errorThrown) {


        // if session expires
        if (jqXHR.status == "404") {
            window.location.href = '/Login/UserLogin?lbl=Due to inactivity your session has timed out, please log in again.';
        }
        
    }
</script>
