@model BankLoanSystem.Models.CurtailmentScheduleModel

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@{
    Layout = null;
    ViewBag.Title = "Pay Curtailments";
    //WebGrid grid = new WebGrid(Model.CurtailmentScheduleInfoModel, defaultSort: "CreatedDate", canPage: false);
}
@using System.Threading;
@using System.Globalization;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Curtailments</title>

    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/commonActions.css" rel="stylesheet" />

</head>
<body>

    <div class="container" id="container">




        @{
            Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
        }



        <div class="details-container">

            @*<div class="right-panel">
                @{
//Html.RenderAction("LoanPaymentDetails", "Unit");
                }

            </div>*@


            <div class="body-content" style="float:right;margin-bottom:15px;width:100%;height:auto">
                <div class="info-bar">
                    <div class="form-group row" style="margin-bottom: 0px;">
                         <label for="" class="col-sm-2 form-control-label" style="width:14%">Curtailment due Date @*- all curtailments due prior to and on this date will be displayed.*@</label>
                        <div class="col-md-2"  >
                            @*<input class="form-control" type="date" />*@

                            @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control dateKeyPressValidate", @placeholder = "MM/DD/YYYY", @id = "dueDate", autocomplete = "off" , maxlength = 10} })
                            <span class="text-danger field-validation-error" id="errorDueDate" style="left:8%;width:101%"></span>
                        </div>
                    </div> 
                </div>
                
                <div id="changeContainer">

                    @{
                        Thread.CurrentThread.CurrentCulture = new CultureInfo("en-US");

                        var timezone = TimeZoneInfo.FindSystemTimeZoneById("Central America Standard Time");
                        var dateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timezone);

                    }

                    @{
                        Html.RenderAction("PayCurtailmentForSelectedDueDate", "Curtailments", new { dueDate = dateTime });
                    }



                </div>
               

             
            </div>

        </div>


        <div class="link-bar" style="margin-bottom:15px;">


            @{
                Html.RenderAction("GetLinkBar", "Unit");
            }


        </div>


    </div>
    <script>

        //$("#lkcrtl").before($(".link")).addClass('active').attr("disabled", "disabled").css('cursor', 'default').css('opacity', 'initial').siblings().removeClass('active').removeAttr('disabled');
        //$("#lkcrtl").click(function (e) { e.preventDefault(); });
        //$("#lkcrtl").siblings().click(function (e) {
        //    return true;

        //});

        $("#lkcrtl").hide();

        startPicker = new Pikaday({
            field: document.getElementById('dueDate'),
            format: 'l',

            bound: true,
            onSelect: function () {
                var dueDate = this.getDate();


                $.ajax({
                    url: '/Curtailments/PayCurtailmentForSelectedDueDate/',
                    data: JSON.stringify({ dueDate: dueDate }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',

                    success: function (partialView) {
                        $('#changeContainer').html(partialView);
                        $('#changeContainer').show();
                        $('.centered span').text('');
                        //$(location).attr('href', '/AdvanceUnit/Advance?flag=' + View);
                    }
                });
            }
        });
        startPicker.setMinDate(new Date("@ViewBag.loanDetails.startDate.Date"));
        startPicker.setMaxDate(new Date("@ViewBag.loanDetails.maturityDate.Date"));
        $("#dueDate").val('@dateTime.ToString("d")');




        $('#dueDate').click(function () {

            $('#errorDueDate').text('');
            $(this).removeClass('input-validation-error');

        });
        $('#dueDate').blur(function () {

            if ($(this).val() == "") {
                

                $(this).attr('placeholder', 'MM/DD/YYYY');
                return;
            }
            var valid = isValidDate($(this).val());
            if (valid) {
                var selectedDate = new Date($(this).val());
                var minDate = new Date("@ViewBag.loanDetails.startDate.Date");
                var maxDate = new Date("@ViewBag.loanDetails.maturityDate.Date");
                if (selectedDate < minDate || selectedDate > maxDate) {
                    // out off range error
                    $('#errorDueDate').text('Out of Range');
                    $(this).addClass('input-validation-error');
                    $('.centered span').text('Error');
                } else {
                    // delete error mssage
                    $('#errorDueDate').text('');
                    $(this).removeClass('input-validation-error');
                }
                

                
            } else {
                
                // not valid data error
                $('#errorDueDate').text('Not valid date');
                $(this).addClass('input-validation-error');
                $('.centered span').text('Error');
            }
        });
        </script>

</body>
</html>
