@model BankLoanSystem.Models.CurtailmentScheduleModel

@{
    WebGrid grid = new WebGrid(Model.CurtailmentScheduleInfoModel, defaultSort: "CreatedDate", canPage: false);
}

<div class ="info-unit" id ="checkableGridDiv"style="margin-top:10px;padding:unset">
                            <div style="overflow-x: hidden;overflow-y: scroll;height: 200px;">
                                @grid.GetHtml(
                                   tableStyle: "gridtable",
                                   headerStyle: "webgrid-header",
                                   alternatingRowStyle: "webgrid-alternating-row",
                                   rowStyle: "webgrid-row-style",
                                   htmlAttributes: new { id = "checkableGrid" },
                                   columns: grid.Columns(
                                   grid.Column(
                                        format:@<text><input type="checkbox" value="@item.UnitId" name="ids" class="checkboxAll" id="all"/></text>
                                           , header: "{checkall}"
                                   ),
                                   grid.Column(
                                        "AdvanceDate",
                                        "Date Advanced",
                                        format: (item) => string.Format("{0:MM/dd/yyyy}", item.AdvanceDate)
                                   ),
                                   grid.Column("VIN/HIN/serial #", "VIN/HIN/serial #", canSort: false, format:@<text>@{<label id="vin" class="vin">@item.IDNumber</label>}</text>),
                                   grid.Column("Year", "Year", format:@<text>@{<label id="year" class="year">@item.Year</label>}</text>),
                                   grid.Column("Make", "Make", format:@<text>@{<label id="make" class="make">@item.Make</label>}</text>),
                                   grid.Column("Model", "Model", format:@<text>@{<label id="model" class="model">@item.Model</label>}</text>),
                                   grid.Column("CurtNumber", "Curt-Number", format:@<text>@{<label id="model" class="model">@item.CurtNumber</label>}</text>),
                                   grid.Column(
                                        "DueDate",
                                        "Due Date",
                                        format: (item) => string.Format("{0:MM/dd/yyyy}", item.DueDate)
                                   ),
                                   grid.Column("CurtAmount", "Curt-Amount ($)", canSort: false, style: "gridColumn", format:@<text>@{<label id="am" class="advanceAmount">@Convert.ToDecimal(item.CurtAmount).ToString("#,##0.00")</label>}</text>)
                                )
                            )
                         </div>
                        <div id="subtotal"> Current Curtailment : $ 0 </div>
                        <div id="unitid" class="hidden"></div>
                </div> 


<script>
            
            var total = 0;
            var checkCount = 0;
            var totalRecCount = 0;

            $(function () {
                GridUpdate();
            });

            function GridUpdate() {
               var ctrl =
                       $('<input />', {
                           type: 'checkbox',
                           id: "cbSelectAll",
                           click: function () {
                               var checkboxes = $(this).closest('table').find('tbody tr td input[type="checkbox"]');
                               checkboxes.prop('checked', $(this).is(':checked'));
                               var chk = checkboxes.prop('checked');
                               if (chk) {
                                   var checkBoxText = $('<div />').attr({ id: 'someID' }).html('<span> Deselect </span>');
                                   $('.gridtable thead tr th:first').html(checkBoxText.prepend(ctrl));
                                   $("#iAdvance").attr("disabled", "disabled");

                               } else {
                                   var checkBoxText = $('<div />').attr({ id: 'someID' }).html('<span> Select </span>');
                                   $('.gridtable thead tr th:first').html(checkBoxText.prepend(ctrl));
                                   $("#btnAdvanceAll").attr("disabled", "disabled");
                                   $("#startDate").attr("disabled", "disabled");
                                   $("#iAdvance").attr("disabled", "disabled");
                                   totalRecCount = 0;

                               }
                               total = 0;
                               totalRecCount = 0;
                               $('.advanceAmount').each(function () {
                                   var tr = $(this).parents('tr:first');
                                   totalRecCount++;
                                   if (document.getElementById('all').checked) {
                                       total = total + parseFloat(tr.find("#am").text().replace(',', ''));
                                       checkCount++;

                                       $(this).parents('tr').css('background', 'lightblue');
                                   } else {
                                       checkCount = 0;
                                       total = 0;
                                       $(this).parents('tr').css('background', 'transparent');
                                   }
                                   document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + total;
                                   if (checkCount > 0) {
                                       $("#btnAdvanceAll").removeAttr("disabled");
                                       $("#startDate").removeAttr("disabled");
                                       if (totalRecCount == 1) {
                                           SetTextBoxValues(tr);
                                       }
                                   }

                               });
                               if (checkCount > 1) {
                                   ClearTextBoxValues();
                               }
                               else if (checkCount == 0 || totalRecCount == 0) {
                                   $("#btnAdvanceAll").attr("disabled", "disabled");
                                   $("#startDate").attr("disabled", "disabled");
                                   ClearTextBoxValues();
                               }

                           }
                       })


               var gg = $('<div />').attr({ id: 'someID' }).html('<span> Select </span>');
                    $('.gridtable thead tr th:first').html(gg.prepend(ctrl));


                    $('.checkboxAll').change(function () {
                        var tr = $(this).parents('tr:first');
                        //var fullcost = parseFloat(tr.find("#am").text().replace(',', ''));
                        //var numValue = Number.parseFloat(tr.find("#am").text());
                        //alert(fullcost);
                        var checked = tr.find("#all").is(':checked');
                        if (checked) {
                            total = total + parseFloat(tr.find("#am").text().replace(',', ''));
                            checkCount++;
                            $(this).parents('tr').css('background', 'lightblue');
                        } else {
                            total = total - parseFloat(tr.find("#am").text().replace(',', ''));
                            checkCount--;
                            $(this).parents('tr').css('background', 'transparent');
                        }

                        if (checkCount == 1) {
                            if (checked) {
                                SetTextBoxValues(tr);

                            } else {
                                $('.advanceAmount').each(function () {

                                    var tr = $(this).parents('tr:first');
                                    var checked = tr.find("#all").is(':checked');

                                    if (checked) {
                                        SetTextBoxValues(tr);
                                    }
                                });
                            }
                            document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + total;
                            $("#btnAdvanceAll").removeAttr("disabled");
                            $("#startDate").removeAttr("disabled");
                        }
                        else if (checkCount == 0) {
                            document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ 0";
                            ClearTextBoxValues();
                            $("#btnAdvanceAll").attr("disabled", "disabled");
                            $("#startDate").attr("disabled", "disabled");
                            $("#iAdvance").attr("disabled", "disabled");
                            $("#someID span").html('Select')

                        }
                        else {
                            ClearTextBoxValues();
                            document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + total;
                        }

                        if (checkCount > 0) {
                            var chkText = $('<div />').attr({ id: 'someID' }).html(' <span> Select </span>');
                            $('.gridtable thead tr th:first').html(chkText.prepend(ctrl));
                            //ChangeCheckBoxText('select ');

                            var totalRows = $("#checkableGrid td :checkbox").length;
                            var checked = $("#checkableGrid td :checkbox:checked").length;

                            if (checked == totalRows) {
                                var chkText = $('<div />').attr({ id: 'someID' }).html('<span>  Deselect </span>');
                                $('.gridtable thead tr th:first').html(chkText.prepend(ctrl));
                            }
                        }

                    });
                }



            $(document).on('click', 'tbody', (function (e) {
                var target = $(e.target);
                if (target.parents('#checkableGrid').length) {
                    var $td = $(e.target).closest("td");
                    var rowIndex = $td.parent().index();
                    rowIndex +=1;
                    var ColIndex = $td.parent().children().index($td);
                    var table = document.getElementById("checkableGrid");
                    var row = $("tr:eq(" + rowIndex + ")", '#checkableGrid');
                    ClearLabelMessages();

                    if (ColIndex != 0) {

                        var checked = row.find("#all").prop('checked');
                        if (!checked) {
                            row.find("#all").prop('checked', true);
                            row.css('background', 'lightblue');

                            checkCount++;
                            total = total + parseFloat(row.find("#am").text().replace(',', ''));

                            if (checkCount == 1) {
                                SetTextBoxValues(row);
                            }
                            else {
                                SetRadioBtnHeaderChecked();
                                ClearTextBoxValues();
                            }
                            document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + total;

                            $("#btnAdvanceAll").removeAttr("disabled");
                            $("#startDate").removeAttr("disabled");
                        }
                    } else {
                        SetRadioBtnHeaderChecked();
                    }
                }
            }));
    </script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
