@model BankLoanSystem.Models.CurtailmentScheduleModel


<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
@*<link href="~/Content/pikaday.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/triangle.css" rel="stylesheet" />*@
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/pikaday.js"></script>
<script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>

@section AddToHead{
    <style>
        #checkableGridDiv table tbody,
        #checkableGridDiv table thead {
            display: block;
        }

        #checkableGridDiv table tbody {
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .col-md-2 {
            text-align: left;
        }

         #searchGrid table tbody,
    #searchGrid table thead {
        display: block;
    }



    #searchGrid table tbody {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    </style>}

@*<link href="~/Content/commonActions.css" rel="stylesheet" />*@

@{
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ViewBag.Title = "Pay Curtailments";
    //WebGrid grid = new WebGrid(Model.CurtailmentScheduleInfoModel, defaultSort: "CreatedDate", canPage: false);
}
@using System.Threading;
@using System.Globalization;



@{
    Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
}

    <div class="container" id="container">




       



        <div class="details-container">

            @*<div class="right-panel">
                @{
//Html.RenderAction("LoanPaymentDetails", "Unit");
                }

            </div>*@


            <div class="body-content" style="float:right;margin-bottom:15px;width:100%;height:auto">
                <div class="info-bar">
                    <div class="form-group row" style="margin-bottom: 0px;">
                         <label for="" class="col-sm-2 form-control-label" style="width:18%;margin-top:5px">Curtailment Due Date @*- all curtailments due prior to and on this date will be displayed.*@</label>
                        <div class="col-md-2"  >
                            @*<input class="form-control" type="date" />*@

                            @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control dateKeyPressValidate", @placeholder = "MM/DD/YYYY", @id = "dueDate", autocomplete = "off" , maxlength = 10} })
                            <span class="text-danger field-validation-error" id="errorDueDate" style="left:8%;width:101%"></span>
                        </div>
                    </div> 
                </div>
                <input type="hidden" id="curtailmentTotal" value="@ViewBag.curtTotal" />
                <div id="changeContainer">
                   
                    @{
                        Thread.CurrentThread.CurrentCulture = new CultureInfo("en-US");

                        var timezone = TimeZoneInfo.FindSystemTimeZoneById("Central America Standard Time");
                        var dateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timezone);

                    }

                    @{
                        Html.RenderAction("PayCurtailmentForSelectedDueDate", "Curtailments", new { dueDate = dateTime });
                    }



                </div>
               

             
            </div>

        </div>


       


    </div>

<div class="link-bar" style="margin-bottom:15px;">


    @{
        Html.RenderAction("GetLinkBar", "Unit");
    }


</div>

    <script>

        var browser = navigator.userAgent.toLowerCase();

        if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) {
            $('head').append('<style>#btnSearch{     margin-left:29px; margin-top:19px;margin-bottom: 0px;margin-right: 0px;        }#btnClear{ margin-top:19px;margin-bottom: 0px;margin-right: 0px;  }</style>');
        } else if ((browser.indexOf('firefox') > -1)) {
            $('head').append('<style>#btnSearch{    margin-left:29px; margin-top:19px;margin-bottom: 0px;margin-right: 0px;        }#btnClear{ margin-top:19px;margin-bottom: 0px;margin-right: 0px;  }</style>');
        } else if (browser.indexOf('msie') > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            $('head').append('<style>#btnSearch{     margin-left:29px; margin-top:28px;margin-bottom: 0px;margin-right: 0px;        }#btnClear{ margin-top:28px;margin-bottom: 0px;margin-right: 0px;  }</style>');

        }

        //$("#lkcrtl").before($(".link")).addClass('active').attr("disabled", "disabled").css('cursor', 'default').css('opacity', 'initial').siblings().removeClass('active').removeAttr('disabled');
        //$("#lkcrtl").click(function (e) { e.preventDefault(); });
        //$("#lkcrtl").siblings().click(function (e) {
        //    return true;

        //});

        $("#lkcrtl").hide();

        startPicker = new Pikaday({
            field: document.getElementById('dueDate'),
            format: 'l',

            bound: true,
            onSelect: function () {
                var dueDate = this.getDate();


                $.ajax({
                    url: '/Curtailments/PayCurtailmentForSelectedDueDate/',
                    data: JSON.stringify({ dueDate: dueDate }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',

                    success: function (partialView) {
                        $('#changeContainer').html(partialView);
                        $('#changeContainer').show();
                        $('.centered span').text('');
                        //$(location).attr('href', '/AdvanceUnit/Advance?flag=' + View);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Your handler here...

                        // if session expires
                        if (jqXHR.status == "404") {
                            window.location.href = '/Login/UserLogin?lbl=Session expired';
                        }
                    }
                });
            }
        });
        startPicker.setMinDate(new Date("@ViewBag.loanDetails.startDate.Date"));
        //startPicker.setMaxDate(new Date("@ViewBag.loanDetails.maturityDate.Date"));
        $("#dueDate").val('@dateTime.ToString("d")');




        $('#dueDate').click(function () {

            $('#errorDueDate').text('');
            $(this).removeClass('input-validation-error');

        });
        $('#dueDate').blur(function () {

            if ($(this).val() == "") {
                

                $(this).attr('placeholder', 'MM/DD/YYYY');
                return;
            }
            var valid = isValidDate($(this).val());
            if (valid) {
                var selectedDate = new Date($(this).val());
                var minDate = new Date("@ViewBag.loanDetails.startDate.Date");
                var maxDate = new Date("@ViewBag.loanDetails.maturityDate.Date");
                if (selectedDate < minDate) {
                    // out off range error
                    $('#errorDueDate').text('Out of Range');
                    $(this).addClass('input-validation-error');
                    $('.centered span').text('Error');
                } else {
                    // delete error mssage
                    $('#errorDueDate').text('');
                    $(this).removeClass('input-validation-error');
                }
                

                
            } else {
                
                // not valid data error
                $('#errorDueDate').text('Please enter a valid payment date');
                $(this).addClass('input-validation-error');
                $('.centered span').text('Error');
            }
        });
        </script>


