@model IEnumerable<BankLoanSystem.Models.CurtailmentShedule> 
@{
    Layout = null;
    WebGrid grid1 = new WebGrid(Model, defaultSort: "CreatedDate", selectionFieldName: "selectedRow" , canPage:false);// grid with sorting and paging
}



<style>
    #searchGrid table tbody,
    #searchGrid table thead {
        display: block;
    }



    #searchGrid table tbody {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>



@if (Model.Count() != 0)
{
     <div id="searchGrid" class="info-bar" style="margin-top:15px;padding:unset;" @*style="margin-top:15px;overflow-x: hidden;overflow-y: scroll;height: 200px;"*@>
         @grid1.GetHtml(
            tableStyle: "gridtable",
                     headerStyle: "webgrid-header",

                     alternatingRowStyle: "webgrid-alternating-row",
                     selectedRowStyle: "select",
                     rowStyle: "webgrid-row-style",
                     htmlAttributes: new { id = "searchResultGrid" },
                     columns: grid1.Columns(
                      grid1.Column("AdvanceDate", "Date Advanced", format:@<text>@{<label id="dateAdvance" class="dateAdvance">@item.AdvanceDate</label>}</text>),
                     grid1.Column("VIN/HIN/serial #", "VIN/HIN/serial #", canSort: false, format:@<text>@{<label id="vin" class="vin">@item.IDNumber</label><input type="hidden" value="@item.UnitId" name="ids" class="checkboxAll" id="all" />}</text>),
                     grid1.Column("Year", "Year", canSort: false, format:@<text>@{<label id="year" class="year">@item.Year</label>}</text>),
                     grid1.Column("Make", "Make", canSort: false, format:@<text>@{<label id="make" class="make">@item.Make</label>}</text>),
                     grid1.Column("Model", "Model", canSort: false, format:@<text>@{<label id="model" class="model">@item.Model</label>}</text>),
                          grid1.Column("CurtNumber", "Curt-Number", format:@<text>@{<label id="model" class="model">@item.CurtNumber</label>}</text>),
                                   grid1.Column(
                                        "DueDate",
                                        "Due Date",
                                        format: (item) => string.Format("{0:MM/dd/yyyy}", item.DueDate)
                                   ),
                                   grid1.Column("CurtAmount", "Curt-Amount ($)", canSort: false, style: "gridColumn", format:@<text>@{<label id="am" class="advanceAmount">@Convert.ToDecimal(item.CurtAmount).ToString("#,##0.00")</label><input type="hidden" id="curtailmentStatus" name="curtailmentStatus" value="@item.Status" />}</text>)
                 )
        )


     </div>

   

}
else {
    <div class="info-bar" id="noDataLabelDiv" style="padding-bottom: 15px;margin-top:10px; font:medium;color:red;text-align:center">
        @Html.Label("No search data found", htmlAttributes: new { @class = "control-label col-sm-3", @style = "float:unset" })
    </div>

}



<script>

        $(function () {
            

            $('#searchResultGrid').children('tbody').children('tr').click(function () {
            var tr = $(this);
            ClearMainGrid();
            $(this).css('background', 'lightblue');
            $(this).siblings().css('background', 'aliceblue');
        SetTextBoxValues(tr);

        });

       
});
</script>