@model BankLoanSystem.Models.LoanPaymentDetails

<div class="side-panel">


    <h5><strong>Loan Details</strong></h5>


    <table class="loandetails" style="text-align: right;
    color: #07BB9B;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;font-size: 100%;">

        <tr>
            <td style="text-align: left;">Amount</td>
            <td style="width: 60px;padding-right:25px;text-align: right;">-</td>
            <td>$&nbsp;</td>
            <td>@Convert.ToDecimal(Model.Amount).ToString("#,##0.00")</td>
        </tr>
        <tr>
            <td style="text-align: left;">Used</td>
            <td style="width: 60px;padding-right:25px;text-align: right;">-</td>
            <td>$&nbsp;</td>
            <td>@Convert.ToDecimal(Model.UsedAmount).ToString("#,##0.00")</td>
        </tr>

        <tr>
            <td style="text-align: left;">Balance</td>
            <td style="width: 60px;padding-right:25px;text-align: right;">-</td>
            @{
                Model.BalanceAmount = Model.Amount - Model.UsedAmount;
            }
            <td>$&nbsp;</td>
            <td id="blc" style="text-align:right">@Convert.ToDecimal(Model.BalanceAmount).ToString("#,##0.00")</td>
        </tr>

        <tr>
            <td style="text-align: left;">Pending</td>
            <td style="width: 60px;padding-right:25px;text-align: right;">-</td>
            <td>$&nbsp;</td>
            <td>@Convert.ToDecimal(Model.PendingAmount).ToString("#,##0.00")</td>
        </tr>
 

            <tr colspan="1" style="width:100%;">
                <td style="text-align: left;width: 39%;">Balance After Pending</td>

                <td style="width: 60px;padding-right:25px;text-align: right;">-</td>
                <td>$&nbsp;</td>
                <td>@Convert.ToDecimal(Model.BalanceAfterPending = Model.BalanceAmount - Model.PendingAmount).ToString("#,##0.00")</td>
            </tr>

           



        </table>
        
        </div>
