@model BankLoanSystem.Models.UserLogin
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_login.cshtml";
}



@{
    // checking browser combatability

    HttpBrowserCapabilitiesBase objBrwInfo = Request.Browser;

    // pass the type and version.
    string BrowserType = objBrwInfo.Type;
    int MajorVersion = objBrwInfo.MajorVersion;

    if ((BrowserType.ToUpper().Contains("FIREFOX") && MajorVersion < 24) || (BrowserType.ToUpper().Contains("CHROME") && MajorVersion < 5) || (BrowserType.ToUpper().Contains("INTERNETEXPLORER") && MajorVersion < 10))
    {
        // remove
        <script>
            window.location.href = "/Browser/Support";

        </script>
    }
    else if (BrowserType.ToUpper().Contains("INTERNETEXPLORER") && MajorVersion > 10)
    {
        <script>
            var version = navigator.userAgent;
            if (version.toUpperCase().indexOf("RV:")> -1 || version.toUpperCase().indexOf("MSIE 10.0") > -1) {
                // allow
                
               
            } else {
                // remove all
                //alert("don't allow");
                //$('html').text('');
                window.location.href = "/Browser/Support";
            }

        </script>

    }
    else if(!((BrowserType.ToUpper().Contains("FIREFOX")) || (BrowserType.ToUpper().Contains("CHROME")) || (BrowserType.ToUpper().Contains("INTERNETEXPLORER"))))
    {
        <script>
            window.location.href = "/Browser/Support";

        </script>
    }
}
<script>
    // function to show our popups
    function showPopup(whichpopup) {
        var docHeight = $(document).height(); //grab the height of the page
        var scrollTop = $(window).scrollTop(); //grab the px value from the top of the page to where you're scrolling
        $('.overlay-bg').show().css({ 'height': docHeight }); //display your popup background and set height to the page height
        $('.popup' + whichpopup).show().css({ 'top': scrollTop + 14 + '%' }); //show the appropriate popup and set the content 20px from the window top
    }


</script>


@{ 
    if (Session["companyStep"] != null && int.Parse(Session["companyStep"].ToString()) > 0)
    {
    <div class="overlay-bg">
    </div>
        <div class="overlay-content popup1" style="margin-left: 248px;">
            <h3>Company Setup is on Progress</h3>

            <span class="text-warning">Do you wish to continue the Company Setup?</span><br />
            <span> Press YES to Complete the Setupprocess, or NO to go to Dashboard.</span><br />
            <br />
            @Html.ActionLink("YES", "Index", "SetupProcess", null, new { @class = "btn btn-info", style = "width: 70px;margin-right: 20px;" })
            @Html.ActionLink("NO", "UserDetails", "UserManagement", null, new { @class = "btn btn-info", style = "width: 70px;" })
        </div>
        <script>

    showPopup(1);


        </script>

    }
    else if (Session["loanStep"] != null )
    {
    <div class="overlay-bg">
    </div>
    <div class="overlay-content popup1" style="margin-left: 248px;">
        <h3>Loan Setup is in Progress</h3>

        <span class="text-warning">Do you wish to continue the current loan setup?</span><br />
        <span> Select Yes to complete the current loan setup process or select No to go to your dashboard.</span><br />
        <br />
        @Html.ActionLink("YES", "Index", "SetupProcess", null, new { @class = "btn btn-info", style = "width: 70px;margin-right: 20px;" })
        @Html.ActionLink("NO", "UserDetails", "UserManagement", null, new { @class = "btn btn-info", style = "width: 70px;" })
    </div>
        <script>

    showPopup(1);


        </script>

        }
    }


<div class="container loginwrapper">
    <div class="loginBanner">
        <h1>Floor Plan Financing</h1>
    </div>
    <div class="login-container">
        <div class="loginInner">
            <div class="loginHeader">
                <h1 class="logo-name">Management Software</h1>
            </div>
            <h5 class="form-signin-heading"> &nbsp;<!--Please sign in--></h5>
            @using (Html.BeginForm("UserLogin", "Login", FormMethod.Post, new { @class = "form-signin" }))
            {
                @Html.AntiForgeryToken()
                <div class="text-danger"> <span></span> </div>
                <div class="form-group login-form-group">
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", id = "userName" } })
                    <div class="loginerror"><p>@Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })</p></div>
                </div>


                <div class="form-group login-form-group">
                    @Html.EditorFor(model => model.password, new {htmlAttributes = new {@class = "form-control", placeholder = "Password", id = "password"} })
                    <div class="loginerror">
                        <p>@Html.ValidationMessageFor(model => model.password, "", new {@class = "text-danger"})</p>
                    </div>
                </div>

                    <div class="errorMsg"><p id="error" style="height: 31px;">@Html.DisplayFor(item => item.lbl)</p></div>
                    <div class="login-button">
                        <button class="btn btn-md btn-success btn-block" id="sub" type="submit">Sign in</button>
                    </div>
                        <small> <a href="~/ForgotPassword/Index">Forgot Password?</a></small>

            }
        </div>
    </div>
    <!-- / login container -->
</div>
<script>

jQuery(function() {
   jQuery.support.placeholder = false;
   test = document.createElement('input');
   if('placeholder' in test) jQuery.support.placeholder = true;
});

$(function() {
    if (!$.support.placeholder) {
        $('input').focusin(function () {
         if ($(this).attr('placeholder') != '' && $(this).val() == $(this).attr('placeholder')) {
            $(this).val('');
         }
      }).blur(function () {
         if ($(this).attr('placeholder') != '' && ($(this).val() == '' || $(this).val() == $(this).attr('placeholder'))) {
             $(this).val($(this).attr('placeholder'));
         }
      });
       $('input').blur();
    }
});

$('#sub').click(function () {
    if (!$.support.placeholder) {
        if ($('#userName').attr('placeholder') != '' && $('#userName').val() == $('#userName').attr('placeholder')) {
            $('#userName').val('');
        }
        else if ($('#password').attr('placeholder') != '' && $('#password').val() == $('#password').attr('placeholder')) {
            $('#password').val('');
        }
    }
    
});
</script>
<script>

    $('#userName').focusout(function () {
        $(this).attr('placeholder', 'User Name');
    });

    $('#userName').keypress(function (e) {
        //var array = [' ', '/', '`', '~', '!'];
        var array = ['~', '`', '!', '#', '$', '%', '&', '*', '(', ')', '+', '-', '/', '=', '?', '^', '{', '|', '}', '[', ']', ':', ';', '"', '<', '>', '','@@',' ',"'",'.'];
        var res = InvalidCharacters(this, array, e.which);

        if (res === 1) {
            e.preventDefault();
            return;
        }

        if (e.which === 92) {
            //$(this).siblings('div').children('span').text("Invalid character.");
            e.preventDefault();
            return;
        }
    });
    $('#password').focusout(function () {
        $(this).attr('placeholder', 'Password');
    });

        // function to close our popups
        function closePopup() {
            $('.overlay-bg, .overlay-content').hide(); //hide the overlay
        }

        // show popup when you click on the link
        $('.show-popup').click(function (event) {
            //event.preventDefault(); // disable normal link function so that it doesn't refresh the page
            var selectedPopup = $(this).data('showpopup'); //get the corresponding popup to show

            showPopup(selectedPopup); //we'll pass in the popup number to our showPopup() function to show which popup we want
        });

        $('.close-btn').click(function () {
            closePopup();
        });



        $('input, button').click(function () {
            $('#error').text("");

        });

</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js?version=@((new Random()).Next(1,10000))."></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?version=@((new Random()).Next(1,10000))."></script>

