@model BankLoanSystem.Models.UnitPayOffViewModel

@{
    Layout = null;
    ViewBag.Title = "Pay Off";
    WebGrid grid = new WebGrid(Model.UnitPayOffList, defaultSort: "DateEntered", canPage: false, ajaxUpdateContainerId: "payOffGridDIv", ajaxUpdateCallback: "GridUpdate");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Off</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="~/Content/pikaday.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/triangle.css" rel="stylesheet" />
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/pikaday.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/commonActions.css" rel="stylesheet" />
    <style>
        #payOffGridDIv table tbody,
        #payOffGridDIv table thead {
            display: block;
        }



        #payOffGridDIv table tbody {
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("PayOff", null, new AjaxOptions()
    {
        OnFailure = "handleError",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "changeContainer",
        LoadingElementId = "loadingDiv"
    }, new { id = "form" }))
    {
        <div class="container" id="container">
            <script src="~/scripts/jquery-1.10.2.min.js"></script>
            @{
                Html.RenderAction("LoanInfo", "Unit", new { title = @ViewBag.Title, msg = @ViewBag.Msg });
            }
            <div class="details-container">


                <div class="body-content" style="float:right;margin-bottom:15px;width:100%;height:auto">


                    <div class="info-bar" id="payOffGridDIv" style="margin-top:15px;padding:unset">

                        <!-- This is for Grid-->

                        @if (Model.UnitPayOffList != null)
                        {
                            @grid.GetHtml(
                                     tableStyle: "gridtable",
                                    headerStyle: "webgrid-header",

                                    alternatingRowStyle: "webgrid-alternating-row",
                                    rowStyle: "webgrid-row-style",
                                    htmlAttributes: new { id = "checkableGrid" },
                                    columns: grid.Columns(
                                    grid.Column(
                                     format:@<text><input type="checkbox" value="@item.UnitId" name="ids" class="checkboxAll" id="all" /></text>
                                         , header: "{checkall}"

                                 ),
                                     grid.Column("DateEntered", "DateEntered", canSort: false, format: (item) => string.Format("{0:MM/dd/yyyy}", item.DateEntered)),
                                        grid.Column("VIN / HIN / Serial #", "VIN / HIN / Serial #", canSort: false, format:@<text>@{<label id="vin" class="vin">@item.IdentificationNumber</label>}</text>),
                                        grid.Column("Year", "Year", canSort: false, format:@<text>@{<label id="year" class="vin">@item.Year</label>}</text>),
                                        grid.Column("Make", "Make", canSort: false, format:@<text>@{<label id="make" class="vin">@item.Make</label>}</text>),
                                        grid.Column("Model", "Model", canSort: false, format:@<text>@{<label id="model" class="vin">@item.Model</label>}</text>),
                                        grid.Column("PurchesePrice", "PurchesePrice", format:@<text>@{<label id="cost" class="year">@item.PurchesePrice</label>}</text>),
                                        grid.Column("Balance", "Balance", canSort: false, format:@<text>@{<label id="balance" class="vin">@item.Balance</label>}</text>)
                                     )
                                     )
                        }
                        <div id="subtotal" style="padding-left: 845px;"> Current Total to pay : $ <span id="spnTotal">0</span> </div>
                    </div>

                    <div class="info-bar" style="margin-top:15px">

                        <div class="form-group row">

                            @if (ViewBag.ComType == 1)
                            {
                                <label style="width:28%" for="" class="col-sm-4 form-control-label">Are the titles being returned to Dealer at this time?</label>
                            }
                            else
                            {
                                <label style="width:28%" for="" class="col-sm-4 form-control-label">Are the titles being recieved from lender at this time?</label>
                            }   
                            
                            <div class="col-md-2">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.TitleReturn, "Yes", new { @id = "rdTitleYes1", @class = "titleReturn" }) Yes
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.TitleReturn, "No", new { @id = "rdTitleNo1", @class = "titleReturn" }) No
                                </label>
                            </div>
                            <div id="customErrorTitleReturn1"><span class="text-danger"></span></div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group">
                                <label for="">Pay Date : </label>

                                @*<input class="form-control" type="date" style="margin-left: 15px"/>*@
                                @Html.EditorFor(model => model.PayDate, new { htmlAttributes = new { @class = "form-control", @id = "payDate", autocomplete = "off", @disabled = "disabled" } })

                            </div>

                            <button type="button" class="btn btn-primary" style="margin-left:15px" id="btnPayAll" disabled="disabled">Pay off all selected units</button>
                        </div>



                    </div>


                    <div class="info-bar search-panel" style="margin-top:15px;">

                        <div class="form-inline" style="margin-left:25px;">
                            <div class="form-group" style="margin-left: -203px;">
                                <label for="id">VIN/HIN/Serial</label>

                                @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control", @id = "identificationNumberSearch", @placeholder = "VIN/HIN/Serial", @maxlength = "20" } })
                                @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })


                            </div>

                            <div class="form-group" style="margin-left:20px;">
                                <label for="">Year</label>

                                @{
                                    List<SelectListItem> yearList = new List<SelectListItem>();
                                    if (ViewBag.payOffList != null)
                                    {
                                        foreach (var type in ViewBag.payOffList)
                                        {
                                            if (!yearList.Exists(a => a.Value == type.Year.ToString()) && type.Year.ToString() != "")
                                            {
                                                yearList.Add(new SelectListItem { Text = type.Year.ToString(), Value = type.Year.ToString() });
                                            }
                                        }
                                    }
                                }
                                @Html.DropDownList("year", yearList, "-- select year --", new { @class = "form-control", @id = "cmbYear" })
                                @Html.ValidationMessageFor(model => model.vehicle.Year, "", new { @class = "text-danger" })
                                <div id="vehicleyear"><span class="text-danger"></span></div>

                            </div>

                            <div class="form-group" style="margin-left:20px;">
                                <label for="">Make</label>

                                @{
                                    List<SelectListItem> makeList = new List<SelectListItem>();
                                    if (ViewBag.payOffList != null)
                                    {
                                        foreach (var type in ViewBag.payOffList)
                                        {
                                            if (!makeList.Exists(a => a.Value == type.Make.ToString()) && type.Make.ToString() != "")
                                            {
                                                makeList.Add(new SelectListItem { Text = type.Make.ToString(), Value = type.Make.ToString() });
                                            }
                                        }
                                    }

                                }
                            </div>
                            @Html.DropDownList("make", makeList, "-- select make --", new { @class = "form-control", @id = "cmbMake" })
                            @Html.ValidationMessageFor(model => model.vehicle.Make, "", new { @class = "text-danger col-md-2" })
                            <div id="vehiclemake"><span class="text-danger"></span></div>



                            <div class="form-group" style="margin-left: 685px;margin-top: -46px;">
                                <label for="">Model</label>

                                @{
                                    List<SelectListItem> modelList = new List<SelectListItem>();

                                    if (ViewBag.payOffList != null)
                                    {
                                        foreach (var type in ViewBag.payOffList)
                                        {
                                            if (!modelList.Exists(a => a.Value == type.Model.ToString()) && type.Model.ToString() != "")
                                            {
                                                modelList.Add(new SelectListItem { Text = type.Model.ToString(), Value = type.Model.ToString() });
                                            }
                                        }
                                    }
                                }
                                @Html.DropDownList("model", modelList, "-- select model --", new { @class = "form-control", @id = "cmbModel" })
                                @Html.ValidationMessageFor(model => model.vehicle.Model, "", new { @class = "text-danger" })
                                <div id="vehiclemodel"><span class="text-danger"></span></div>

                            </div>


                            <input type="button" name="search" value="Search" id="btnSearch" class="btn btn-info btn-center" style="margin-left: 20px;margin-top: -43px;" />
                            <input type="button" value="Clear" id="btnClear" tabindex="-1" class="btn btn-default cancel btn-right" style="margin-top: -43px;" />
                        </div>
                    </div>


                    <div class="info-bar" style="margin-top:15px">
                        <!-- This is for Search Grid-->
                        <div class="info-unit" id="searchGrid1" style="margin-top:10px;padding:unset">


                        </div>

                    </div>

                    <div class="info-bar" style="margin-top:15px" id="singleUnitDiv" hidden>

                        <div class="row">
                            <div class="col-xs-12">
                                <form>
                                    <fieldset>
                                        <div class="form-group row">
                                            <input type="hidden" value="" id="iUnitId" />
                                            <div class="col-md-2">
                                                <label for="">Vin/HIN/Serial </label>
                                                @Html.Editor("iVin", new { @id = "iVin", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="firstName">Year </label>
                                                @Html.Editor("iYear", new { @id = "iYear", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>

                                            <div class="col-md-2">
                                                <label for="">Make </label>
                                                @Html.Editor("iMake", new { @id = "iMake", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>

                                            <div class="col-md-2">
                                                <label for="">Model </label>
                                                @Html.Editor("iModel", new { @id = "iModel", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>

                                            <div class="col-md-2">
                                                <label for="">Purchase Price </label>
                                                @Html.Editor("iCost", new { @id = "iCost", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label for="">Pay Off Amount </label>
                                                @Html.Editor("iBalance", new { @id = "iBalance", htmlAttributes = new { @class = "form-control", @disabled = "disabled", style = "text-align:right;" } })
                                            </div>
                                            <div class="col-md-2">
                                                <label for="">Pay Off Date </label>
                                                @Html.EditorFor(model => model.PayDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/DD/YYYY", @id = "payDate2", autocomplete = "off", @disabled = "disabled" } })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label style="width:28%" for="" class="col-sm-4 form-control-label">Is the title being returned to Dealer at this time?</label>


                                            <div class="col-md-2">
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(m => m.TitleReturn, "Yes", new { @id = "rdTitleYes2", @class = "titleReturn2" }) Yes
                                                </label>
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(m => m.TitleReturn, "No", new { @id = "rdTitleNo2", @class = "titleReturn2" }) No
                                                </label>
                                            </div>
                                            <div id="customErrorTitleReturn2"><span class="text-danger"></span></div>
                                        </div>
                                        <button style="width:100px" type="button" id="btnPay" class="btn btn-info" disabled="disabled">Pay</button>
                                        <button type="button" class="btn btn-default" id="btnCancel" style="float:right;">Cancel</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>



                    </div>


                </div>

            </div>


            <div class="link-bar" style="margin-bottom:15px;">
                @{
                    Html.RenderAction("GetLinkBar", "Unit");
                }
            </div>

        </div>

                    }


    <script>

        var totalToPay = 0;
        var checkCount = 0;
        var totalRecCount = 0;

        function GridUpdate() {
            var ctrl =
                $('<input />', {
                    type: 'checkbox',
                    id: "cbSelectAll"
                });


            var gg = $('<div />').attr({ id: 'someID' }).html('<span> Select </span>');
            $('.gridtable thead tr th:first').html(gg.prepend(ctrl));
        }

        $(function () {
            GridUpdate();
        });


        $(document).ready(function () {
            $("#content tbody tr").each(function (i, row) {
                var $actualRow = $(row);
                if ($actualRow.find('input[type=checkbox]').prop('checked') == true) {
                    $actualRow.css('background-color', '#EAF2D3');
                }
                else {
                    $actualRow.css('background-color', '#FF9E9E');
                }
            });
        });

        $("#btnClear").click(function () {

            ClearSearchRelatedData();
        });

        function ClearSearchRelatedData() {
            //document.getElementById("form").reset();
            $("#identificationNumberSearch").val('');
            $('#cmbYear').val('');
            $("#cmbMake").val('');
            $("#cmbModel").val('');
            $("#noDataLabelDiv").hide();
            $("#searchGrid1").hide();

        }

        var payDate = new Pikaday({
            field: document.getElementById('payDate'),
            format: 'l'
        });

        payDate.setMinDate(new Date("@ViewBag.loanDetails.startDate.Date"));
        payDate.setMaxDate(new Date("@ViewBag.loanDetails.maturityDate.Date"));

        var payDate2 = new Pikaday({
            field: document.getElementById('payDate2'),
            format: 'l'
        });

        payDate2.setMinDate(new Date("@ViewBag.loanDetails.startDate.Date"));
        payDate2.setMaxDate(new Date("@ViewBag.loanDetails.maturityDate.Date"));

        var totalSelect = $('table#checkableGrid > tbody > tr').length;
        var countSelect = 0;

        $(document).on('click', '#cbSelectAll', function () {
            //alert('hi');
            //var text = $(this).siblings('span').text();
            //alert(text);
            //alert($(this).is(':checked'));

            ClearTextBoxValues();

            var isChecked = $(this).is(':checked');

            var status;

            if (isChecked === false) {
                $(this).siblings('span').text('Select');
                status = false;
                countSelect = 0;
                totalToPay = 0;

                $("#btnPayAll").attr("disabled", "disabled");
                $("#payDate").attr("disabled", "disabled");
            } else {
                $(this).siblings('span').text('Deselect');
                status = true;
                countSelect = totalSelect;

                $("#btnPayAll").removeAttr("disabled");
                $("#payDate").removeAttr("disabled");
            }            

            $('table#checkableGrid > tbody > tr').each(function () {
                var balance = $(this).find("#balance").text().replace(',', '');
                //alert(balance);
                $(this).find("#all").prop('checked', status);
                if (status === true) {
                    totalToPay = parseFloat(totalToPay) + parseFloat(balance);
                    totalToPay = totalToPay.toFixed(2);
                }
            });

            $('#spnTotal').text(totalToPay);

            //alert(countSelect);

        });

        $(document).on('click', '.checkboxAll', function () {
            
            //alert($(this).val());
            var isChecked = $(this).is(':checked');
            var balance = $(this).parent().parent().find("#balance").text().replace(',', '');
            //alert(balance);
            if (isChecked === false) {
                countSelect--;
                totalToPay = parseFloat(totalToPay) - parseFloat(balance);
                totalToPay = totalToPay.toFixed(2);
            }
            else {
                countSelect++;
                totalToPay = parseFloat(totalToPay) + parseFloat(balance);
                totalToPay = totalToPay.toFixed(2);
            }
            //alert(countSelect);
            if (countSelect === 0) {
                $('#someID').children('span').text('Select');
                $('#someID').find("#cbSelectAll").prop('checked', false);                
            } else if (totalSelect === countSelect) {
                $('#someID').children('span').text('Deselect');
                $('#someID').find("#cbSelectAll").prop('checked', true);
            }

            if (countSelect === 0) {
                ClearTextBoxValues();
                $("#btnPayAll").attr("disabled", "disabled");
                $("#payDate").attr("disabled", "disabled");
                //$("#btnPayAll").removeAttr("disabled");
                //$("#payDate").removeAttr("disabled");
            }
            else if (countSelect === 1) {
                //alert(countSelect);
                var tr = $(this).parents('tr:first');
                SetTextBoxValues(tr);
                $("#btnPayAll").removeAttr("disabled");
                $("#payDate").removeAttr("disabled");

            } else if (countSelect > 1 && countSelect != totalSelect) {
                ClearTextBoxValues();

                $("#btnPayAll").removeAttr("disabled");
                $("#payDate").removeAttr("disabled");

                $('#someID').children('span').text('Select');
                $('#someID').find("#cbSelectAll").prop('checked', false);
            } else {
                ClearTextBoxValues();
                $("#btnPayAll").removeAttr("disabled");
                $("#payDate").removeAttr("disabled");
            }
            //if()

            $('#spnTotal').text(totalToPay);

            //alert(countSelect);
        });

        function SetTextBoxValues(tr) {
            $('#iVin').val(tr.find("#vin").text());
            $('#iYear').val(tr.find("#year").text());
            $('#iMake').val(tr.find("#make").text());
            $('#iModel').val(tr.find("#model").text());
            $('#iCost').val(tr.find("#cost").text());
            $('#iBalance').val(tr.find("#balance").text().replace(',', ''));
            $('#iUnitId').val(tr.find("#all").val());
            $("#payDate2").removeAttr("disabled");
            $("#singleUnitDiv").show();
            $("#btnPay").removeAttr("disabled");
            //$("#btnPayAll").attr("disabled", "disabled");
            //$("#payDate").attr("disabled", "disabled");
        }

        function ClearTextBoxValues() {
            $('#iVin').val('');
            $('#iYear').val('');
            $('#iMake').val('');
            $('#iModel').val('');
            $('#iCost').val('');
            $('#iBalance').val('');
            $('#iUnitId').val('');
            $("#payDate2").attr("disabled", "disabled");
            $("#singleUnitDiv").hide();            
        }

        var errorTitleReturn1 = false;
        $("#btnPayAll").click(function () {
            var titleStatus = $('.titleReturn').filter(':checked').val();
            //alert(titleStatus);

            if (titleStatus === "Yes" || titleStatus === "No") {
                $('#customErrorTitleReturn1').children('span').text("");
                errorTitleReturn1 = false;
            } else {
                $('#customErrorTitleReturn1').children('span').text("Please select");
                errorTitleReturn1 = true;
            }

            if (errorTitleReturn1 === false) {
                var payDate = document.getElementById('payDate2').value;
                var data = { payOffModelList: [], payDate: payDate, titleReturn: titleStatus }
                $('table#checkableGrid > tbody > tr').each(function () {

                    var isChecked = $(this).find("#all").is(':checked');
                    if (isChecked === true) {
                        var unitId = $(this).find("#all").val();
                        var balance = $(this).find("#balance").text().replace(',', '');
                        var payOffModel = {
                            UnitId: unitId,
                            Balance: balance
                        };
                        data.payOffModelList.push(payOffModel);
                    }
                });




                //alert(data.unitIdList[0]);
                $.ajax({
                    url: '/UnitPayOff/UnitListPay/',
                    data: JSON.stringify(data),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (partialView) {
                        //alert("Success");
                        $('#container').html(partialView);
                        $('#container').show();
                    }
                });
            }
        });

        var errorTitleReturn2 = false;
        $("#btnPay").click(function () {

            var titleStatus = $('.titleReturn2').filter(':checked').val();
            //alert(titleStatus);

            if (titleStatus === "Yes" || titleStatus === "No") {
                $('#customErrorTitleReturn2').children('span').text("");
                errorTitleReturn2 = false;
            } else {
                $('#customErrorTitleReturn2').children('span').text("Please select");
                errorTitleReturn2 = true;
            }

            if (errorTitleReturn2 === false) {
                var hiddenId = document.getElementById('iUnitId').value;
                var balance = document.getElementById('iBalance').value;
                var payDate = document.getElementById('payDate2').value;
                var data = { payOffModelList: [], payDate: payDate, titleReturn: titleStatus }
                if (hiddenId !== '') {
                    var payOffModel = {
                        UnitId: hiddenId,
                        Balance: balance
                    };
                    data.payOffModelList.push(payOffModel);


                }

                //alert(data.unitIdList[0]);
                $.ajax({
                    url: '/UnitPayOff/UnitListPay/',
                    data: JSON.stringify(data),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (partialView) {
                        //alert("Success");
                        $('#container').html(partialView);
                        $('#container').show();
                    }
                });
            }



        });


        $('.titleReturn').change(function () {
            $('#customErrorTitleReturn1').children('span').text("");
            errorTitleReturn1 = false;
        });

        $('.titleReturn2').change(function () {
            $('#customErrorTitleReturn2').children('span').text("");
            errorTitleReturn2 = false;
        });

        $("#btnSearch").click(function () {
            ClearTextBoxValues();
            $("#btnPayAll").attr("disabled", "disabled");
            $("#payDate").attr("disabled", "disabled");

            countSelect = 0;
            totalToPay = 0;

            $('#spnTotal').text(totalToPay);

            var count = 0;
            $("#checkableGrid").find("input:checkbox").each(function () {
                this.checked = false;
                if (count > 0) {
                    $(this).parents('tr').css('background', 'transparent');
                }
                count++;
            });
            document.getElementById('all').checked = false;
            //document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + total;

            $("#someID span").html('Select');
            $("#tagscloud span").html('');
            //$('#iAdvance').removeClass('input-validation-error');
            var para1 = $("#identificationNumberSearch").val();
            var para2 = $('#cmbYear').val();
            var para3 = $("#cmbMake").val();
            var para4 = $("#cmbModel").val();
            if (para1 == null) {
                para1 = '';
            }
            if (($("#identificationNumberSearch").val() != '') || ($('#cmbYear').val() != '') || ($('#cmbMake').val() != '') || ($("#cmbModel").val() != '')) {
                Search(para1, para2, para3, para4);
            }


        });
        function Search(para1, para2, para3, para4) {

            $.ajax({
                url: '/UnitPayOff/SearchUnit',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ identificationNumber: para1, year: para2, make: para3, vehicleModel: para4 }),
                success: function (View) {
                    $('#searchGrid1').html(View);
                    $('#searchGrid1').show();

                },
                error: function (reponse) {
                    $('#loadingSpan').hide();
                    alert("error : " + reponse);
                }
            });
        }
        function SetRadioBtnHeaderChecked() {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                var chkText = $('<div />').attr({ id: 'someID' }).html('<span> Deselect </span>');
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
                $("#someID span").html('Deselect');
            }
            else {

                $("#cbSelectAll").removeAttr("checked");
            }

        }

        function ChangeCheckBoxText(value) {
            var chkText = $('<div />').attr({ id: 'someID' }).html(value);
            $('.gridtable thead tr th:first').html(chkText.prepend(ctrl));
        }


        $("#lkpoff").before($(".link")).addClass('active').attr("disabled", "disabled").css('cursor', 'default').css('opacity', 'initial').siblings().removeClass('active').removeAttr('disabled');
        $("#lkpoff").click(function (e) { e.preventDefault(); });
        $("#lkpoff").siblings().click(function (e) {
            return true;

        });


        // Change the selector if needed
        var table = $('table'),
            bodyCells = table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler

        $(window).bind("load", function () {

            // Get the tbody columns width array
            colWidth = bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize();

        $(document).ready(function () {

            if ($('#checkableGrid').children('tbody').children('tr').length == 0) {
                $("#checkableGridDiv").hide();
                //$("#advanceAllDiv").hide();
                $("#searchDiv").hide();
                $("#searchGrid1").hide();
                //$("#unitDetailDiv").hide();
                $("#noDataLabelDiv").hide();
                $("#noUnitLabelDiv").show();
                $("#searchLabelDiv").hide();

            }
            else if (($('#checkableGrid').children('tbody').children('tr').length > 0) && ($('#searchResultGrid').children('tbody').children('tr').length > 0)) {
                $("#checkableGridDiv").show();
                //$("#advanceAllDiv").show();
                $("#searchDiv").show();
                $("#searchGrid1").show();
                //$("#unitDetailDiv").show();
                $("#noDataLabelDiv").hide();
                $("#noUnitLabelDiv").hide();
                $("#searchLabelDiv").show();
            }
            else if (($('#checkableGrid').children('tbody').children('tr').length > 0) && ($('#searchResultGrid').children('tbody').children('tr').length == 0)) {
                $("#checkableGridDiv").show();
                //$("#advanceAllDiv").show();
                $("#searchDiv").show();
                //$("#unitDetailDiv").show();
                $("#searchGrid1").hide();
                $("#noDataLabelDiv").show();
                $("#noUnitLabelDiv").hide();
                $("#searchLabelDiv").show();
            }

        });

        $("#btnCancel").click(function () {
            ClearTextBoxValues();

            $("#btnPayAll").attr("disabled", "disabled");
            $("#payDate").attr("disabled", "disabled");

            countSelect = 0;
            total = 0;
            checkCount = 0;
            //$("#btnAdvance").attr("disabled", "disabled");
            //$("#btnAdvanceAll").attr("disabled", "disabled");
            //$("#advanceDate").attr("disabled", "disabled");
            $("#payDate").attr("disabled", "disabled");
            //$("#iAdvance").attr("disabled", "disabled");

            var count = 0;
            $("#checkableGrid").find("input:checkbox").each(function () {
                this.checked = false;
                if (count > 0) {
                    $(this).parents('tr').css('background', 'transparent');
                }
                count++;
            });
            document.getElementById('all').checked = false;
            //document.getElementById("subtotal").innerHTML = "Current Total to Advance : $ " + total;

            $("#someID span").html('Select');
            $("#tagscloud span").html('');
            //$('#iAdvance').removeClass('input-validation-error');

            ClearSearchRelatedData();

        });
    </script>
</body>
</html>
