
@model BankLoanSystem.Models.UnitPayOffViewModel

@{
    WebGrid grid1 = new WebGrid(Model.SearchList, defaultSort: "CreatedDate", selectionFieldName: "selectedRow",canPage:false);// grid with sorting and paging
}
@if (Model.SearchList.Count() != 0)
{
    <div id="searchGrid" @*style="overflow-x: hidden;overflow-y: scroll;height: 200px;"*@>
        <span class="icon-help_outline help-search-grid" style="float:left;"></span>
        @grid1.GetHtml(
               tableStyle: "gridtable",
                     headerStyle: "webgrid-header",

                     alternatingRowStyle: "webgrid-alternating-row",
                     selectedRowStyle: "select",
                     rowStyle: "webgrid-row-style",
                     htmlAttributes: new { id = "searchResultGrid" },
                     columns: grid1.Columns(

                     grid1.Column("CreatedDate","Date Entered", canSort: false, style: "gridColumnOthers", format:(item) => string.Format("{0:MM/dd/yyyy}", item.DateEntered)),
                     grid1.Column("VIN/HIN/serial #", "VIN/HIN/serial #", canSort: false, style: "gridColumnVIN", format:@<text>@{<label id="vin" class="vin">@item.IdentificationNumber</label><input type="hidden" value="@item.UnitId" name="ids" class="checkboxAll" id="all" /><input type="hidden" id="advanceDate" name="advanceDate" value="@item.DateAdvanced" />}</text>),
                     grid1.Column("Year", "Year", canSort: false, style: "gridColumnSmall", format:@<text>@{<label id="year" class="year">@item.Year</label>}</text>),
                     grid1.Column("Make", "Make", canSort: false, style: "gridColumnOthers", format:@<text>@{<label id="make" class="make">@item.Make</label>}</text>),
                     grid1.Column("Model", "Model", canSort: false, style: "gridColumnOthers", format:@<text>@{<label id="model" class="model">@item.Model</label>}</text>),
                     grid1.Column("Purchese Price ($)", "Purchese Price ($)", style: "gridColumn", format:@<text>@{<label id="cost" class="year">@item.PurchasePrice</label>}</text>),
                     grid1.Column("Balance ($)", "Balance ($)", canSort: false, style: "gridColumn", format:@<text>@{<label id="balance" class="vin">@item.Balance</label><input type="hidden" id="isAdvancePaid" name="isAdvancePaid" value="@item.IsAdvancePaid.ToString()" />}</text>)))
    </div>

    <script>
    $(function () {

        $('#searchResultGrid').children('tbody').children('tr').click(function () {
            ClearTextBoxValues();
            $("#btnPayAll").attr("disabled", "disabled");
            $("#payDate").attr("disabled", "disabled");

            //remove error message
            if ("@ViewBag.IsTitleTrack" === "Yes") {
                $('#customErrorTitleReturn1').children('span').text("");
            }
            $('#customErrorPayDate').children('span').text("");
            $('.centered span').text('');

            $("#payDate").val('');

            $("#payDate").val('');
            if ("@ViewBag.IsTitleTrack" == "Yes") {
                document.getElementById('rdTitleYes1').checked = false;
                document.getElementById('rdTitleNo1').checked = false;
            }
            countSelect = 0;
            totalToPay = 0;
            advanceFeeSelect = 0;
            
            totalToPay = totalToPay.toFixed(2);
            $('#spnTotal').text(totalToPay);

            var count = 0;
            $("#checkableGrid").find("input:checkbox").each(function () {
                this.checked = false;
                if (count > 0) {
                    $(this).parents('tr').css('background', 'transparent');
                }
                count++;
            });

            $('#someID').children('span').text('Select');

            var tr = $(this);

            $(this).css('background', 'lightblue');
            $(this).siblings().css('background', 'aliceblue');
            SetTextBoxValues(tr);
            @if (ViewBag.AdvanceFee != 0)
            {
                <text>$('#spnAdvanceFee').text("0.00");</text>
            }

            @if (ViewBag.AdvanceFee != 0)
            {
                <text> $('#spnTotalFinal').text("0.00");</text>
            }
        });
    });


        $('.help-search-grid').click(function () {

            $('.help-text h4').html("Select a Unit");
            $('.help-text p').html(" &nbsp;&nbsp; You can select a single unit from this grid to record the pay off.");

        });
    </script>

}
else {
    <div id="noDataLabelDiv" style="padding-bottom: 15px;width:870px;float: unset;margin-top:10px; font:medium;color:red;text-align:center">
        @*@Html.Label("No units matching the search could be found.", htmlAttributes: new { @class = "control-label col-sm-3", @style = "float:unset" })*@
        <label>No units matching the search could be found.</label>
    </div>

}