@model BankLoanSystem.Models.DashBoard
@{
    ViewBag.Title = "SetupDashBoard";
}



<div class="nav-conatainer">
    <div class="nav-bars">

        <ul class="nav nav-pills nav-stacked">
            <li>
                <div class="profile-elements ">

                    <img alt="image" class="img-circle" src="~/Images/profile_small.jpg"><br>


                    <div class="dropdown no-text-decoration">

                        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                            <span class="block"><strong>@Model.userName</strong></span><br>

                        </a>
                        <a class="dropdown-toggle no-text-decoration" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">


                            <span>@Model.roleName</span>
                            <span class="caret"></span>
                        </a>


                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Sign out", "UserLogin", "Login", null, null)</li>
                        </ul>
                    </div>


                </div>
            </li>

            <li role="separator" class="divider"></li>
            <li class="main-tab 1"><a href="#demo" data-toggle="collapse"><span class="glyphicon glyphicon-th-large" style="margin-right: 2px;"></span> Company Setup<span class="caret arrow" style="margin-top: 5px;float:right"></span> </a></li>
            <div id="demo" class="collapse nav-bars">
                <ul class="nav nav-pills nav-stacked secondary">

                    <li>
                        @Ajax.ActionLink("Step 1", "Step1", "SetupProcess", new { edit = 1 }, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { data_toggle = "tooltip", title = "Create Company", @class = "tab 1" })





                        @*<a href="#">Setup 1</a>*@
                    </li>


                    <li>
                        @*<a href="#">Setup 2</a>*@

                        @Ajax.ActionLink("Step 2", "Step2", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { data_toggle = "tooltip", title = "Create Company Branches" , @class = "tab 2" })
                    </li>


                    <li>

                        @Ajax.ActionLink("Step 3", "Step3", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 3", data_toggle = "tooltip", title = "Create Users" })
                        @*<a href="#">Setup 3</a>*@
                    </li>



                    <li>
                        @Ajax.ActionLink("Step 4", "Step4", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 4", data_toggle = "tooltip", title = "Create Client Company" })
                        @*<a href="#">Setup 4</a>*@
                    </li>



                    <li>
                        @Ajax.ActionLink("Step 5", "Step5", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 5" , data_toggle = "tooltip", title = "Create Client Company Branches" })
                        @*<a href="#">Setup 5</a>*@
                    </li>

                </ul>

            </div>

            <li class="main-tab 2"><a href="#demo2" data-toggle="collapse"><span class="glyphicon glyphicon-dashboard" style="margin-right: 2px;"></span>  Loan Setup<span class="caret arrow" style="margin-top: 5px;float:right"></span></a></li>

            <div id="demo2" class="collapse nav-bars">
                <ul class="nav nav-pills nav-stacked secondary">

                    <li>@Ajax.ActionLink("Basic Loan Info", "Step6", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 6" })</li>
                    <li>@Ajax.ActionLink("Interest Info", "Step7", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 7" })</li>
                    <li>
                        @Ajax.ActionLink("Fees Info", "Step8", "SetupProcess", null, new AjaxOptions { OnSuccess = "partialLoad();", OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 8" })
                        @*<a href="#">Setup 5</a>*@
                    </li>
                    <li>@Ajax.ActionLink("Title/Docs Info", "Step9", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 9" })</li>
                    <li>@Ajax.ActionLink("Curtailments Info", "Step10", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 10" })</li>

                </ul>

            </div>


        </ul>
    </div>

</div>


<script>

    $('a').tooltip();

</script>

