@using BankLoanSystem.Models

@if (ViewBag.AjaxRequest == null)
{
    ViewBag.Title = "Step9";
    Layout = "~/Views/Shared/_SetupProcess.cshtml";
}
@model BankLoanSystem.Models.LoanSetupStep1
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/CommonFunctions.js"></script>

<style>
    
            .form-control{
        display:inline;
    }
    .form-group{
        margin:auto;
        margin-bottom: 10px;
    }

    .col-xs-11{

    width:60%;
}

    .col-xs-10 {
    float: unset;
}
    .col-xs-11>input{
    /*width:60%;*/
}

        .col-xs-9{
           
    
}
    .col-xs-9>input , .col-xs-9>select{
    width:28%;
}



    .button-panel {
    margin-top: 15px;
    width: 92.5%;
}
</style>



@using (Ajax.BeginForm("Step6", "SetupProcess", new AjaxOptions()
{
    
    OnFailure = "handleErrorMsg",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "changeContainer",
    LoadingElementId = "loadingDiv"
}, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Step 1 - Loan Setup</h2>
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       <div class="text-danger">@ViewBag.Error</div> 
        <div class="form-group">
            <div class="control-label col-sm-3">

               
                <label for="RegisteredBranchId">@ViewBag.ThisCompanyType Branch</label>

                @if (ViewBag.RegisteredBranchId.Items.Count != 1) {
                <span style="color:red">*</span>
                }
                
            </div>

            <div class="col-xs-4" style="float:left">

                @if (ViewBag.userroleName == "Admin")
                {
                    @Html.HiddenFor(model => model.RegisteredBranchId , new { @Value = (int)ViewBag.RegisteredBranchId.Items[0].BranchId })
                    @Html.LabelFor(model => model.RegisteredBranchId, (string)ViewBag.RegisteredBranchId.Items[0].BranchName, htmlAttributes: new { @class = "form-control", id = "RegisteredBranchId" , style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;" })
                    @*@Html.DropDownListFor(model => model.RegisteredBranchId, null, htmlAttributes: new { @class = "form-control", id = "RegisteredBranchId", @style = "disabled:disabled" })*@
                }
                else {

                    if (ViewBag.RegisteredBranchId.Items.Count == 1)
                    {
                        @Html.HiddenFor(model => model.RegisteredBranchId , new { @Value = (int)ViewBag.RegisteredBranchId.Items[0].BranchId })
                        @Html.LabelFor(model => model.RegisteredBranchId, (string)ViewBag.RegisteredBranchId.Items[0].BranchName, htmlAttributes: new { @class = "form-control", style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;" })
                        @*@Html.DropDownListFor( model => model.RegisteredBranchId, null, htmlAttributes: new { @class = "form-control", id = "RegisteredBranchId" })*@
                   }
                    else
                    {
                                        @Html.DropDownListFor(model => model.RegisteredBranchId, null, "--Select branch--", htmlAttributes: new { @class = "form-control", id = "RegisteredBranchId", @onchange = "javascript:GetNonRegisteredBranches(this.value);" })
                    }



                                    @Html.ValidationMessageFor(model => model.RegisteredBranchId, "", new { @class = "text-danger" , style = "top: 100%;left: 6%;" })

                }
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-3">


                @if (ViewBag.ThisCompanyType == "Lender")
                            {
                    <label for="RegisteredBranchId">Dealer Branch</label>
                }
                else {
                    <label for="RegisteredBranchId">Lender Branch</label>
                }
@if (ViewBag.nonRegisteredBranchId.Items.Count != 1)
                        {
    <span style="color:red">*</span>
} 

                
            </div>

            <span id="loadingSpan" style="display:none">

                <img src="~/Images/small_loading.gif" />
            </span>
            <div class="col-xs-4" style="float:left">

                @if (ViewBag.nonRegisteredBranchId.Items.Count == 1)
                        {
                            @Html.HiddenFor(model => model.nonRegisteredBranchId)
                @Html.LabelFor(model => model.nonRegisteredBranchId, (string)ViewBag.nonRegisteredBranchId.Items[0].CompanyNameBranchName, htmlAttributes: new { @class = "form-control" , style = "border:none;border-radius:none;-webkit-box-shadow:nonr;box-shadow:none;margin-top: 3px;display: block;" })
                @*@Html.DropDownListFor( model => model.RegisteredBranchId, null, htmlAttributes: new { @class = "form-control", id = "RegisteredBranchId" })*@
                } else {
                @Html.DropDownListFor(model => model.nonRegisteredBranchId, null, "--Select branch--", htmlAttributes: new { @class = "form-control", id = "NonRegisteredBranchId" })
                @Html.ValidationMessageFor(model => model.nonRegisteredBranchId, "", new { @class = "text-danger" , style= "top: 100%;left: 6%;"})

                }
            </div>
        </div>


        <div class="form-group">

            <div class="control-label col-sm-3">
                @Html.LabelFor(model => model.loanNumber, htmlAttributes: new { })<span style="color:red"> *</span>
            </div>

            <div class="col-xs-11" id="loanNumber" style="display:none; width: 67%;">
                @Html.EditorFor(model => model.loanNumber, new { htmlAttributes = new { @class = "form-control", @id = "loanNumber", maxlength = 30 } })
                @Html.ValidationMessageFor(model => model.loanNumber, "", new { @class = "text-danger" })
            </div>

            <div class="col-xs-6" id="loanNumberDisplay" style="width: 67%;">
                @Html.HiddenFor(model => model.loanNumber)
                @Html.EditorFor(model => model.loanNumberForDisplay, new { htmlAttributes = new { @class = "form-control", @id = "loanNumber", onclick = "$('#loanNumberDisplay').hide();$('#loanNumberForDisplayError').hide();$('#loanNumber').show();$('#loanNumber').children('input').focus();$('#loanNumber').children('input').val($('#loanNumber').children('input').val());" } })
                @Html.ValidationMessageFor(model => model.loanNumber, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.loanNumberForDisplay, "", new { @class = "text-danger", id = "loanNumberForDisplayError" })
            </div>
        </div>

        <div class="form-group">

            <div class="control-label col-sm-3">
                @Html.LabelFor(model => model.startDate, htmlAttributes: new { })<span style="color:red"> *</span>
            </div>


            <div class="col-xs-9"  >
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY", @id = "startDate" , autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" ,  style = "left:2%;bottom:-40%;" })

                @Html.LabelFor(model => model.maturityDate, htmlAttributes: new { style = "margin-left:14.5%" })<span style="color:red"> *</span>

                @Html.EditorFor(model => model.maturityDate, new { htmlAttributes = new { @class = "form-control", @id = "maturityDate", placeholder = "MM/DD/YYYY", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.maturityDate, "", new { @class = "text-danger" , style = "left:60%;bottom:-50%;" })
            </div>


        </div>


    <div class="form-group">
        <div class="control-label col-sm-3">
            @Html.LabelFor(model => model.payOffPeriod, htmlAttributes: new { })<span style="color:red"> *</span>
        </div>
      @{
          List<SelectListItem> listItems = new List<SelectListItem>();

                listItems.Add(new SelectListItem
          {
              Text = "--Select--",
              Value = "-1",
              Selected = true

          });
          listItems.Add(new SelectListItem
          {
              Text = "Months",
              Value = "1"
          });
          listItems.Add(new SelectListItem
          {
              Text = "Days",
              Value = "0"

          });

    }

    <div class="col-xs-11">



        @Html.DropDownListFor(model => model.payOffPeriodType, listItems, htmlAttributes: new {@id= "payOffPeriodType", @class = "form-control",onchange = "setPayOffPeriod()", style = "width:28%" })
        @Html.ValidationMessageFor(model => model.payOffPeriodType, "", new { @class = "text-danger", style = "left:2%;bottom:-40%;" })




            @Html.EditorFor(model => model.payOffPeriod, new { htmlAttributes = new { @class = "form-control" ,min =1, @id= "payOffPeriod" ,@onblur="checkTheRange(this.value)" , style = "width:28%" } })
            @Html.ValidationMessageFor(model => model.payOffPeriod, "", new { @class = "text-danger", style = "top: 50%;" })
            
        <span id="outOffRangeError" class="text-danger field-validation-error"></span>
        </div>




    </div>



    <div class="form-group">
        <div class="control-label col-sm-3">
            @Html.LabelFor(model => model.loanAmount, htmlAttributes: new { })<span style="color:red"> *</span>
        </div>

        <span style="float:left;margin-top: 10px;font-size: 26px;">$</span>
        <div class="col-xs-11" >
            @*<span styly>$</span>*@
            @Html.EditorFor(model => model.loanAmount, new { htmlAttributes = new { @class = "form-control", placeholder="0.00", @id = "loanAmount" , maxlength = 15 , style="text-align:right;width:54%"} })
            @Html.ValidationMessageFor(model => model.loanAmount, "", new { @class = "text-danger" ,style="top:50%"})
        </div>
        
        
    </div>

    <div class="form-group">
        <div class="control-label col-sm-3">
            @Html.LabelFor(model => model.advancePercentage, htmlAttributes: new { })<span style="color:red"> *</span>
        </div>

        <div class="col-xs-2" style="padding-right: 3px;width:12%" >
            @Html.EditorFor(model => model.advancePercentage, new { htmlAttributes = new { @class = "form-control" , max = 100, maxlength = 3 ,min=1, @id= "advancePercentage"  } })
            @Html.ValidationMessageFor(model => model.advancePercentage, "", new { @class = "text-danger" , style= "width:271%" })
        </div>
        <span style="float:left;margin-top: 10px;font-size: 26px;">%</span>


            @Html.LabelFor(model => model.paymentMethod, htmlAttributes: new { style = "margin-left:4.5%" })<span style="color:red"> *</span>
        

        <div class="col-xs-3" style="float: unset;display: inline;" >
            @Html.DropDownListFor(model => model.paymentMethod, new SelectList(ViewBag.paymentMethods), "--Select a Payment Method--", htmlAttributes: new { @class = "form-control", style = "width:29%" })
            @Html.ValidationMessageFor(model => model.paymentMethod, "", new { @class = "text-danger" , style= "top: 197%;left: 7%; " })
            </div>
        </div>







        <div class="form-group">
            <div class="control-label col-sm-3">
                @Html.LabelFor(model => model.allUnitTypes, htmlAttributes: new { })<span style="color:red"> *</span>
            </div>



            <div class="col-xs-8" style="margin-top: 20px;">

                @for (int i = 0; i < Model.allUnitTypes.Count; i++)
                {
                   
                    <div class="col-xs-7">
                        @Html.HiddenFor(m => m.allUnitTypes[i].unitTypeId)
                        @Html.CheckBoxFor(m => m.allUnitTypes[i].isSelected, htmlAttributes: new {@id="checkedBox_"+ i, @onchange = "javascript:showDefaultUnitOption(this.checked," + i + ")" })
                        @Html.LabelFor(m => m.allUnitTypes[i].unitTypeName, Model.allUnitTypes[i].unitTypeName)

                        <div class="col-xs-5">
                            <div class="btn btn-warning option" style="display:none;float:right;" id="radioStyle-@i">
                                @Html.RadioButtonFor(model => model.defaultUnitType, Model.allUnitTypes[i].unitTypeId, htmlAttributes: new { @style = "display:none;", @id = "radio-" + i }) Make Default
                            </div>

                        </div>
                    </div>



                }




                @Html.ValidationMessageFor(model => model.defaultUnitType, "", new { @class = "text-danger", @id="unitTypeError" })
            </div>
          

        </div>


       
            @{
                List<SelectListItem> yesOrNoList = new List<SelectListItem>();

                yesOrNoList.Add(new SelectListItem
                {
                    Text = "--Select--",
                    Value = ""
                });
                yesOrNoList.Add(new SelectListItem
                {
                    Text = "Yes",
                    Value = "true"
                });
                yesOrNoList.Add(new SelectListItem
                {
                    Text = "No",
                    Value = "false"
                });

                List<SelectListItem> yesOrNoList2 = yesOrNoList;
                List<SelectListItem> yesOrNoList3 = new List<SelectListItem>();
                yesOrNoList3.Add(new SelectListItem
                {
                    Text = "--Select--",
                    Value = ""
                });
                yesOrNoList3.Add(new SelectListItem
                {
                    Text = "Yes",
                    Value = "true"
                });
                yesOrNoList3.Add(new SelectListItem
                {
                    Text = "No",
                    Value = "false"
                });
            }
    


        <div class="form-group">
            <div class="col-xs-9" style="margin-top: 18px;float:left;">

                @Html.LabelFor(m => m.isEditAllowable, new { style = "display: initial;" })<span style="color:red;"> *</span>

            </div>
            <div class="control-label col-sm-2" >
               
                
               @Html.DropDownListFor(model => model.isEditAllowable, yesOrNoList, htmlAttributes: new { @class = "form-control", @id = "isEditAllowable" })
                @Html.ValidationMessageFor(model => model.isEditAllowable, "", new { @class = "text-danger" , style= "left: 11%;" })

            </div>

            
        </div>

        <div class="form-group">
        <div class="col-xs-9" style="margin-top: 18px;float:left">

            @Html.LabelFor(model => model.isInterestCalculate, htmlAttributes: new { })<span style="color:red"> *</span>

        </div>
        <div class="control-label col-sm-2">


            @Html.DropDownListFor(model => model.isInterestCalculate, yesOrNoList2, htmlAttributes: new { @class = "form-control",@id= "isInterestCalculate" })
            @Html.ValidationMessageFor(model => model.isInterestCalculate, "", new { @class = "text-danger", style = "left: 11%;" })




        </div>


    </div>
        
    <div class="form-group">
        <div class="col-xs-9" style="margin-top: 18px;float:left">

           @Html.Label("Do you want auto reminder for renewal")<span style="color:red"> *</span>

        </div>
        <div class="control-label col-sm-2">

            @Html.DropDownListFor(model => model.autoReminder, yesOrNoList3, htmlAttributes: new { @class = "form-control", @id = "autoRem", @onchange = "javascript:showAutoReminderEmail(this.value)" })
            @*@Html.DropDownList("auto reminder", yesOrNoList3, htmlAttributes: new {@id="autoRem", @class = "form-control", @onchange = "javascript:showAutoReminderEmail(this.value)" })*@

            @Html.ValidationMessageFor(model => model.autoReminder, "", new { @class = "text-danger", style = "left: 11%;" })


        </div>


    </div>

        

        <div id="AutoReminderEmail"  style="display:none">
            <hr />
            <div class="form-group">
                
                <div class="control-label col-sm-9">
                    @Html.LabelFor(model => model.autoReminderPeriod, htmlAttributes: new { })
                </div>

                <div class="col-xs-2">
                    @Html.EditorFor(model => model.autoReminderPeriod, new { htmlAttributes = new {@id= "emailPeriod", @class = "form-control" , @onblur = "checkTheEmailRange(this.value)" } })
                    @Html.ValidationMessageFor(model => model.autoReminderPeriod, "", new { @class = "text-danger"})


                    <span id="emailReminderError" class="text-danger field-validation-error"></span>
                    @*@Html.ValidationMessage("Out of Range", "Out of Range", new { @class = "text-danger hidden", @id = "emailReminderError" })*@
                </div>
               
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    @Html.LabelFor(model => model.autoReminderEmail, htmlAttributes: new { })<span style="color:red">*</span>
                </div>

                <div class="col-xs-9">
                    @Html.EditorFor(model => model.autoReminderEmail, new { htmlAttributes = new { @class = "form-control", @id = "AutoEmail" } })
                    @Html.ValidationMessageFor(model => model.autoReminderEmail, "", new { @class = "text-danger", @id = "errorAutoEmail" , style = "left: 3%;top:100%" })
                    
                </div>
            </div>
            <hr />
        </div>

        

        <div class="form-group">

            <div class="button-panel">

                @*<input type="button" value="Back" name="subBack" id="btnPreStep2" class="btn btn-default left-button" />*@
                <input type="submit" value="Next" id="Next" class="btn btn-primary btn-next"  />

                <input type="button" id="clear" value="Clear" class="btn btn-default right-button" />

            </div>

           
        </div>
    </div>
}


<script>
    $("#Next").click(function (e) {
        //alert('a');
        var valid = 0;
        $('.form-horizontal :input[type="text"]').each(function () {
            if ($(this).val() != "") valid += 1;
        });

        $('.form-horizontal :input[type="datetime"]').each(function () {
            if ($(this).val() != "") valid += 1;
        });

        $('.form-horizontal :input[type="number"]').each(function () {
            if ($(this).val() != "") valid += 1;
        });

        $('.form-horizontal select').each(function () {
            if (($(this).val() == "" || $(this).val() < 0)) {} else valid += 1;
        });
        

        if (valid >= 11) {
            if ($("input:checked").length == 0) {
                $("#unitTypeError").text('Select Atleast One unit type');
                e.preventDefault();
            }
            else if ($("#outOffRangeError").text().length > 0 || $("#emailReminderError").text().length > 0) {
                alert('1');
                e.preventDefault();
                alert('2');
            } 
        } else {
            if ($("input:checked").length == 0) {
                $("#unitTypeError").text('Select Atleast One unit type');
                
            }
        }
       
        
        
    });

    $('#advancePercentage').keypress(function(evt){
    // preventing to type 'e' or 'E'
        if (evt.keyCode == 101 || evt.keyCode == 69 || $(this).val() > 100 ) {
            evt.preventDefault();
        }


        
      
    });

 
    $('#AutoEmail').keypress(function (e) {
        var res = CheckMaxLenth(this, this.value, 100);
        if (res === 0) {
            e.preventDefault();
            return;
        }

        var array = ['~', '`', '!','&', '#', '$', '%', '*', '(', ')', '+', '-', '/', '=', '?', '^', '{', '|', '}', '[', ']', ':', ';', '"', '<', '>', '', ' ', ','];
        res = InvalidCharacters(this, array, e.which);

        if (res === 1) {
            e.preventDefault();
            return;
        }
        else if (e.which === 92 || e.which === 39) {
            //$(this).siblings('div').children('span').text("Invalid character.");
            e.preventDefault();
            return;
        }
    });




    $('#emailPeriod').keypress(function (evt) {
    // preventing to type 'e' or 'E'
         if (evt.keyCode == 101 || evt.keyCode == 69 || evt.keyCode == 45 || evt.keyCode == 43 || evt.keyCode == 46 || $(this).val() > 100) {
             evt.preventDefault();
         }
     });

     $('#advancePercentage').keypress(function (evt) {
         // preventing to type 'e' or 'E'
         if (evt.keyCode == 101 || evt.keyCode == 69 || evt.keyCode == 45 || evt.keyCode == 43 || evt.keyCode == 46 || $(this).val() > 100) {
             evt.preventDefault();
         }
     });

     $('#payOffPeriod').keypress(function (evt) {
         // preventing to type 'e' or 'E'
         if (evt.keyCode == 101 || evt.keyCode == 69 || evt.keyCode == 45 || evt.keyCode == 43 || evt.keyCode == 46 || $(this).val() > 100) {
             evt.preventDefault();
         }
     });

    $(document).ready(function () {

        $('#loanNumber').keypress(function (e) {

            var charCode = !e.charCode ? e.which : e.charCode;

            if ((charCode > 46 && charCode < 59) || charCode == 45 || charCode == 95 || (charCode > 96 && charCode < 122) || (charCode > 64 && charCode < 91)) { }
            else
                e.preventDefault();

        });

        $('#loanAmount').keypress(function (e) {

            var charCode = !e.charCode ? e.which : e.charCode;

            if ((charCode > 47 && charCode < 58) || charCode == 127 || charCode == 44 || charCode == 46 || charCode == 8) { }
            else
                e.preventDefault();

        });
    $('#clear').click(function () {

        document.getElementsByTagName("form")[0].reset();
        for (var i = 0 ; i < 8; i++) {

            if ($("#checkedBox_" + i).is(':checked')) {

                $("#radioStyle-" + i).show();
                $("#radio-" + i).show();
            } else {
                $("#radio-" + i).prop("checked", false);
                $("#radio-" + i).hide();
                $("#radioStyle-" + i).hide();

            }
            
            
        }

            $('input').next('span').children('span').text('');
            $('select').next('span').children('span').text('');
            $("#unitTypeError").text('');
            $('#loanNumberForDisplayError').hide(); 
            $("#outOffRangeError").text('');
            $("#payOffPeriod").removeClass('input-validation-error');

            @if(Model.loanNumber == null){
                <text>
            $('#loanAmount').val('');
            $('#advancePercentage').val('');
            $('#startDate').val('');
            $('#maturityDate').val('');
            $('#payOffPeriod').val('');
            $('#payOffPeriodType').val('-1');
            $('#isEditAllowable').val(''); 
            $('#isInterestCalculate').val(''); 
            $('#autoRem').val(''); 

            </text>
            }

        @if(Model.autoReminderEmail == null || Model.autoReminderEmail == "")
        {

             <text>$("#AutoEmail").val("");</text>
            <text>$("#AutoReminderEmail").hide();</text>
            <text>$("#emailPeriod").val("");</text>
        <text>$("#errorAutoEmail").text("");</text>

        }
        else
        {
             <text>$('#autoRem').val("true");</text>
        <text> showAutoReminderEmail("true");</text>
        }


    });
    });
</script>





<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        font-family: Tahoma;
        font-size: small;
    }

    .grid-header {
        background-color: #990000;
        font-weight: bold;
        color: White !important;
    }

    .webGrid th a {
        color: White;
        text-decoration: none;
    }

    .webGrid th, .webGrid td {
        border: 1px solid black;
        padding: 5px;
    }

    .alt {
        background-color: #F4EFEF;
    }

    .webGrid th a:hover {
        text-decoration: underline;
    }

    .to-the-right {
        text-align: right;
    }

    #outOffRangeError{
       top:50%;
    }
    .pika-single{
        z-index:10005 !important;
    }
</style>




<script>


 


        //function changeToTwoDecimal(number) {
        //    var val = $.trim(number);
        //    if (val.indexOf(',') > -1) {
        //        val = val.replace(',', '.');
        //    }
        //    var num = parseFloat(val);
        //    var num = num.toFixed(2);
        //    if (isNaN(num)) {
        //        num = '';
        //    }
        //    $(this).val(num);
        //}



        $(function () {

            $('#loanAmount').blur(function () {

                var val = $.trim($(this).val());

                if (val.indexOf(',') > -1) {
                    val = val.replace(',', '');
                }
                //if (val.indexOf('$') > -1) {
                //    val = val.replace('$', '');
                //}
                var num = parseFloat(val);
                var num = num.toFixed(2);
                if (isNaN(num)) {
                    num = '';
                }


                $(this).val( num);
            });

        });

        function showDefaultUnitOption(checked,value) {
            if (checked) {
                $("#radioStyle-" + value).show();
                $("#radio-" + value).show();

                // if($(this).children().length == 1))

                //  $("#radio-" + value).closest('.col-xs-7').siblings().children('.col-xs-5').find('input')
                if ($("input:checked").length == 1) {
                    $("#radio-" + value).prop("checked", true);
                    $("#unitTypeError").text('');
                }

            } else {
                $("#radio-" + value).prop("checked", false);
                $("#radio-" + value).hide();
                $("#radioStyle-" + value).hide();

                if ($("input:checked").length == 1) {
                    $("input:checked").parent().children('.col-xs-5').find('input').prop("checked", true);
                }

            }
            

        }

        function showAutoReminderEmail(value) {
            if (value == "true") {
                $("#AutoReminderEmail").show();
                $("#emailPeriod").val("");




            } else {
                $("#AutoEmail").val("");
                $("#AutoReminderEmail").hide();
                $("#emailPeriod").val("");
                $("#errorAutoEmail").text("");
            }

        }

        function setPayOffPeriod() {
            
            $("#payOffPeriod").val("");
            $("#outOffRangeError").text('');
            $("#payOffPeriod").removeClass('input-validation-error');
        }

        function checkTheRange(value) {
            

            var oneDay = 24 * 60 * 60 * 1000;	// hours*minutes*seconds*milliseconds
            var firstDate = new Date($("#startDate").val());
            var secondDate = new Date($("#maturityDate").val());
            var type = $("#payOffPeriodType").val();

            if (type == 0) {
                var diffDays = Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay));
                if (value > diffDays) {
                    $("#outOffRangeError").text('The pay off period is out of Range.');
                    $("#payOffPeriod").addClass('input-validation-error').removeClass('valid');
                    
                } else {
                    $("#outOffRangeError").text('');
                    $("#payOffPeriod").removeClass('input-validation-error');
                }
                
            } else {
                var diffMonths = (secondDate.getMonth() - firstDate.getMonth()
       + (12 * (secondDate.getFullYear() - firstDate.getFullYear())));
                if (value > diffMonths) {
                    $("#outOffRangeError").text('The pay off period is out of Range.');
                    $("#payOffPeriod").addClass('input-validation-error').removeClass('valid');
                    
                } else {
                    $("#outOffRangeError").text('');
                    $("#payOffPeriod").removeClass('input-validation-error');
                }
            }
            

        }

        function checkTheEmailRange(value) {


            var oneDay = 24 * 60 * 60 * 1000;	// hours*minutes*seconds*milliseconds
            var firstDate = new Date($("#startDate").val());
            var secondDate = new Date($("#maturityDate").val());
            

            
                var diffDays = Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay));
                if (value > diffDays) {
                    $("#emailReminderError").text("Out of Range");
                    $("#emailPeriod").addClass("input-validation-error").removeClass('valid');

                } else {
                    $("#emailReminderError").text("");
                    $("#emailPeriod").removeClass("input-validation-error");

                   

                }

            


        }






        Progress(6);
        

</script>

@if (ViewBag.userroleName != "Admin")
{
    <script>
        $("#loanNumber").attr("disabled", "disabled");

        function GetNonRegisteredBranches(_regBranchId) {
            if (_regBranchId == 0) {
                $("#loanNumber").attr("disabled", "disabled");
                return;
            }
            $('#loadingSpan').show();
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#ddlcity").html(procemessage).show();
            var url = "/SetupProcess/getNonRegBranchesByRegBranchId/";

            $.ajax({
                url: url,
                data: { regBranchId: _regBranchId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>--Select Branch--</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#NonRegisteredBranchId").html(markup).show();
                    $('#loadingSpan').hide();
                    $("#loanNumber").removeAttr("disabled");
                },
                error: function (reponse) {
                    $('#loadingSpan').hide();
                    alert("error : " + reponse);
                }
            });
           

        }
    </script>
}
@{ 
    if(Model.loanNumber != null)
    {
       <script>
           $('#clear').prop('value', 'Reset');
       </script>

   
    if (Model.autoReminderEmail != "")
    {
        <script>
            $('#autoRem').val("true");
            showAutoReminderEmail("true");
        </script>
    }

    foreach (UnitType UnitType in (List<UnitType>)Model.selectedUnitTypes)
    {
        <script>
            $("#radioStyle-@(UnitType.unitTypeId-1)").show();
        $("#radio-@(UnitType.unitTypeId - 1)").show();

        </script>
        }
    }
    else
    {
        <script>
            $('#loanAmount').val('');
            $('#advancePercentage').val('');
            $('#startDate').val('');
            $('#maturityDate').val('');
            $('#payOffPeriod').val('');
            $('#payOffPeriodType').val('-1');
            $('#isEditAllowable').val(''); 
            $('#isInterestCalculate').val(''); 
            $('#autoRem').val(''); 
            $('#emailPeriod').val('');
        </script>
    }

}


<script>

    var startDate,
     endDate,
     updateStartDate = function () {
         startPicker.setStartRange(startDate);
         endPicker.setStartRange(startDate);
         var minNextDate = new Date(startDate);
         //alert(minNextDate);
         minNextDate.setDate(startDate.getDate() + 1);
         endPicker.setMinDate(minNextDate);
     },
updateEndDate = function () {
    startPicker.setEndRange(endDate);

    var maxNextDate = new Date(endDate);
    //alert(minNextDate);
    maxNextDate.setDate(endDate.getDate() - 1);
    startPicker.setMaxDate(maxNextDate);
    endPicker.setEndRange(endDate);
},
startPicker = new Pikaday({
    field: document.getElementById('startDate'),
    format: 'l',
    bound: true,

    onSelect: function () {
        startDate = this.getDate();
        $("#payOffPeriod").val("");
        $("#outOffRangeError").text('');
        $("#payOffPeriod").removeClass('input-validation-error');
        updateStartDate();
        

    }
}),
endPicker = new Pikaday({
    field: document.getElementById('maturityDate'),
    format: 'l',

    onSelect: function () {
        endDate = this.getDate();
        $("#payOffPeriod").val("");
        $("#outOffRangeError").text('');
        $("#payOffPeriod").removeClass('input-validation-error');
        updateEndDate();
    }
}),
_startDate = startPicker.getDate(),
     _endDate = endPicker.getDate();

    if (_startDate) {
        startDate = _startDate;
        updateStartDate();
    }

    if (_endDate) {
        endDate = _endDate;
        updateEndDate();
    }
    $(".tab.6").parent("li").addClass("active").siblings().removeClass('active');
</script>