@model BankLoanSystem.Models.Title
@{
    ViewBag.Title = "Step9";
    if (ViewBag.AjaxRequest == null)
    {
        Layout = "~/Views/Shared/_SetupProcess.cshtml";
    }
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<div class="form-horizontal">

    <div id="page-wrapper" class="gray-bg sidebar-content companySetupWrapper lonesetup_border" style="min-height:inherit">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="container body-content">

                    <div class="row">
                        <div class="container body-content new_container">
                            <div class="setupImage"><img src="~/Images/loanSetupImage.png" width="100" alt=""></div>
                            <div class="setupTitle">
                                <h2>Title</h2>
                            </div>
                            <div style="clear:both;"></div>
                            @using (Ajax.BeginForm("Step9", "SetupProcess", new AjaxOptions()
                            {

                                OnFailure = "handleErrorMsg",
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "changeContainer",
                                LoadingElementId = "loadingDiv"
                            }, new { id = "form" }))
                            {

                                @Html.AntiForgeryToken()

                                <div class="form-horizontal new_form_horizontal">
                                    <div class="topErrors">
                                        <p class="err_msg">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group new_form_group">
                                        <div class="control-label col-sm-2 longLable">
                                            <label>
                                                Do you need title to be tracked?   <span class='icon-help_outline 1'></span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4 text_field new_zip">
                                            @Html.DropDownListFor(model => model.IsTitleTrack, null, "--Select--", htmlAttributes: new { @class = "form-control text-box single-line text_field_input valid", @id = "isTitleTrack", @style="width:105px" })
                                        </div>
                                        <div class="err_msg_box shortErrMsgBox" style="width:300px">
                                            <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.IsTitleTrack, "", new { @class = "text-danger" })</p>
                                        </div>
                                    </div>
                                    
                                        
                                            @*<div class="control-label col-sm-2 longLable longLable" style="margin-top:10px">
                                                <label>Title Accepted Method</label>
                                            </div>
                                            <div class="col-xs-8 text_field short_text_field" style="width:44%">
                                                @Html.DropDownListFor(model => model.TitleAcceptMethod, null, "-- Select Accepted Method --", htmlAttributes: new { @class = "form-control text-box single-line text_field_input valid", @id = "acceptMethod" })
                                            </div>
                                            <div class="err_msg_box shortErrMsgBox">
                                                <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.TitleAcceptMethod, "", new { @class = "text-danger" })</p>
                                            </div>*@

                                            <div style="" class="form-group new_form_group" id="TimeLimit">
                                                <div class="control-label col-sm-2 longLable">
                                                    <label>When is the title required?</label>
                                                </div>
                                                <div class="col-xs-8 text_field short_text_field">
                                                    @Html.DropDownListFor(model => model.ReceivedTimeLimit, null, "-- Select --", htmlAttributes: new { @class = "form-control text-box single-line text_field_input valid", id = "timeLimit" })
                                                </div>
                                                <div class="err_msg_box shortErrMsgBox" style="width:390px">
                                                    <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.ReceivedTimeLimit, "", new { @class = "text-danger" })</p>
                                                </div>
                                            </div>
                                       <div id="RemindEmailDiv">
                                           <div style="" class="form-group new_form_group" id="RemindEmailDiv">
                                               <div class="control-label col-sm-2 longLable">
                                                   <label>How many days after advance should a reminder be sent if the title is not received?</label>
                                               </div>
                                              
                                                   <div class="col-xs-8 text_field short_text_field">
                                                       @Html.EditorFor(model => model.RemindPeriod, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input valid", @id = "autoRemindPeriod",min=1, @style = "margin-left:110px" } })
                                                   </div>
                                               
                                               <div class="err_msg_box shortErrMsgBox" style="width:390px">
                                                   <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.RemindPeriod, "", new { @class = "text-danger" })</p>
                                               </div>
                                           </div>
                                           <div style="" class="form-group new_form_group" id="RemindEmailDiv">
                                               <div class="control-label col-sm-2 longLable">
                                                   <label>Email for reminder to be sent</label>
                                               </div>
                                               @if (ViewBag.Edit == 1)
                                               {
                                                   <div class="col-xs-8 text_field short_text_field">
                                                       @Html.EditorFor(model => model.RemindEmail, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input valid", @id = "autoRemindEmail", @style = "margin-left:110px" } })
                                                       @*@Html.ValidationMessageFor(model => model.RemindEmail, "", new { @class = "text-danger", @style = "left:37%" })*@
                                                   </div>
                                               }
                                               else
                                               {
                                                   <div class="col-xs-8 text_field short_text_field">
                                                       @Html.EditorFor(model => model.RemindEmail, new { htmlAttributes = new { @class = "form-control text-box single-line text_field_input valid", @id = "autoRemindEmail", @Value = ViewBag.Email, @style = "margin-left:110px" } })
                                                   </div>
                                               }
                                               <div class="err_msg_box shortErrMsgBox" style="width:390px">
                                                   <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.RemindEmail, "", new { @class = "text-danger" })</p>
                                               </div>
                                           </div>
                                       </div>
                                       
                                   

                                   
                                    <div class="form-group new_form_group">
                                        <div class="control-label col-sm-2 longLable">
                                            <label>
                                                Is a receipt or invoice required to advance?<br>
                                               
                                            </label>
                                        </div>
                                        <div class="col-xs-8 text_field short_text_field">
                                            @Html.DropDownListFor(model => model.IsReceipRequired, null, "--Select--", htmlAttributes: new { @class = "form-control text-box single-line text_field_input valid new_zip", @id = "receiptRequired", @style = "width:105px !important" })
                                        </div>
                                        <div class="err_msg_box shortErrMsgBox" style="width:380px">
                                            <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.IsReceipRequired, "", new { @class = "text-danger" })</p>
                                        </div>
                                    </div>

                                    <div style="display: block;" id="needReceipt">
                                        <div class="form-group new_form_group">
                                            <div class="control-label col-sm-2 longLable" style="margin-top:15px">
                                                <label>How will you accept the receipt or invoice?<sup><span class='icon-help_outline 2' style="padding-left:0px"></span></sup></label>
                                            </div>
                                            <div class="col-xs-8 text_field short_text_field" style="width:44%">
                                                @Html.DropDownListFor(model => model.ReceiptRequiredMethod, null, "-- Select --", htmlAttributes: new { @class = "form-control text-box single-line text_field_input valid", id = "receipttMethod" })
                                            </div>
                                            <div class="err_msg_box shortErrMsgBox" style="width:300px">
                                                <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.ReceiptRequiredMethod, "", new { @class = "text-danger" })</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group new_form_group">
                                        <div class="control-label col-sm-2 longLable" style="margin-top:15px">
                                            <label>Will you accept a scanned copy of the title or other documents?</label>
                                        </div>
                                        <div class="col-xs-8 text_field short_text_field" style="font-weight:normal;color:#545454;font-size:14px;margin-left:20px;">
                                            @Html.RadioButtonFor(model => model.NeedScanCopy, "true", new { @id = "rbYes" }) Yes
                                            @Html.RadioButtonFor(model => model.NeedScanCopy, "false", new { @id = "rbNo", @style = "margin-left:20px" }) No
                                        </div>
                                        <div class="err_msg_box shortErrMsgBox" style="width:315px">
                                            <p class="err_msg new_err_msg">@Html.ValidationMessageFor(model => model.NeedScanCopy, "", new { @class = "text-danger" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group new_form_group clear_next clear_next_bordr">
                                        <div>
                                            <nav>
                                                <div class="pager new_pager">
                                                    <div class="button_box algn_left">
                                                        <input value="Back" name="subBack" id="btnPreStep9" class="btn btn-primary m-b cancel next_clear_button back_back" style="margin-left: 10px" type="button">&nbsp;
                                                    </div>
                                                    <div class="button_box algn_center">
                                                        <input value="Next" class="btn btn-primary m-b next_clear_button next_back" style="margin-left:10px" type="submit">
                                                    </div>
                                                    <div class="button_box algn_right">
                                                        <input id="clear" value="Clear" class="btn btn-primary m-b next_clear_button clear_back" style="margin-left: 10px" type="button">
                                                    </div>
                                                    <div style="clear:both"></div>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>

                                </div>


                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="rightPanel">
    @{
        @Html.Partial("Step8help")
    }
</div>

<script src="~/scripts/CommonFunctions.js"></script>

<script language="javascript">

  $(document).ready(function(){
      window.scrollTo(0, 0);
  $('.nav li.active ul').removeClass('in');
  $('.nav li').removeClass('active');
  $('.nav li.loan').addClass('active');
  $('.nav li.active ul').addClass('in');


      // helper Funtionality
  var HelpString = $('.right_panel_box p').html();
  var HelpTitle = $('.right_panel_box h4').html();

  $('#isTitleTrack , .icon-help_outline.1').click(function () {

      $('.right_panel_box p').html("By selecting 'Yes' you will be able to specify how and when the title will be accepted.");
      $('.right_panel_box h4').html('Tracking the title');


  });

  $('#receipttMethod , .icon-help_outline.2').click(function () {

      $('.right_panel_box p').html("");
      $('.right_panel_box h4').html('Accpeted method for title receipt');


  });

  $('select:not(#isTitleTrack, #receipttMethod), span:not(.icon-help_outline.1, .icon-help_outline.2), input ').click(function () {

      $('.right_panel_box p').html(HelpString);
      $('.right_panel_box h4').html(HelpTitle);


  });
  })
</script>

<script>
    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
        $(".text-danger").html("");
        clearValues();
    });

</script>

<script language="javascript" type="text/javascript">
    function clearValues() {


       // $('#isTitleTrack').val('');
        $('#isTitleTrack option:selected').attr('selected', null);
        $('#receiptRequired option:selected').attr('selected', null);
        $('#receipttMethod option:selected').attr('selected', null);
        $('#autoRemindEmail').next("span").children("span").text("");
        $('#autoRemindEmail').closest("div").siblings('div').children("p").children("span").text("");
        $('#autoRemindEmail').next("div").children("p").children("span").text("");
        $('#autoRemindEmail').removeClass('input-validation-error');
        $('#autoRemindPeriod').next("span").children("span").text("");
        $('#autoRemindPeriod').closest("div").siblings('div').children("p").children("span").text("");
        $('#autoRemindPeriod').next("div").children("p").children("span").text("");
        $('#autoRemindPeriod').removeClass('input-validation-error');
        //$('#acceptMethod option:selected').attr('selected', null);
        //$('#autoRemindEmail').next("span").children("span").text("");
        //$('#autoRemindEmail').closest("div").siblings('div').children("p").children("span").text("");
        //$('#autoRemindEmail').next("div").children("p").children("span").text("");
        //$('#autoRemindEmail').removeClass('input-validation-error');
        $('#timeLimit').val('');
        $('#timeLimit').next("span").children("span").text("");
        $('#timeLimit').closest("div").siblings('div').children("p").children("span").text("");
        $('#timeLimit').next("div").children("p").children("span").text("");
        $('#timeLimit').removeClass('input-validation-error');
        $('#receiptRequired').val('');
        $('#receiptRequired').next("span").children("span").text("");
        $('#receiptRequired').closest("div").siblings('div').children("p").children("span").text("");
        $('#receiptRequired').next("div").children("p").children("span").text("");
        $('#receiptRequired').removeClass('input-validation-error');

       
        $('#autoRemindEmail').val('');
        $('#autoRemindPeriod').val('');
        //alert($('#autoRemindPeriod').val());
       
        $('#receipttMethod').next("span").children("span").text("");
        $('#receipttMethod').closest("div").siblings('div').children("p").children("span").text("");
        $('#receipttMethod').next("div").children("p").children("span").text("");
        $('#receipttMethod').removeClass('input-validation-error');
        $('#needTrack').hide();
        $('#needReceipt').hide();
        $('#TimeLimit').hide();
        $('#RemindEmailDiv').hide();

        $('#rbYes').removeAttr('checked');
        $('#rbNo').removeAttr('checked');
    };
    $("#autoRemindEmail").keypress(function(e){

        var ch = e.which;
        if ((ch >= 47 && ch <= 57) ||(ch >= 65 && ch <= 90) ||(ch >= 97 && ch <= 122)|| (ch == 46) ||(ch == 64)) {
            return 1;
        }
        else{
            e.preventDefault();
        }
        //alert(ch);
    });

    $('#autoRemindEmail').keypress(function (e) {
        var res = CheckMaxLenth(this, this.value, 100);
        if (res === 0) {
            e.preventDefault();
        }
    });
    function passvalueTitle(e1){
        
        if (e1=="true") {
           // alert(e1);
            $('#TimeLimit').show();

        }

        else{
            $('#TimeLimit').hide();
        }
    }
    function passvalueTimeLimit(e2){
        
        if (e2 == "3") {
           
            $('#RemindEmailDiv').show();

        }

        else {
           
            $('#RemindEmailDiv').hide();
        }
    }
    function passvalue(e){
        //alert(e);
        if ((e == "Title Present To Advance") || (e == "-- Select Accepted Method --")) {
           
            $('#TimeLimit').hide();
           
            //$('#RemindEmailDiv').hide();
        }
        else{
            $('#TimeLimit').show();
           // $('#RemindEmailDiv').show();
        }
    }


</script>

<script language="javascript" type="text/javascript">
    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
        $(".text-danger").html("");
        clearValues();
    });
</script>

<script language="javascript" type="text/javascript">

   $(document).ready(function ()
    {

       // $('#TimeLimit').hide();
       //alert($('#timeLimit').val());
       if ($('#isTitleTrack').val() == "true") {
          // alert($('#isTitleTrack').val());
            $('#TimeLimit').show();

        }
        else{

            $('#TimeLimit').hide();

        }
        //if(($('#acceptMethod option:selected').text()== "Title Present To Advance")||($('#acceptMethod').val() == "")){

        //    $('#TimeLimit').hide();
        //    //$('#RemindEmailDiv').hide();
        //}
        //else{

        //    $('#TimeLimit').show();
        //    //$('#RemindEmailDiv').hide();
        //}
        if ($('#timeLimit').val() == "3") {
            //alert('hjfj');
            $('#RemindEmailDiv').show();

        }

        else {
            //alert('h');
            $('#RemindEmailDiv').hide();
        }
        if ($('#receiptRequired option:selected').text() == "Yes") {
            $('#needReceipt').show();


        }

        else {
            $('#needReceipt').hide();
        }
        //$('#needReceipt').hide();
        //$('#RemindEmailDiv').hide();
        //$('#TimeLimit').hide();
    });
   $('#isTitleTrack').change(function () {
       //alert($('#isTitleTrack').val());
            $('#autoRemindEmail').next("span").children("span").text("");
            $('#autoRemindEmail').closest("div").siblings('div').children("p").children("span").text("");
            $('#autoRemindEmail').next("div").children("p").children("span").text("");
            $('#autoRemindEmail').removeClass('input-validation-error');
            $('#acceptMethod option:selected').attr('selected',null);
            $('#acceptMethod').next("span").children("span").text("");
            $('#acceptMethod').closest("div").siblings('div').children("p").children("span").text("");
            $('#acceptMethod').next("div").children("p").children("span").text("");
            $('#acceptMethod').removeClass('input-validation-error');
            $('#timeLimit').val('');
            $('#timeLimit').next("span").children("span").text("");
            $('#timeLimit').closest("div").siblings('div').children("p").children("span").text("");
            $('#timeLimit').next("div").children("p").children("span").text("");
            $('#timeLimit').removeClass('input-validation-error');


            $('#autoRemindEmail').val('');
            $('#autoRemindPeriod').val('');
            $('#needTrack').hide();

            $('#TimeLimit').hide();
            $('#RemindEmailDiv').hide();
            var e1 = $('#isTitleTrack').val();

            passvalueTitle(e1);

        });



        $('#acceptMethod').change(function(){

            $('#autoRemindEmail').next("span").children("span").text("");
            $('#autoRemindEmail').closest("div").siblings('div').children("p").children("span").text("");
            $('#autoRemindEmail').next("div").children("p").children("span").text("");
            $('#autoRemindEmail').removeClass('input-validation-error');

            $('#acceptMethod').next("span").children("span").text("");
            $('#acceptMethod').closest("div").siblings('div').children("p").children("span").text("");
            $('#acceptMethod').next("div").children("p").children("span").text("");
            $('#acceptMethod').removeClass('input-validation-error');

            $('#timeLimit option:selected').attr('selected',null);
            $('#timeLimit').next("span").children("span").text("");
            $('#timeLimit').closest("div").siblings('div').children("p").children("span").text("");
            $('#timeLimit').next("div").children("p").children("span").text("");
            $('#timeLimit').removeClass('input-validation-error');

            $('#autoRemindEmail').val('');

            $('#needTrack').show();

            //$('#TimeLimit').show();
            $('#RemindEmailDiv').hide();
            var e = $('#acceptMethod option:selected').text();
            //alert(e);
            passvalue(e);
        });

        $('#timeLimit').change(function () {
            $('#autoRemindEmail').next("span").children("span").text("");
            $('#autoRemindEmail').closest("div").siblings('div').children("p").children("span").text("");
            $('#autoRemindEmail').next("div").children("p").children("span").text("");
            $('#autoRemindEmail').removeClass('input-validation-error');

            $('#acceptMethod').next("span").children("span").text("");
            $('#acceptMethod').closest("div").siblings('div').children("p").children("span").text("");
            $('#acceptMethod').next("div").children("p").children("span").text("");
            $('#acceptMethod').removeClass('input-validation-error');

            $('#timeLimit').next("span").children("span").text("");
            $('#timeLimit').closest("div").siblings('div').children("p").children("span").text("");
            $('#timeLimit').next("div").children("p").children("span").text("");
            $('#timeLimit').removeClass('input-validation-error');

            $('#autoRemindEmail').val('');
            $('#autoRemindPeriod').val('');
            $('#needTrack').show();

            $('#TimeLimit').show();
            $('#RemindEmailDiv').hide();
            //alert($('#timeLimit').val());
            var e2 = $('#timeLimit').val();

            passvalueTimeLimit(e2);

        });
        $('#receiptRequired').change(function () {
            $('#receiptRequired').next("span").children("span").text("");
            $('#receiptRequired').closest("div").siblings('div').children("p").children("span").text("");
            $('#receiptRequired').next("div").children("p").children("span").text("");
            $('#receiptRequired').removeClass('input-validation-error');

            $('#receipttMethod option:selected').attr('selected', null);
            $('#receipttMethod').next("span").children("span").text("");
            $('#receipttMethod').closest("div").siblings('div').children("p").children("span").text("");
            $('#receipttMethod').next("div").children("p").children("span").text("");
            $('#receipttMethod').removeClass('input-validation-error');

            $('#needReceipt').hide();
            if ($('#receiptRequired option:selected').text() == "Yes") {
                $('#needReceipt').show();


            }

            else {
                $('#needReceipt').hide();
            }

        });
    //Back Button
    $(function () {
        $('#btnPreStep9').click(function () {

            $('#loadingDiv').show();
            window.location.href = "Step8";
            @*$.ajax({
                url: '@Url.Action("Step8", "SetupProcess")',
                type: 'GET',
                data: { edit: 1 },

                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();

                },
                error: function (request, status, error) {
                    handleErrorMsg(request.responseText);

                }
            });*@
        });
    });


    Progress(9);

    @if ((Session["isInterest"] != null ) && Convert.ToBoolean(Session["isInterest"]) == false)
    {
        <text>
    $(".right_arrw.7").children("img").remove();
        $(".right_arrw.7").parent('li').css("pointer-events", "auto").css("cursor", "pointer");
        $(".right_arrw.7").css('background-image', 'none');
        $(".right_arrw.7").prepend('<img id="theImg" src="/Images/lockIco.png" />');

        </text>

    }
</script>
