@model BankLoanSystem.Models.Title
@{
    ViewBag.Title = "Step9";
    if (ViewBag.AjaxRequest == null)
    {
        Layout = "~/Views/Shared/_SetupProcess.cshtml";
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




        <h2>Step 4 - Title</h2>
        @using (Ajax.BeginForm("Step9", "SetupProcess", new AjaxOptions()
            {
                
                OnFailure = "handleErrorMsg",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "changeContainer",
                LoadingElementId = "loadingDiv"
            }, new { id = "form" }))
            {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="control-label col-sm-2">
                        @Html.Label("Do you need title to be tracked?", htmlAttributes: new { })

                    </div>

                    <div class="control-label col-sm-2" style="margin-left:86px; margin-top:-17px">
                        @Html.DropDownListFor(model => model.IsTitleTrack, null, "--Select--", htmlAttributes: new { @class = "form-control", @id = "isTitleTrack" })
                        @Html.ValidationMessageFor(model => model.IsTitleTrack, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="needTrack">
                    <div class="form-group">
                        <div class="control-label col-sm-2" style="margin-top:10px">
                            @Html.Label("Title Accepted Method", htmlAttributes: new { })<span style="color: red">*</span>

                        </div>
                        <div class="col-xs-5" style="margin-left: 336px;margin-top: -42px">
                            @Html.DropDownListFor(model => model.TitleAcceptMethod, null, "-- Select Accepted Method --", htmlAttributes: new { @class = "form-control", @id = "acceptMethod" })
                            @Html.ValidationMessageFor(model => model.TitleAcceptMethod, "", new { @class = "text-danger" })
                        </div>
                      
                        
                        <div class="form-group" id="TimeLimit">
                            <div class="control-label col-sm-2" style="margin-left:15px;margin-top:15px">
                                @Html.Label("Time limit to track", htmlAttributes: new { })<span style="color: red">*</span>

                            </div>

                            <div class="col-xs-5" style="margin-left: 351px;margin-top: -40px;">
                                @Html.DropDownListFor(model => model.ReceivedTimeLimit, null, "-- Select Time Limit --", htmlAttributes: new { @class = "form-control", id = "timeLimit" })
                                @Html.ValidationMessageFor(model => model.ReceivedTimeLimit, "", new { @class = "text-danger" })
                            </div>
                            </div>
                            


                          
                </div>
                    <div class="form-group" id="RemindEmailDiv">
                        <div class="control-label col-sm-2" style="margin-top:5px">
                            @Html.LabelFor(model => model.RemindEmail, htmlAttributes: new { })<span style="color: red">*</span>

                        </div>
                        @if (ViewBag.Edit == 1)
                        {
                        <div class="col-xs-5" style="margin-left: 335px;margin-top: -5px;">
                            @Html.EditorFor(model => model.RemindEmail, new { htmlAttributes = new { @class = "form-control", @id = "autoRemindEmail" } })
                            @Html.ValidationMessageFor(model => model.RemindEmail, "", new { @class = "text-danger" })
                        </div>
                        }
                        else
                        {
                        <div class="col-xs-5" style="margin-left: 335px;margin-top: -5px;">
                            @Html.EditorFor(model => model.RemindEmail, new { htmlAttributes = new { @class = "form-control", @id = "autoRemindEmail", @Value = ViewBag.Email } })
                            @Html.ValidationMessageFor(model => model.RemindEmail, "", new { @class = "text-danger" })
                        </div>
                        }

                    </div>

</div>
                <div class="form-group">
                    <div class="control-label col-sm-2" style="margin-top: 10px;">
                        @Html.Label("Do you need receipt or invoice for advance?", htmlAttributes: new { })
                      
                    </div>

                    <div class="control-label col-sm-2" style="margin-top: -6px;">

                        @Html.DropDownListFor(model => model.IsReceipRequired, null, "--Select--", htmlAttributes: new { @class = "form-control", id = "receiptRequired" })
                        @Html.ValidationMessageFor(model => model.IsReceipRequired, "", new { @class = "text-danger" })
                    </div>
                    
                </div>
                <div id="needReceipt">
                    <div class="form-group">
                        <div class="control-label col-sm-2" style="margin-top:15px">
                            @Html.Label("Receipt Required Method", htmlAttributes: new { })<span style="color: red">*</span>
                            
                        </div>
                        <div class="col-xs-5" style="margin-left: 333px;margin-top: -43px;">
                            @Html.DropDownListFor(model => model.ReceiptRequiredMethod, null, "-- Select Required Method --", htmlAttributes: new { @class = "form-control", id = "acceptMethod" })
                            @Html.ValidationMessageFor(model => model.ReceiptRequiredMethod, "", new { @class = "text-danger" })
                        </div>
                        </div>
                        
                        
                        

                    
                </div>








                <div class="form-group">

                    <div class="button-panel">

                        <input type="button" value="Back" name="subBack" id="btnPreStep9" class="btn btn-default left-button" />
                        <input type="submit" value="Next" class="btn btn-primary btn-next" style="left:40%" />

                        <input type="button" id="clear" value="Clear" class="btn btn-default right-button" onclick="clearFunction()" />

                    </div>

                   
                </div>

            </div>
               

        }
 


<script language="javascript" type="text/javascript">
    function passvalueTitle(e1){
        //alert(e);
        if(e1 == "Yes"){
            $('#needTrack').show();
         
        }
       
        else{
            $('#needTrack').hide();
        }
    }
    function passvalueTimeLimit(e2){
        //alert(e);
        if(e2 == "At Any Time"){
            $('#RemindEmailDiv').hide();
           
        }
       
        else{
            $('#RemindEmailDiv').show();
        }
    }
    function passvalue(e){
        //alert(e);
       
        if(e == "Title Present To Advance"){
            $('#ScannTitle').hide();
            $('#TimeLimit').hide();
            //alert(e.value);

        }
        else{
            $('#TimeLimit').show();
            $('#ScannTitle').hide();
        }
    }

  
</script>
<script language="javascript" type="text/javascript">
    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
    });
</script>    
<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        
            $('#clear').click(function () {
                document.getElementsByTagName("form")[0].reset();
                $('#needTrack').hide();
                $('#needReceipt').hide();
                $('#ScannTitle').hide();
                $('#RemindEmailDiv').hide();
            });  
            

        $.fn.loadFunc = function () {

            $('#needTrack').hide();
            $('#needReceipt').hide();
            $('#ScannTitle').hide();
            $('#RemindEmailDiv').hide();

            
            $('#timeLimit').change(function(){
                var e2 = $('#timeLimit option:selected').text();
               
                passvalueTimeLimit(e2);
               
            });

            $('#isTitleTrack').change(function(){
                var e1 = $('#isTitleTrack option:selected').text();
               
                passvalueTitle(e1);
               
            });
            $('#acceptMethod').change(function(){
                var e = $('#acceptMethod option:selected').text();
                //alert(e);
                passvalue(e);
            });
            $('#receiptRequired').change(function () {

                if ($('#receiptRequired option:selected').text()=="Yes") {
                    $('#needReceipt').show();
                   
                   
                }

                else {
                    $('#needReceipt').hide();
                }

            });

        }

        $.fn.editFunc = function()
        {
            //alert($('#isTitleTrack option:selected').text());

            $('#ScannTitle').hide();
            var e1 = $('#isTitleTrack option:selected').text();
            //alert($('#isTitleTrack option:selected').text());
            passvalueTitle(e1);
            
            $('#isTitleTrack').change(function(){
                var e1 = $('#isTitleTrack option:selected').text();
                passvalueTitle(e1);
               
            });
            if($('#isTitleTrack option:selected').text()=="Yes"){

                $('#needTrack').show();
               
                var e = $('#acceptMethod option:selected').text();
                passvalue(e);
                $('#acceptMethod').change(function(){
                    var e = $('#acceptMethod option:selected').text();
                    //alert(e);
                    passvalue(e);
                });
            }
            else {

                $('#needTrack').hide();

            }

              
            var e2 = $('#timeLimit option:selected').text();
            passvalueTimeLimit(e2);
            $('#timeLimit').change(function(){
                var e2 = $('#timeLimit option:selected').text();
               
                passvalueTimeLimit(e2);
               
            });
            if ($('#receiptRequired option:selected').text()=="Yes") {
                $('#needReceipt').show();
                   
                   
            }

            else {
                $('#needReceipt').hide();
            }

            $('#receiptRequired').change(function () {

                if ($('#receiptRequired option:selected').text()=="Yes") {
                    $('#needReceipt').show();
                   
                   
                }

                else {
                    $('#needReceipt').hide();
                }

            });
           
            
          
        }

        if(@ViewBag.Edit ==1){

            $.fn.editFunc();
        }

        else if(@ViewBag.Edit !=1){

            $.fn.loadFunc();
        }

    });



    //Back Button
    $(function () {
        $('#btnPreStep9').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("Step8", "SetupProcess")',
                type: 'GET',
                data: { edit: 1 },

                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();

                },
                error: function (request, status, error) {
                    handleErrorMsg(request.responseText);

                }
            });
        });
    });

    Progress(9);
</script>

