@model BankLoanSystem.Models.User
@{
    ViewBag.Title = "Step3";
    Layout = "~/Views/Shared/_SetupProcess.cshtml";
}
<link href="~/Content/steps.css" rel="stylesheet" />

<script>
    progress(3);


</script>
   


    <div class="row">



        <div class="container body-content">

            <h2>Create User</h2>

            @if (ViewBag.SuccessMsg != null && ViewBag.SuccessMsg.ToString().Equals("User Successfully Created"))
            {
                @ViewBag.SuccessMsg
                <div class="form-group">
                    <div>

                        <nav>
                            <ul class="pager">


                                <li>
                                    <input type="button" value="Create a New User" class="btn btn-primary m-b" style="float:left;margin-left:10px" onclick="location.href='@Url.Action("Step3")' " />
                                </li>

                                <li>
                                    <input type="button" value="Next" class="btn btn-primary m-b" style="float:right;margin-left:10px" onclick="location.href='@Url.Action("Step4")' " />
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            }

            else {

                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { })<span style="color: red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.NewEmail, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.NewEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NewEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (ViewBag.CurrUserRoleType != 2)
                        {
                            <div class="form-group">
                                <div class="control-label col-sm-2">
                                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { })<span style="color:red">*</span>
                                </div>

                                <div class="col-xs-8">
                                    @Html.DropDownListFor(model => model.BranchId, null, "Select branch", htmlAttributes: new { @class = "form-control", id = "BranchId" })
                                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { })<span style="color:red">*</span>
                            </div>

                            <div class="col-xs-8">
                                @Html.DropDownListFor(model => model.RoleId, null, "Select role", htmlAttributes: new { @class = "form-control", id = "RoleId" })
                                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger", @id = "RoleIdValidate" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div>

                                <nav>
                                    <ul class="pager">
                                        

                                        <li>
                                            <input type="button" id="clear" value="Clear" class="btn btn-primary m-b" style="float:left;margin-left:10px"  />
                                        </li>

                                        <li>
                                            <input type="button" value="Skip" class="btn btn-primary m-b" style="float:right;margin-left:10px" onclick="location.href='@Url.Action("Step4")' " />
                                        </li>

                                        <li>
                                            <input type="submit" value="Create" class="btn btn-primary m-b" style="float:right" />
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                }

                <div>

                </div>

            }
        </div>


    </div>

<script>


    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
    });


</script>









    


                    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                    <script src="~/Scripts/jquery.validate.min.js"></script>
                    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


